<script type="text/javascript">
            // When the document is ready
      function conMayusculas(field) {
        field.value = field.value.toUpperCase()
      };
      //*** Este Codigo permite Validar que sea un campo Numerico
            function soloNumerico(variable){
                Numer=parseInt(variable);
                if (isNaN(Numer)){
                    return "";
                }
                return Numer;
            }
            function valNumero(Control){
                Control.value=soloNumerico(Control.value);
            }
            //*** Fin del Codigo para Validar que sea un campo Numerico
</script>
<div  class="col-md-12" ng-controller="rolesController" data-ng-init="inicioRoles()">
    <table width="100%">
        <td><h3>Roles</h3></td>
    </table>
    <br/>
    <div class="row">
        <table ng-table="tablaRoles" show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="rol in $data" ng-class="{'colorInactivo': rol.rlsEstado == 'INACTIVO'}">
                <a class="btn btn-primary" ng-click="limpiar()" data-toggle="modal" data-target="#registro">
                    <i class="glyphicon glyphicon-plus-sign"></i> Nuevo Rol
                </a>
                <td align="center" data-title="'Opciones'">
                    <a class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro" ng-click="modificarRolCargar(rol)"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a onclick="" data-toggle="modal" data-target="#registro" ng-click="eliminarRolCargar(rol)" class="btn btn-default btn-circle" ><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                </td>
                <!--td data-title="'ID'">{{rol.rlsId}}</td-->
                <td data-title="'Rol'" sortable="'rlsRol'" filter="{'rlsRol':'text'}">{{rol.rlsRol}}</td>
                <td data-title="'Registrado'" sortable="'rlsRegistrado'" filter="{'rlsRegistrado':'text'}">{{rol.rlsRegistrado}}</td>
                <td data-title="'Modificado'" sortable="'rlsModificado'" filter="{'rlsModificado':'text'}">{{rol.rlsModificado}}</td>
                <td data-title="'Estado'" sortable="'rlsEstado'" filter="{'rlsEstado':'text'}">{{rol.rlsEstado}}</td>
            </tr>
        </table>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioRoles" novalidate>
                        <div class="form-group">
                            <label for="url" >Rol:</label>
                            <div class="controls">
                                <input  ng-value="&nbsp;" ng-model="datosRol.rlsRol" name="rlsRol" id="rlsRol" class="form-control" type="text" placeholder="ingrese nombre de rol" ng-disabled="only" ng-required="true" onkeyUp="return conMayusculas(this)">
                                <span style="color:red" ng-show="formularioRoles.rlsRol.$invalid">
                                    <span ng-show="formularioRoles.rlsRol.$error.required">Nombre de Rol es requerido.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button data-dismiss="modal" ng-click="adicionarRol(datosRol)" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioRoles.rlsRol.$invalid">Guardar</button>
                    <button ng-click="modificarRol(datosRol.rlsId,datosRol)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioRoles.rlsRol.$invalid">Modificar</button>
                    <button ng-click="eliminarRol(datosRol.rlsId)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>