<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
      <script type="text/javascript" src="../../view/servicios/atm/atm_inmuebles.js"></script>
      <script type="text/javascript" src="../../libs/js/jic.js"></script>
      <script type="text/javascript" src="../../libs/js/jszip.js"></script> 
  </head>    
  <style>
    input:required:invalid {
      border: 1px solid red;
    }
    input:required:valid {
      border: 1px solid green;
    }
    select:required:invalid {
      border: 1px solid red;
    }
    select:required:valid {
      border: 1px solid green;
    }
    .form-group {
      padding-left: 8px;
    }
  </style>
  <script type="text/javascript">
    $('.custom-upload input[type=file]').change(function(){
      $(this).next().find('input').val($(this).val());
      angular.element(this).scope().cambiarFile(this, $(this).val());
    });
      function iniciarLoadFyle(){
          $('.custom-upload input[type=file]').change(function(){
          $(this).next().find('input').val($(this).val());
          angular.element(this).scope().cambiarFile(this, $(this).val());
          });
      }
    $('.clockpicker').clockpicker();
  </script>
  
  <script type="text/javascript">
    function soloNumericoCelular(sValor){
      Numer=parseInt(sValor);
      if (isNaN(Numer)){
        return "";
      }else{
        var digits = ("" + Numer).split("");
        if(digits.length > 0 && (digits[0] == 7 || digits[0] == 6)){
          return Numer;
        }else{
          return "";
        }
      }
    }
    function valNumeroCelular(Control){
      Control.value = soloNumericoCelular(Control.value);
    }
      //VALORES NUMERICOS
      function soloNumerico(variable){
        Numer=parseInt(variable);
        if (isNaN(Numer)){
          return "";
        }
        return Numer;
      }
  
      function valNumero(Control){
        Control.value=soloNumerico(Control.value);
      }
  </script>
  
  <script type="text/javascript">
    function soloNumericoTelefono(sValor){
      Numer=parseInt(sValor);
      if (isNaN(Numer)){
        return "";
      }else{
        var digits = ("" + Numer).split("");
        if(digits.length > 0 &&digits.length < 8  && (digits[0] == 2 || digits[0] == 3 || digits[0] == 4)){
          return Numer;
        }else{
          return "";
        }
      }
    }
    function valNumeroTelefono(Control){
      Control.value = soloNumericoTelefono(Control.value);
    }
      //VALORES NUMERICOS
      function soloNumerico(variable){
        Numer=parseInt(variable);
        if (isNaN(Numer)){
          return "";
        }
        return Numer;
      }
  
      function valNumero(Control){
        Control.value=soloNumerico(Control.value);
      }
  
    function vsuperficie(ob)
    {
      var invalidChars = /[a-zA-ZÁáÀàÉéÈèÍíÌìÓóÒòÚúÙùÑñüÜ¡!@#/;//\$%\^&\*\¿?_~();:{}'"|<>´ñ?`=a-zA-Z]/;
        if(invalidChars.test(ob.value)) {
            ob.value = ob.value.replace(invalidChars,"");
        };
    }
  </script>
  <script>
    $(function () {
      $('#FECHAINICIO').fdatepicker({
        closeButton: true
      });
      $('#FECHAFIN').fdatepicker({
        closeButton: true
      });
    });
  </script>
  <!-- OCULTANDO COMBO TIPO DE PERSONA -->
  <script type="text/javascript">
      var cboTipoCon = document.getElementById("tipo_contribuyente");
        if(cboTipoCon){
          cboTipoCon.style.display = 'none';
      }
  
      function accessScope(node, func) {
          var scope = angular.element(document.querySelector(node)).scope();
          scope.$apply(func);
      }
  
      function initMap()
      {
        accessScope('#outerMapaActividad', function (scope) {
          scope.initMap();
        });
  
      }
  </script>
     <script type="text/javascript">
      // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
      </script>
<div  ng-controller="atmInmueblesController" data-ng-init="inicioInmuebles();">
    <div class="ibox-content">
        <form name="signupForm"  ng-controller="serviciosAtmController" class="form-horizontal" role="form" novalidate>
            <div class="col-md-12">
                    <legend>INMUEBLES:</legend>
            </div>

        </form>
    </div>
    <div>
        <div class="col-md-12">
                <legend>DATOS DEL SOLICITANTE:</legend>
        </div>
    </div>
    <div ng-show="divNatural != null">
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Nombres:</label>
                <div class="controls">
                    <input ng-model="datos.FA_NOMB" id="FA_NOMB" name="FA_NOMB" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Paterno:</label>
                <div class="controls">
                    <input ng-model="datos.FA_AP_PAT" id="FA_AP_PAT" name="FA_AP_PAT" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Materno:</label>
                <div class="controls">
                    <input ng-model="datos.FA_AP_MAT" id="FA_AP_MAT" name="FA_AP_MAT" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="form-group" >
                    <label for="url" >Apellido Casada:</label>
                    <div class="controls">
                        <input ng-model="datos.FA_AP_CAS" id="FA_AP_CAS" name="FA_AP_CAS" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Tipo de Documento:</label>
                <div class="controls">
                    <input ng-model="datos.FA_TIPO_DOC" id="FA_TIPO_DOC" name="FA_TIPO_DOC" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Número de documento:</label>
                <div class="controls">
                    <input ng-model="datos.FA_NUM_DOC" id="FA_NUM_DOC" name="FA_NUM_DOC" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Expedido:</label>
                <div class="controls">
                    <input ng-model="datos.FA_EXP" id="FA_EXP" name="FA_EXP" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Género:</label>
                <div class="controls">
                    <input ng-model="datos.FA_TIPO_GEN" id="FA_TIPO_GEN" name="FA_TIPO_GEN" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Correo Electrónico:</label>
                <div class="controls">
                    <input ng-model="datos.FA_CORR" id="FA_CORR" name="FA_CORR" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Celular:</label>
                <div class="controls">
                    <input ng-model="datos.FA_CEL" id="FA_CEL" name="FA_CEL" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>
            </div>
        </div>
              
        <!-- datos de la direccion del contribuyente-->
          <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Zona:</label>
                <div class="controls">
                    <input ng-model="datos.f01_zon_prop_valor" id="f01_zon_prop_valor" name="f01_zon_prop_valor" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                    <input  type="hidden" ng-model="datos.f01_zona" id="f01_zona" name="f01_zona" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Tipo de vía:</label>
                <div class="controls">
                <input ng-model="datos.FA_TIPO_VIA" id="FA_TIPO_VIA" name="FA_TIPO_VIA" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Nombre de vía:</label>
                <div class="controls">
                    <input ng-model="datos.FA_NOM_VIA" id="FA_NOM_VIA" name="FA_NOM_VIA" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label for="url" >Nro. Vivienda:</label>
                <div class="controls">
                    <input ng-model="datos.FA_NUM_DOM" id="FA_NUM_DOM" name="FA_NUM_DOM" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                </div>

            </div>
        </div>
    </div>

    <div class="ibox-content">
        <form name="signupForm"   class="form-horizontal" role="form" novalidate>
            <div class="col-md-12">
                    <legend>DATOS DEL TRAMITE:</legend>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="form-group" >
            <label for="url" >PMC:</label>
            <div class="controls">
                <input ng-model="datos.FA_PMC" id="FA_PMC" name="FA_PMC" class="form-control"  width="30%" height="30" required/>
            </div>
            <span style="color:red" ng-show="signupForm.FA_PMC.$invalid">
                <span ng-show="signupForm.FA_PMC.$error.required">Es requerido.
                </span>
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" >
            <label for="url" >Nro. trámites:</label>
            <div class="controls">
                <input ng-model="datos.IN_CAN_TRAM" id="IN_CAN_TRAM" name="IN_CAN_TRAM" class="form-control"  width="30%" height="30" required/>
            </div>
            <span style="color:red" ng-show="signupForm.IN_CAN_TRAM.$invalid">
                <span ng-show="signupForm.IN_CAN_TRAM.$error.required">Es requerido.
                </span>
            </span>
        </div>
    </div>
    <div class="col-md-4" id="Contribuyente">
            <div class="form-group" >
                <label for="url" >Calidad de Contribuyente:</label>
                <div class="controls">
                    <select id="IN_CAL_CONTRI" class="form-control" name="IN_CAL_CONTRI" ng-model="datos.IN_CAL_CONTRI" required>
                        <option value="">--Seleccionar--</option>
                        <option value="1">PROPIETARIO</option>
                        <option value="2">APODERADO</option>
                        <option value="3">TERTCERO RESPONSABLE</option>
                    </select>
                </div>
                <span style="color:red" ng-show="signupForm.IN_CAL_CONTRI.$invalid">
                    <span ng-show="signupForm.IN_CAL_CONTRI.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
    <div class="col-md-4">
        <div class="form-group" >
            <font color="#FF0000" size="4px"> * </font>
            <label for="url" >Tipo de trámite: <font color="#FF0000"> * </font></label>
            <div class="controls">
                <select 
                    id="FA_TTRI" 
                    name="FA_TTRI" 
                    placeholder="-- Seleccione --" 
                    ng-model="datos.FA_TTRI" 
                    class="form-control" 
                    ng-change="subtiposTramitesInmuebles(datos.FA_TTRI)" 
                    required>
                    <option style="display:none" value="">--Seleccione--</option>
                </select>
            </div>
        </div>
    </div>

    

    <div class="col-md-4" id="clasificación">
        <div class="form-group" >
            <font color="#FF0000" size="4px"> * </font>
            <label for="url" >SubTipo de Trámite: <font color="#FF0000"> * </font></label>
            <div class="controls">
                <select id="FA_CTRI" class="form-control" name="FA_CTRI" ng-model="datos.FA_CTRI"
                    id="FA_CTRI" 
                    name="FA_CTRI" 
                    placeholder="-- Seleccione --" 
                    ng-model="datos.FA_CTRI" 
                    class="form-control" 
                    ng-options="dato.tramiteIdCla as dato.tramiteNombreCla for dato in datosC"
                    ng-disabled="desabilitado" required>
                    <option style="display:none" value="">--Seleccione--</option>
                </select>
            </div>
        </div>
    </div>
 
    <div class="ibox-content">
        <form name="signupForm"  class="form-horizontal" role="form" novalidate>
            <div class="col-md-12">
                    <legend>ADJUNTAR DOCUMENTACIÓN:</legend>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="form-group" >
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <label for="url">{{translateTitulos.lbl_09_02}} (Anverso):</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group custom-upload">
                            <div ng-show="validadoCI == null">
                                <input type="file" id="FILE_FOTOCOPIA_CI" name="FILE_FOTOCOPIA_CI" uploader-model="FILE_FOTOCOPIA_CI" accept="image/*" style="display: none;">
                                <div class="input-group">                                                                            
                                    <input id="txt_FILE_FOTOCOPIA_CI" name="txt_FILE_FOTOCOPIA_CI" ng-model="registro.FILE_FOTOCOPIA_CI" type="text" ng-disabled="true" class="form-control input-lg" required>
                                    <span class="input-group-btn">
                                        <a id="FILE_FOTOCOPIA_CI"  href="">
                                            <button id="href_FILE_FOTOCOPIA_CI" class="browse btn btn-primary input-lg" type="button" ng-show="btover != null" ng-click="mostrarimg('ci');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                        </a>
                                        <button id="btn_FILE_FOTOCOPIA_CI" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_FOTOCOPIA_CI');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                    </span>
                                </div>											
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group" >
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <label for="url">{{translateTitulos.lbl_09_02}} (Reverso):</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group custom-upload">
                            <div ng-show="validadoCI == null">
                                <input type="file" id="FILE_FOTOCOPIA_CI_R" name="FILE_FOTOCOPIA_CI_R" uploader-model="FILE_FOTOCOPIA_CI_R" accept="image/*" style="display: none;">
                                <div class="input-group">
                                    <input id="txt_FILE_FOTOCOPIA_CI_R" name="txt_FILE_FOTOCOPIA_CI_R" ng-model="registro.FILE_FOTOCOPIA_CI_R" type="text" ng-disabled="true" class="form-control input-lg" required>
                                    <span class="input-group-btn">
                                        <a id="FILE_FOTOCOPIA_CI_R"  href="">
                                            <button id="href_FILE_FOTOCOPIA_CI" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('ciR');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                        </a>
                                        <button id="btn_FILE_FOTOCOPIA_CI" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_FOTOCOPIA_CI_R');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="validadoCI != null" style="width: 70%;">
                                <input ng-model="registro.FILE_FOTOCOPIA_CI_R" type="text" ng-disabled="false" required class="form-control" readonly="readonly" >
                                <button class="btn btn-default btn-circle pull-right" ng-show="btover != null" ng-click="mostrarimg('ciR');" data-toggle="modal" > <i class="fa fa-eye fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" >
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <label for="url">Título de Propiedad:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group custom-upload">
                            <div ng-show="validadoCI == null">
                                <input type="file" id="FILE_FOTOCOPIA_CI_R" name="FILE_FOTOCOPIA_CI_R" uploader-model="FILE_FOTOCOPIA_CI_R" accept="image/*" style="display: none;">
                                <div class="input-group">
                                    <input id="txt_FILE_FOTOCOPIA_CI_R" name="txt_FILE_FOTOCOPIA_CI_R" ng-model="registro.FILE_FOTOCOPIA_CI_R" type="text" ng-disabled="true" class="form-control input-lg" required>
                                    <span class="input-group-btn">
                                        <a id="FILE_FOTOCOPIA_CI_R"  href="">
                                            <button id="href_FILE_FOTOCOPIA_CI" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('ciR');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                        </a>
                                        <button id="btn_FILE_FOTOCOPIA_CI" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_FOTOCOPIA_CI_R');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="validadoCI != null" style="width: 70%;">
                                <input ng-model="registro.FILE_FOTOCOPIA_CI_R" type="text" ng-disabled="false" required class="form-control" readonly="readonly" >
                                <button class="btn btn-default btn-circle pull-right" ng-show="btover != null" ng-click="mostrarimg('ciR');" data-toggle="modal" > <i class="fa fa-eye fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" >
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <label for="url">Tarjeta de propiedad:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group custom-upload">
                            <div ng-show="validadoCI == null">
                                <input type="file" id="FILE_FOTOCOPIA_CI_R" name="FILE_FOTOCOPIA_CI_R" uploader-model="FILE_FOTOCOPIA_CI_R" accept="image/*" style="display: none;">
                                <div class="input-group">
                                    <input id="txt_FILE_FOTOCOPIA_CI_R" name="txt_FILE_FOTOCOPIA_CI_R" ng-model="registro.FILE_FOTOCOPIA_CI_R" type="text" ng-disabled="true" class="form-control input-lg" required>
                                    <span class="input-group-btn">
                                        <a id="FILE_FOTOCOPIA_CI_R"  href="">
                                            <button id="href_FILE_FOTOCOPIA_CI" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('ciR');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                        </a>
                                        <button id="btn_FILE_FOTOCOPIA_CI" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_FOTOCOPIA_CI_R');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="validadoCI != null" style="width: 70%;">
                                <input ng-model="registro.FILE_FOTOCOPIA_CI_R" type="text" ng-disabled="false" required class="form-control" readonly="readonly" >
                                <button class="btn btn-default btn-circle pull-right" ng-show="btover != null" ng-click="mostrarimg('ciR');" data-toggle="modal" > <i class="fa fa-eye fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
 
    </div>
    <div class="ibox-content">
        <form name="signupForm"   class="form-horizontal" role="form" novalidate>
            <div class="col-md-12">
                    <legend>OBSERVACIONES:</legend>
            </div>
        </form>
    </div>
    <div class="col-md-10">
        <div class="form-group" >
            <label for="url" ></label>
            <textarea rows="4" cols="100">

            </textarea>
        </div>
    </div>

    <div class="col-md-6" align="center">
        <!-- GNERADOR DE CAPCHA -->
        <div class="col-md-12" align="center" >
            <table width="50%" border="0" cellspacing="0" cellpadding="2"  class="one">
                <tr class="color">
                    <div style="background: #ffffff;" >
                        <div class="box2">
                            <img class="img-responsive" src="{{imageCSTT}}" title="{{toltipT}}">
                        </div>
                        <div class="box2">
                            <img class="img-responsive" src="{{imageLNGG}}"  title="Palabra en CASTELLANO">
                        </div>
                    </div>
                </tr>
                <tr class="color">
                    <td class="color22" colspan="3" width="70"  align="center">
                        <input id="resultadoCC"  name="resultadoCC" type="text" style="border: 0px !important;" class="form-control"  placeholder="{{palabraT}}" ng-model="resultadoCC" ng-keyup="VerificarCapchaa()"/>
                        <span  ng-show="formulario.palabraT.$invalid">
                            <span ng-show="formulario.palabraT.$error.required">{{palabraT}}.</span>
                        </span>
                        <label >{{palabraT}}</label>
                    </td>
                    <td class="color2" width="30"  align="center">
                        <a type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target="modal" ng-click="getCaptchasXX();"><i class="fa fa-refresh fa-lg" aria-hidden="true" style="color:#6F7072" title="Actualizar"></i>
                        </a>
                    </td>
                </tr>
            </table>
            <b><font SIZE=3 color="red"> {{ErrorCapchasXX}}</font></b>
            <b><font SIZE=3 color="red"> {{ErrorCapchasXX2}}</font></b>
            <b><font SIZE=2 color="green"> {{SuccesCapchasxx}}</font></b>
        </div>
    </div>
        <!-- ********************* -->
    <p><p>           
    <div class="col-md-12" align="right" >
        <button  ng-click="verificarCamposInternetAtm(datos);getCaptchasXX" type="button" class="btn btn-success1 fa fab fa-save shake-little" name="formEnviar" tooltip="Guardar Formulario"><!--{{translateTitulos.lbl_016_29}}--></button><!--cambios-->                        
        <button   ng-click="validarEnvioAtm(datos);" data-dismiss="modal" type="button" class="btn btn-success1 fa fab fa-mail-forward shake-little" tooltip="Enviar Formulario" ><!--{{translateTitulos.lbl_016_30}}--></button><!--cambios-->
    </div>  
                     
</div>


