<script type="text/javascript">
            // When the document is ready
      function conMayusculas(field) {
        field.value = field.value.toUpperCase()
      };
      //*** Este Codigo permite Validar que sea un campo Numerico
            function soloNumerico(variable){
                Numer=parseInt(variable);
                if (isNaN(Numer)){
                    return "";
                }
                return Numer;
            }
            function valNumero(Control){
                Control.value=soloNumerico(Control.value);
            }
            //*** Fin del Codigo para Validar que sea un campo Numerico
</script>
<div  class="col-md-12" ng-controller="dms_documentosController" data-ng-init="inicioDocumentos()">
    <table width="100%">
        <td><h3>Gestion Documental</h3></td>
    </table>
    <br/>
 <div class="col-md-12">
 
 
 <!-- *************************************************** PROPIEDADES DE OBJETOS 1***************************************  -->

<div   class="{{clase222}}" ng-show = "personaNatural1 == null">

<div class="panel panel-default">
            <div class="panel-heading"><B> Mis Documentos </B></div>
            <div class="panel-body"  >
       <div  ng-show = "personaNatural1 == null">
                   <form name="formularioBuscar" readOnly="true" novalidate>
                        <div class="row" ng-show = "frmPersonaNatural1 == null">
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Sistema:</label>
                                    <input  ng-model="busqueda.sistema" id="sistema" name="sistema" class="form-control" type="text" placeholder="Ingrese Nro. Sistema" ng-disabled="desabilitado"
                                    size="10" onkeyup="deshabilita(this.form);valNumero(this);" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Proceso:</label>
                                    <input  ng-model="busqueda.proceso" id="proceso" name="proceso" class="form-control" type="text" placeholder="Ingrese Nro. Proceso" size="10" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Nodo/CI:</label>
                                    <input  ng-model="busqueda.nodo" id="nodo" name="nodo" class="form-control" type="text" placeholder="Ingrese Nro. Nodo" size="10" >
                                </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group" >
                                  <button  name="btnBuscar" ng-click="buscarDocumentos(busqueda)" data-dismiss="modal" type="button" class="btn btn-default btn-circle">
                                  <i class="fa fa-search" style="color:#249FE6" title="Buscar"></i> </button> 
                                      
                              </div>
                            </div>                        
                        </div>
                    </form>
                </div>
            <div  >       
                      <br>  
                    <a class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro" ng-click="cargarComboDocumentacion();limpiar()"><i class="fa fa-upload fa-2x" style="color:#249FE6" title="Subir Documento"></i></a>&nbsp;&nbsp;  
                    <a class="btn btn-default btn-circle" data-toggle="modal"  ng-click="eleborar()"><i class="fa fa-pencil fa-2x" style="color:#249FE6" title="Elaborar Documento"></i></a>
                    </br>         
                    </br>         
                      <div class="table-responsive">
                          
                          <table show-filter="true" class="table table-striped table-bordered ">
                              <thead>                       
                                  <th class="text-center" style="width:8%">&nbsp;</th>
                                  <th class="text-center" style="width:5%">#&nbsp;</th>                                  
                                  <!-- <th class="text-center" style="width:10%">SISTEMA&nbsp;</th>
                                  <th class="text-center" style="width:10%">PROCESO&nbsp;</th>  -->                                 
                                  <th class="text-center" style="width:10%">CI/Nodo&nbsp;</th>
                                  <th class="text-center" style="width:10%">TIPO DE DOCUMENTO&nbsp;</th>                        
                                  <th class="text-center" style="width:10%">URL&nbsp;</th>                         
                                  <th class="text-center" style="width:10%">ACCESO&nbsp;</th>                         
                                  <th class="text-center" style="width:10%">DIAS DE PUBLICACIÓN&nbsp;</th>                         
                                  <th class="text-center" style="width:10%">FECHA FIN &nbsp;</th>                         
                                  <th class="text-center" style="width:10%">FIRMA &nbsp;</th>                         
                                  <th class="text-center" style="width:10%">OPCIONES&nbsp;</th>
                              </thead>
                              <tbody>
                                  <tr class="column" ng-repeat="obtObejtoDeposi1 in obtDatos" ng-style="obtObejtoDeposi1.vtiempo=='HOY' && {'background-color':'#FBD5E0','font-color':'#FBD5E0'}  || obtObejtoDeposi1.vtiempo=='CERCA' && {'background-color':'orange','font-color':'orange'}" ng-show="obtObejtoDeposi1.vtiempo !='VENCIDO' || obtObejtoDeposi1.vdoc_acceso !='PUBLICO' ">
                                      <td align="center">
                                        <a ng-show="obtObejtoDeposi1.vdoc_tipo_documentacion=='E'" class="btn btn-default btn-circle"   ng-click="modificarElaboracion(obtObejtoDeposi1)"><i class="fa fa-pencil fa-2x" style="color:#249FE6" title="Modificar Elaboración"></i></a>
                                        <a ng-show="obtObejtoDeposi1.vdoc_tipo_documentacion=='U'" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro" ng-click="modificarDocumentoCargar(rol)"><i class="fa fa-pencil fa-2x" style="color:#249FE6"></i></a>

                                        <a onclick="" data-toggle="modal" data-target="#registro" ng-click="eliminarDocumentoCargar(rol)" class="btn btn-default btn-circle" ><i class="fa fa-trash-o fa-2x" style="color:#249FE6"></i></a>
                                      </td>
                                      <td>&nbsp; {{$index+1}}</td>                                      
                                      <!-- <td>&nbsp; {{obtObejtoDeposi1.vdoc_sistema}}</td>
                                      <td>&nbsp; {{obtObejtoDeposi1.vdoc_proceso}} </td>  -->                                     
                                      <td>&nbsp; {{obtObejtoDeposi1.vdoc_ci_nodo}}</td> 
                                      <td>&nbsp; {{obtObejtoDeposi1.vtps_doc_tipo_doc}}</td>                          
                                                               
                                      <!-- <td>&nbsp; {{obtObejtoDeposi1.vdoc_url}} </td> -->
                                      <td align="center">
                                       <!--  <a onclick="" data-toggle="modal" data-target="#modalImprimir" ng-click="VistapreviaDoc(obtObejtoDeposi1)" class="btn btn-default btn-circle" ><i class="fa fa-trash-o" style="color:#249FE6"></i></a> -->


                                        <a href="{{obtObejtoDeposi1.vdoc_url_logica}}" target="_black"><img ng-show="adjunto.vdoc_tipo_documento=='jpeg' || adjunto.vdoc_tipo_documento=='jpg' || adjunto.vdoc_tipo_documento=='png'" ng-src="{{adjunto.vdoc_url_logica}}" width="75px" height="75px" title="Ver">Descargar</a>                             
                                 <a ng-show="adjunto.vdoc_tipo_documento=='pdf'" name="btnIImprmir" id="btnIImprmir" type="button" class="btn btn-default btn-circle"  href="{{adjunto.vdoc_url_logica}}" target="_black">
                                <i  class="fa fa-print" style="color:#249FE6" title="Ver">
                                      <td>&nbsp; {{obtObejtoDeposi1.vdoc_acceso}}</td> 
                                      <td class="text-center">&nbsp; {{obtObejtoDeposi1.vdoc_tiempo}}</td> 
                                      <td>&nbsp; {{obtObejtoDeposi1.vfechafinpublicacion}}</td> 
                                    </i>
                                    </a>
                                </td> 
                                <td align="center"> 
                                  <a  ng-show="obtObejtoDeposi1.vdoc_firma_digital=='1'" data-toggle="modal" class="btn btn-default btn-circle" ><i class="fa fa-key fa-2x" style="color:#249FE6"></i></a>                                  
                                </td>
                                <td align="center"> <a type="button"  class="btn btn-default btn-circle" data-toggle="modal" data-target=""  ng-click="cargarInformacion2(obtObejtoDeposi1);"><i class="fa fa-info fa-2x" style="color:#249FE6" title="Información de Documento"></i></a>&nbsp;&nbsp;                                      
                                </td>
                                </tr>
                              </tbody>
                          </table>            
                      </div>
                  </div>
          </div>      
    </div>
  
  
 
<!-- ****************************************** FIN VISTA DE`PROPIEDADES **************************************************** -->

</div>
<div   class="{{clase22}}" ng-show = "cargarInformacionvista12 != null">

<div class="row" >
             <div width="40%" align="right"  class="col-md-12">
                <a align="right" ng-show = "cargarInformacionvista12!= null" type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target=""  ng-click="volver();"><i class="fa fa-mail-reply fa-2x" style="color:#249FE6" title="Volver"></i></a>                       
                </div>
          </div>       
          <div class="row panel panel-default" ng-show = "cargarInformacionvista12!= null">

                        <table class="table table-hover">
                            <thead>
                                <tr >
                                    <th><br>DATOS DEL ADJUNTO</th>
                                </tr>
                            </thead>                           
                            <tbody>
                  <tr>
                                    <td>
                                        <div class="col-sm-4" style="color:#317eac"><b>Sistema:</b></div>
                                        <div class="col-sm-7" style="color:#777">{{sistema}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-sm-4" style="color:#317eac"><b>Proceso:</b></div>
                                        <div class="col-sm-7" style="color:#777">{{proceso}}</div>
                                    </td>
                                </tr>
                                <tr ng-repeat="datop in datos2">
                
                                    <td>
                                        <div class="col-sm-4" style="color:#317eac"><b>{{datop.clave}}:</b></div>                                        
                                        <div class="col-sm-4" style="color:#777"><b>{{datop.valor}}</b></div>                                        
                                        
                                    </td>
                                </tr>                    
                               
                               

                                
                            </tbody>
                        </table>
                       </br>
                    </div>

</div>
</div>

<div class="col-sm-12" ng-show = "elaboracionFor != null">
  <div class="col-sm-4">
    SDFJSD
  </div>
<div class="col-sm-8">

  <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Vista de Elaboración del Documento
            <div class="row" >
             <div width="40%" align="right"  class="col-md-12">
                <a align="right" ng-show = "elaboracionFor!= null" type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target=""  ng-click="volverBandeja();"><i class="fa fa-mail-reply fa-2x" style="color:#249FE6" title="Volver"></i></a>
              </div>
            </div>
          </div> 
          
          <!-- formulario de elaboración******************* -->
           <div class="panel-body">
            
            <form name="formulario1" novalidate>
              <div class="row">                          
                <div>
                  <div class="col-md-3">
                      <div class="form-group" >

                          <label for="url" >Fecha de Elaboración</label>  
                     
                          <div class="controls">
                            <input  ng-model="datosRol.vfechaElavoracion" id="vdoc_url" name="vdoc_url" class="form-control" type="text" placeholder="{{fechadeadjunto}}" ng-disabled="true" required>                                                                
                          </div>                          
                      </div>
                  </div>
                 <!--  <div class="col-md-3">
                    <div class="form-group" >
                        <label for="url" >Categoría:</label>
                          <div class="controls">
                            <select id="vdoc_acceso" class="form-control" ng-model="datosRol.vdoc_acceso" ng-disabled="desabilitado" name="vdoc_acceso">
                                <option value="">-- Seleccione Categoría--</option>
                                <option value="EXTEMPORÁNEO">EXTEMPORÁNEO</option>
                                <option value="NORMAL">NORMAL</option>                                            
                                <option value="URGENTE">URGENTE</option>                                            
                            </select>                                        
                          </div>
                    </div>
                  </div> -->
                  <div class="col-md-3">
                      <div class="form-group" >
                          <label for="url" >Tipificacíon:</label>
                            <div class="controls">
                              <select id="vtps_doc_id" name="vtps_doc_id" ng-model="datosRol.vtps_doc_id" class="form-control" ng-options="datadocumentacion.vtps_doc_id as datadocumentacion.vtps_doc_tipo_doc for datadocumentacion in datadocumentaciones"  ng-change="documentacion(datosRol.vtps_doc_id)" >
                                        <option style="display:none" value="">-- Seleccione Tipo --</option>
                              </select>
                                        
                          </div>
                      </div>
                  </div>
                <div  ng-bind-html="get_pre(html)">               
                </div>
                <div class="col-md-3">
                  <div class="form-group" >
                      <label for="url" >Públicación:</label>
                        <div class="controls">
                          <select id="vdoc_acceso" class="form-control" ng-model="datosRol.vdoc_acceso" ng-disabled="desabilitado" name="vdoc_acceso">  <option style="display:none" value="">-- Seleccione Publicación --</option>
                              <option value="PUBLICO">PUBLICO</option>
                              <option value="PRIVADO">PRIVADO</option>                                            
                          </select>                                        
                        </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group" >
                      <label for="url" >Tiempo de públicación en días :</label>
                        <div class="controls">
                          <input  ng-model="datosRol.vdoc_tiempo" id="vdoc_tiempo" name="vdoc_tiempo" class="form-control" type="number" placeholder="ingrese tiempo de publicación" required>
                          <p class="help-block"><b>Ejemplo:</b>       1 o 0 para infinito </p>
                      </div>
                  </div>
                </div>
                <!-- <div class="col-md-3">
                  <div class="form-group" >
                      <label for="url" >Dirección de almacenamiento:</label>
                      <div class="controls">
                          <input  ng-model="datosRol.vdoc_url" id="vdoc_url" name="vdoc_url" class="form-control" type="text" placeholder="Ingrese la direccion a almacenar" required>
                          <p class="help-block"><b>Ejemplo:</b> C://GestionDocumental//temporal//DMS//INFORME//1</p>
                      </div>
                  </div>
                </div> -->
              <!--   <div class="col-md-8">
                  <div class="form-group" >
                      <label for="url" >No. Referencia:</label>
                      <div class="controls">
                          <input  ng-model="datosRol.Nro" id="vdoc_url" name="vdoc_url" class="form-control" type="text" placeholder="Ingrese No. Referencia" required>
                          <p class="help-block"><b>Ejemplo:</b>  PT 25/23</p>
                      </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="well well-sm"></div>
             <div class="col-md-12">
                  <div class="form-group" >
                      <label for="url" >Cuerpo:</label>                      
                  </div>
                </div>
            <div class="col-md-12">
            <div ng-cloak ng-hide="isReady" class="highlight">
                Initialising ...
            </div>
            <div ng-cloak ng-show="isReady">
                <textarea ckeditor="editorOptions" name="editor" ng-model="datosRol.vdoc_cuerpo" ng-change="save()"></textarea>
            </div>            
         <!--    <button ng-click="save()">Save</button>            -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="volverBandeja()" data-dismiss="modal">Cerrar</button>
                <button data-dismiss="modal" ng-click="guardarElaboracion(datosRol)" type="button" class="btn btn-primary" ng-show="boton1=='new'">Guardar</button>
                <button ng-click="modificar(datosRol)" type="button" class="btn btn-primary" ng-show="boton1=='upd'">Modificar</button>
               <!--  <button ng-click="eliminarII(datos)" type="button" class="btn btn-primary" ng-show="boton=='del'">Eliminar</button>    -->               
            </div>
            {{frm.editor.$dirty}}
            {{frm.$dirty}}
            </div>
          </form>
          </div>
        </div>
        
        </div>



</div>
<!-- *************************************************** PROPIEDADES DE OBJETOS FIN 1***************************************  -->
 
 <!-- MODAL -->
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4><b style="color:#317eac">Fecha de adjunto: </b>{{fechadeadjunto}}
                </div>
                <div class="modal-body" >
                    <form name="formulario" novalidate>
                        <div class="row">
                          <div >
                          <!-- <div ng-show="opcionAdjunto == null"> -->
                          <div class="col-md-12" >
                            <label for="url" >Adjuntar Archivo:</label>
                            <input type="file" nv-file-select="" ng-model="noticia.cntimagen"  uploader="uploader"/>
                          </div>  
                          <div class="col-md-12">
                            <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th width="50%">Nombre</th>
                                        <th ng-show="uploader.isHTML5">Tamano</th>
                                        <th>Estado</th>
                                        <th>Opción</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="datos in uploader.queue ">
                                        <td><strong>{{datos.file.name }}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ datos.file.size/1024/1024|number:2 }} MB</td>
                                            <td class="text-center">
                                            <span ng-show="datos.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="datos.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                            <button ng-show="botonSubirOriginal == null"  type="button" class="btn btn-success btn-xs" ng-click="datos.upload();guardarSerializacion(dispocicion1);" ng-disabled="datos.isReady || datos.isUploading || datos.isSuccess ">
                                            <span class="glyphicon glyphicon-upload"></span> Subir 
                                             </button>
                                            <button ng-show="botonSubirError == null" type="button" class="btn btn-success btn-xs" ng-click="falla();" ng-disabled="datos.isReady || datos.isUploading">
                                            <span class="glyphicon glyphicon-upload"></span> Subir 
                                            </button>
                                            <button ng-show="botonSubireliminar == null" type="button" class="btn btn-danger btn-xs" ng-click="datos.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Eliminar 
                                            </button>
                                         </td>
                                      </tr>
                                    </tbody>
                              </table>
                            </div> 
                          </div> 
                          </div>
                          <div ng-show="opciontiposDocumentacion != null">
                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="url" >Tipos de Documentación:</label>
                                     <div class="controls">
                                       <select id="vtps_doc_id" name="vtps_doc_id" ng-model="datosRol.vtps_doc_id" class="form-control" ng-options="datadocumentacion.vtps_doc_id as datadocumentacion.vtps_doc_tipo_doc for datadocumentacion in datadocumentaciones"  ng-change="documentacion(datosRol.vtps_doc_id)" >
                                        <option style="display:none" value="">-- Seleccione Tipo --</option>
                                       </select>
                                        
                                    </div>
                                </div>
                            </div>
                <div  ng-bind-html="get_pre(html)">               
                </div>
              <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Públicación:</label>
                                     <div class="controls">
                                        <select id="vdoc_acceso" class="form-control" ng-model="datosRol.vdoc_acceso" ng-disabled="desabilitado" name="vdoc_acceso">
                                            <option value="PUBLICO">PUBLICO</option>
                                            <option value="PRIVADO">PRIVADO</option>                                            
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>
              <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Tiempo de públicación en días :</label>
                                     <div class="controls">
                                       <input  ng-model="datosRol.vdoc_tiempo" id="vdoc_tiempo" name="vdoc_tiempo" class="form-control" type="number" placeholder="ingrese tiempo de publicación" required>
                                                            <p class="help-block"><b>Ejemplo:</b>       1 o 0 para infinito </p>
                                    </div>
                                </div>
                            </div>
              <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="url" >Dirección de almacenamiento:</label>
                                    <div class="controls">
                                        <input  ng-model="datosRol.vdoc_url" id="vdoc_url" name="vdoc_url" class="form-control" type="text" placeholder="ingrese la direccion a almacenar" required>
                                        <p class="help-block"><b>Ejemplo:</b> C://GestionDocumental//temporal//DMS//INFORME//1</p>                                        
                                    </div>
                                </div>
                            </div>
                           </div>
                        </div>
                    </form>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button data-dismiss="modal" ng-click="guardar(datosRol)" type="button" class="btn btn-primary"  >Guardar</button>
                    
                </div>
            </div>
        </div>
    </div>

     <!--  ***********************************        MODAL DE IMPRESION Y GENERACIÓN DE PDF     ************************************    -->
    <div class="modal fade  bs-example-modal-lg" id="modalImprimir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{tituloVentana}}</h4>
                </div>
                <iframe frameborder="0" width="100%" height="500"></iframe>
                <div class="modal-footer">
                    <button id="demo2" type="button" class="btn btn-default" data-dismiss="modal">Cancelar </button>
                </div>   
            
            </div>
        </div>   
    </div>
  
  
</div>