<div id="comunicadosController">
  <div id="mostrar" class="ibox-title">
      <h3>COMUNICADO POR CIERRE DE GESTION</h3>
  </div>
  <div class="container">
    <div class="alert alert-warning">
      <strong>
        <h3>Estimado Ciudadano: </h3>
      </strong>
      <br>
      <p>
        <h3>
          El día lunes 31 de diciembre de la presente gestión, debido a la conciliación bancaria  de cierre de gestión anual, es que se SUSPENDERÁ EL SERVICIO DE PAGO DE SERVICIOS MEDIANTE EQUIPOS POS y PAGO  EN LÍNEA  A TRAVÉS DE LA PLATAFORMA TECNOLÓGICA IGOB 24/7.
        </h3>
      </p>
    </div>
  </div>
</div>