
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        
        <script type="text/javascript" src="../../view/servicios/tiendavirtual/tienda/appdatosAE.js"></script>
        <script src="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.js"></script>
        <link rel="stylesheet" href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.core.css" />
        <link rel="stylesheet" href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.default.css" id="toggleCSS" />
        <style type="text/css">
            .main1
            {
                padding-bottom: 20px;
                padding-top: 20px;
                background: rgba(49, 212, 200, 0.15);
                padding-left: 15px;
                padding-right: 15px;
                /*color: #fff;*/
                border-radius: 10px;
            }
        </style>
        <script type="text/javascript">
            $('.custom-upload input[type=file]').change(function(){
                $(this).next().find('input').val($(this).val());
                angular.element(this).scope().cambiarFile(this, $(this).val());
            });
            function iniciarLoadFyle(){
                $('.custom-upload input[type=file]').change(function(){
                $(this).next().find('input').val($(this).val());
                angular.element(this).scope().cambiarFile(this, $(this).val());
                });
            }
            //$('.clockpicker').clockpicker();

            
        </script>
        <style>
            .switch {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 34px;
            }

            .switch input { 
              opacity: 0;
              width: 0;
              height: 0;
            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 26px;
              width: 26px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }

            input:checked + .slider {
              background-color: #2196F3;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }
        </style>

    </head>
    <div class="col-md-12" ng-controller="tiendaVirtualController" ng-init="inicioTiendaVirtual();">
      <div class="ibox float-e-margins">
        <div class="ibox-title cafeSuave" style="border-bottom: solid 0px #E2E2E2 !important;">
            <h4>Datos complementarios de la Tienda Virtual</h4>
        </div>
        <div class="ibox-content">
          <form name="signupForm"  class="form-horizontal" role="form" novalidate>                   
            <div class="row" >
                <div class="col-md-12">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px" align="center"> * </font>
                        <label for="url" >Nombre de la Tienda Virtual:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_nombreTV" id="f01_nombreTV" name="f01_nombreTV" class="form-control" ng-disabled="desabilitado" required/>
                            <span style="color:red" ng-show="signupForm.f01_nombreTV.$invalid">
                                <span align = "right" ng-show="signupForm.f01_nombreTV.$error.required">Nombre de la Tienda Virtual es requerido. </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px" align="center"> * </font>
                        <label for="url" >Descripción de la Tienda Virtual:</label>
                        <div class="controls">
                            <textarea ng-model="datos.f01_descripcionTV" id="f01_descripcionTV" name="f01_descripcionTV" class="form-control" ng-disabled="desabilitado" rows="4" cols="150"></textarea>
                            <span style="color:red" ng-show="signupForm.f01_descripcionTV.$invalid">
                                <span align = "right" ng-show="signupForm.f01_descripcionTV.$error.required">Descripción de la Tienda Virtual es requerido. </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px" align="center"> * </font>
                        <label for="url" >Categoria:</label>
                        <div class="controls">
                            <select id="f01_categoria" class="form-control" ng-model="datos.f01_categoria" name="f01_categoria" ng-disabled="desabilitado" ng-options="cat.spcat_id  as cat.spcat_descripcion  for cat in resultCategorias" required>
                                <option value="">--Seleccionar--</option>
                            </select>
                            <span style="color:red" ng-show="signupForm.f01_categoria.$invalid">
                                <span align = "right" ng-show="signupForm.f01_categoria.$error.required">Categoría es requerido</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px" align="center"> * </font>
                        <label for="url" >Correo Electrónico:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_correoTV" id="f01_correoTV" name="f01_correoTV" class="form-control" ng-keyup="validaCorreo();" ng-disabled="desabilitado" required focus/>
                            <span style="color:red" ng-show="signupForm.f01_correoTV.$invalid">
                                <span align = "right" ng-show="signupForm.f01_correoTV.$error.required">Correo Electrónico es requerido</span>
                            </span>
                            <br><span id ="mensaje1" style = "color:green;font-weight:bold; font-size:12px">El correo es válido.</span>
                            <span id ="mensaje2" style = "color:red;font-weight:bold; font-size:12px">El correo No es válido.</span>
                           <input id="idcorreo" name="idcorreo" type="hidden" value="false">
                           <span style="color:red" ng-show="signupForm.idcorreo.$invalid">
                           <span align = "right" ng-show="signupForm.idcorreo.$error.required">{{translateIdioma.lbl_20_32}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                        <label for="url" >Página Web:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_pagwebAE" id="f01_pagwebAE" name="f01_pagwebAE" class="form-control" ng-disabled="desabilitado"/>
                        </div>
                    </div>
                </div>
                <!--div class="col-md-6">
                    <div class="form-group" >
                        <label for="url" >Forma de Entrega del Producto:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_forma_entrega" id="f01_forma_entrega" name="f01_forma_entrega" class="form-control" ng-disabled="desabilitado"/>
                        </div>
                    </div>
                </div-->
            </div>
            <div class="row"> 
                <div class="ibox-title cafeSuave" style="border-bottom: solid 0px #E2E2E2 !important;">
                    <h4>Adjuntar Imágenes de la Tienda Virtual</h4>
                </div><br>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                        <div class="form-group">
                            <label for="url" >Encabezado de la Pagina Web (Introducir archivos .jpg ó .jpeg ó .png) :</label>
                            <div class="controls">
                                <div class="form-group custom-upload">
                                    <input type="file" id="f01_upload3" name="f01_upload3" accept="image/*"  style="display: none;">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                        <input id="txt_f01_upload3" name="txt_f01_upload3"  ng-model="datos['txt_f01_upload3']"  type="text" placeholder="" class="form-control input-lg" disabled required>
                                        <span class="input-group-btn">
                                            <a id="href_f01_upload3"  ng-show="encabezadotipo_url" href="{{encabezadotipo_url}}" target="_blank">
                                                <button id="btn_f01_upload3" class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                            </a>
                                            <button id="btn_f01_upload3" ng-disabled="data.idnro == 1 || data.idnro == 2 || desabilitado" ng-click="ejecutarFile('f01_upload3', 'data' + $data.resvalor)" class="btnupload browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="url" >Logotipo de la Actividad Económica (Introducir archivos .jpg ó .jpeg ó .png) :</label>
                        <div class="controls">
                            <div class="form-group custom-upload">
                                <input type="file" id="f01_upload2" name="f01_upload2" accept="image/*"  style="display: none;">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                    <input id="txt_f01_upload2" name="txt_f01_upload2"  ng-model="datos['txt_f01_upload2']"  type="text" placeholder="" class="form-control input-lg" disabled required>
                                    <span class="input-group-btn">
                                        <a id="href_f01_upload2"  ng-show="logotipo_url" href="{{logotipo_url}}" target="_blank">
                                            <button id="btn_f01_upload2" class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                        </a>
                                        <button id="btn_f01_upload2" ng-disabled="data.idnro == 1 || data.idnro == 2 || desabilitado" ng-click="ejecutarFile('f01_upload2', 'data' + $data.resvalor)" class="btnupload browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="ibox-title cafeSuave" style="border-bottom: solid 0px #E2E2E2 !important;">
                    <h4>Ingrese los números telefónicos de contacto</h4>
                </div><br>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group" >
                        <label for="url" >Contacto Celular para Whatsapp:</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group" >
                        <input ng-model="datos.f01_contacto_whatsapp" id="f01_contacto_whatsapp" name="f01_contacto_whatsapp" class="form-control"  maxlength="8"  />
                    </div>
                </div>
            </div>
            <div class="row">   
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <div class="form-group" >
                        <label for="url" >Tipo de Contacto:</label>
                        <div class="controls">
                            <select id="f01_contacto1" class="form-control" ng-model="datos.f01_contacto1" name="f01_contacto1" ng-disabled="desabilitado" ng-change="activarCampo1(datos.f01_contacto1)" required>
                                <option value="">--Seleccionar--</option>
                                <option value="CELULAR"> CELULAR </option>
                                <option value="TELÉFONO"> TELÉFONO </option>
                            </select>
                            <br>
                            <select id="f01_contacto2" class="form-control" ng-model="datos.f01_contacto2" name="f01_contacto2" ng-disabled="desabilitado" ng-change="activarCampo2(datos.f01_contacto2)"required>
                                <option value="">--Seleccionar--</option>
                                <option value="CELULAR"> CELULAR </option>
                                <option value="TELÉFONO"> TELÉFONO </option>
                            </select>
                            <br>
                            <select id="f01_contacto3" class="form-control" ng-model="datos.f01_contacto3" name="f01_contacto3" ng-disabled="desabilitado" ng-change="activarCampo3(datos.f01_contacto3)" required>
                                <option value="">--Seleccionar--</option>
                                <option value="CELULAR"> CELULAR </option>
                                <option value="TELÉFONO"> TELÉFONO </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group" >
                        <label for="url" >Número de contacto:</label>
                        <div class="controls">
                            <!--input ng-model="datos.f01_contacto1_nro" id="f01_contacto1_nro" name="f01_contacto1_nro" class="form-control" ng-disabled="inicializaC1" maxlength="8" onkeyUp="return valNumeroTelefono1(this);" /-->                         

                            <input ng-model="datos.f01_contacto1_nro" id="f01_contacto1_nro" name="f01_contacto1_nro" class="form-control" ng-disabled="inicializaC1" maxlength="8" ng-keyUp="valNumTelefono1(datos.f01_contacto1_nro);" />                         
                            <span id ="mensajeT1" style = "color:red;font-weight:bold; font-size:12px">El número de contacto es requerido.</span>
                            <span id ="mensajeT2" style = "color:blue;font-weight:bold; font-size:12px">El número de contacto es válido.</span>
                            <span id ="mensajeT3" style = "color:red;font-weight:bold; font-size:12px">El número de dígitos es incorrectos</span>
                            <br>
                            <input ng-model="datos.f01_contacto2_nro" id="f01_contacto2_nro" name="f01_contacto2_nro" class="form-control" ng-disabled="inicializaC2" maxlength="8" ng-keyUp="valNumTelefono2(datos.f01_contacto2_nro);" />
                            <span id ="mensajeT4" style = "color:red;font-weight:bold; font-size:12px">El número de contacto es requerido.</span>
                            <span id ="mensajeT5" style = "color:blue;font-weight:bold; font-size:12px">El número de contacto es válido</span>
                            <span id ="mensajeT6" style = "color:red;font-weight:bold; font-size:12px">El número de dígitos es incorrectos</span>
                            <br>
                            <input ng-model="datos.f01_contacto3_nro" id="f01_contacto3_nro" name="f01_contacto3_nro" class="form-control" ng-disabled="inicializaC3" maxlength="8" ng-keyUp="valNumTelefono3(datos.f01_contacto3_nro);" />
                            <span id ="mensajeT7" style = "color:red;font-weight:bold; font-size:12px">El número de contacto es requerido.</span>
                            <span id ="mensajeT8" style = "color:blue;font-weight:bold; font-size:12px">El número de contacto es válido</span>
                            <span id ="mensajeT9" style = "color:red;font-weight:bold; font-size:12px">El número de dígitos es incorrectos</span>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>

            <div class="row" >
                <div class="ibox-title cafeSuave" style="border-bottom: solid 0px #E2E2E2 !important;">
                    <h4>Ingrese sus redes sociales</h4>
                </div><br>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <div class="form-group" >
                        <label for="url" >Red Social:</label>
                        <div class="controls">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"  id="f01_redessocialesAE1" name="f01_redessocialesAE1" ng-model="datos.f01_redessocialesAE1" ng-change="activaRedes1(datos.f01_redessocialesAE1)">
                                <label class="custom-control-label" for="defaultUnchecked">Facebook</label>
                            </div>
                            <br>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"  id="f01_redessocialesAE2" name="f01_redessocialesAE2" ng-model="datos.f01_redessocialesAE2" ng-change="activaRedes2(datos.f01_redessocialesAE2)">
                                <label class="custom-control-label" for="defaultUnchecked">Twitter</label>
                            </div>
                            <br>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"  id="f01_redessocialesAE3" name="f01_redessocialesAE3" ng-model="datos.f01_redessocialesAE3" ng-change="activaRedes3(datos.f01_redessocialesAE3)">
                                <label class="custom-control-label" for="defaultUnchecked">Instagram</label>
                            </div><br>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"  id="f01_redessocialesAE4" name="f01_redessocialesAE4" ng-model="datos.f01_redessocialesAE4" ng-change="activaRedes4(datos.f01_redessocialesAE4)">
                            <label class="custom-control-label" for="defaultUnchecked">Youtube</label>
                        </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group" >
                        <label for="url" >URL de la Red Social:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_redessocialesAE1_url" id="f01_redessocialesAE1_url" name="f01_redessocialesAE1_url" class="form-control" ng-keyUp="validaRedes1(datos.f01_redessocialesAE1_url);" ng-disabled="inicializaFacebook"/>
                            <span id ="mensajeR1" style = "color:red;font-weight:bold; font-size:12px">La dirección URL es requerido</span>
                            <span id ="mensajeR2" style = "color:blue;font-weight:bold; font-size:12px">La dirección URL fue introducida correctamente</span>                            
                            <br>
                            <input ng-model="datos.f01_redessocialesAE2_url" id="f01_redessocialesAE2_url" name="f01_redessocialesAE2_url" class="form-control" ng-keyUp="validaRedes2(datos.f01_redessocialesAE2_url);" ng-disabled="inicializaTwitter"/>
                            <span id ="mensajeR3" style = "color:red;font-weight:bold; font-size:12px">La dirección URL es requerido</span>
                            <span id ="mensajeR4" style = "color:blue;font-weight:bold; font-size:12px">La dirección URL fue introducida correctamente</span>                            
                            <br>
                            <input ng-model="datos.f01_redessocialesAE3_url" id="f01_redessocialesAE3_url" name="f01_redessocialesAE3_url" class="form-control" ng-keyUp="validaRedes3(datos.f01_redessocialesAE3_url);" ng-disabled="inicializaInstagram"/>
                            <span id ="mensajeR5" style = "color:red;font-weight:bold; font-size:12px">La dirección URL es requerido</span>
                            <span id ="mensajeR6" style = "color:blue;font-weight:bold; font-size:12px">La dirección URL fue introducida correctamente</span>                            
                            <br>
                            <input ng-model="datos.f01_redessocialesAE4_url" id="f01_redessocialesAE4_url" name="f01_redessocialesA4_url" class="form-control" ng-keyUp="validaRedes4(datos.f01_redessocialesAE4_url);" ng-disabled="inicializaYoutube"/>
                            <span id ="mensajeR7" style = "color:red;font-weight:bold; font-size:12px">La dirección URL es requerido</span>
                            <span id ="mensajeR8" style = "color:blue;font-weight:bold; font-size:12px">La dirección URL fue introducida correctamente</span>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" >
                <div class="ibox-title cafeSuave" style="border-bottom: solid 0px #E2E2E2 !important;">
                    <h4>Catálogo de Productos</h4>
                </div><br>
                <div class="col-md-1">
                </div>
                <!--div class="col-md-5">
                    <div class="form-group" >
                        <label for="url" >Tipo de Oferta:</label>
                        <div class="controls">
                            <select id="f01_ofertasAE1" class="form-control" ng-model="datos.f01_ofertasAE1" name="f01_ofertasAE1" ng-disabled="desabilitado" required>
                                <option value="">--Seleccionar--</option>
                                <option value="DESCUENTO"> DESCUENTO </option>
                                <option value="OFERTA"> OFERTA </option>
                            </select>
                            <br>
                            <select id="f01_ofertasAE2" class="form-control" ng-model="datos.f01_ofertasAE2" name="f01_ofertasAE2" ng-disabled="desabilitado" required>
                                <option value="">--Seleccionar--</option>
                                <option value="DESCUENTO"> DESCUENTO </option>
                                <option value="OFERTA"> OFERTA </option>
                            </select>
                            <br>
                            <select id="f01_ofertasAE3" class="form-control" ng-model="datos.f01_ofertasAE3" name="f01_ofertasAE3" ng-disabled="desabilitado" required>
                                <option value="">--Seleccionar--</option>
                                <option value="DESCUENTO"> DESCUENTO </option>
                                <option value="OFERTA"> OFERTA </option>
                            </select>
                            <br>
                            <select id="f01_ofertasAE4" class="form-control" ng-model="datos.f01_ofertasAE4" name="f01_ofertasAE4" ng-disabled="desabilitado" required>
                                <option value="">--Seleccionar--</option>
                                <option value="DESCUENTO"> DESCUENTO </option>
                                <option value="OFERTA"> OFERTA </option>
                            </select>
                            <br>
                            <select id="f01_ofertasAE5" class="form-control" ng-model="datos.f01_ofertasAE5" name="f01_ofertasAE5" ng-disabled="desabilitado" required>
                                <option value="">--Seleccionar--</option>
                                <option value="DESCUENTO"> DESCUENTO </option>
                                <option value="OFERTA"> OFERTA </option>
                            </select>
                            <br>

                        </div>
                    </div>
                </div
                <div class="col-md-10">
                    <div class="form-group" >
                        <label for="url" >Describa la oferta:</label>
                        <div class="controls">
                            <textarea ng-model="datos.f01_ofertasAE_des1" id="f01_ofertasAE_des1" name="f01_ofertasAE_des1" class="form-control" ng-disabled="desabilitado" rows="4" cols="150" placeholder="Información de la Oferta 1"></textarea>
                            <br>
                            <textarea ng-model="datos.f01_ofertasAE_des2" id="f01_ofertasAE_des2" name="f01_ofertasAE_des2" class="form-control" ng-disabled="desabilitado" rows="4" cols="150" placeholder="Información de la Oferta 2"></textarea>
                            <br>
                            <textarea ng-model="datos.f01_ofertasAE_des3" id="f01_ofertasAE_des3" name="f01_ofertasAE_des3" class="form-control" ng-disabled="desabilitado" rows="4" cols="150" placeholder="Información de la Oferta 3"></textarea>
                            <br>
                            <textarea ng-model="datos.f01_ofertasAE_des4" id="f01_ofertasAE_des4" name="f01_ofertasAE_des4" class="form-control" ng-disabled="desabilitado" rows="4" cols="150" placeholder="Información de la Oferta 4"></textarea>
                            <br>
                            <textarea ng-model="datos.f01_ofertasAE_des5" id="f01_ofertasAE_des5" name="f01_ofertasAE_des5" class="form-control" ng-disabled="desabilitado" rows="4" cols="150" placeholder="Información de la Oferta 5"></textarea>
                            <br>
                        </div>
                    </div>
                </div-->
                <div class="col-md-1">
                </div>
                <div class="col-md-11">
                  <div class="form-group">
                    <label id="lbl_f01_upload" class="col-md-2 control-label">Catálogo de productos (Introducir Archivos tipo .jpg, .png ó .pdf)</label>
                    <div class="controls">
                        <div class="form-group custom-upload">
                            <input type="file" id="f01_upload1" name="f01_upload1" accept="image/*"  style="display: none;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                <input id="txt_f01_upload1" name="txt_f01_upload1"  ng-model="datos['txt_f01_upload1']"  type="text" placeholder="" class="form-control input-lg" disabled required>
                                <span class="input-group-btn">
                                    <a id="href_f01_upload1"  ng-show="catalogo_url" href="{{catalogo_url}}" target="_blank">
                                        <button id="btn_f01_upload1" class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                    </a>
                                    <button id="btn_f01_upload1" ng-disabled="data.idnro == 1 || data.idnro == 2 || desabilitado" ng-click="ejecutarFile('f01_upload1', 'data' + $data.resvalor)" class="btnupload browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                                </span>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <!--div class="col-md-12" align="right">
                <button  type="button" class="btn btn-default ng-binding" ng-disabled=" signupForm.f01_nombreTV.$invalid || signupForm.f01_descripcionTV.$invalid || signupForm.f01_categoria.$invalid ||  signupForm.f01_correoTV.$invalid" ng-click="registrarDatosAE(datos)">Registrar</button>
                <button  type="button" class="btn btn-default ng-binding" ng-disabled=" signupForm.f01_nombreTV.$invalid || signupForm.f01_descripcionTV.$invalid || signupForm.f01_categoria.$invalid ||  signupForm.f01_correoTV.$invalid" ng-click="verificarContactos();actualizarDatosAE(datos)">Modificar</button>                
            </div-->
            <div class="col-md-12" align="right">
                <button ng-show="nuevo!=null" type="button" class="btn btn-default ng-binding" ng-disabled=" signupForm.f01_nombreTV.$invalid || signupForm.f01_descripcionTV.$invalid || signupForm.f01_categoria.$invalid ||  signupForm.f01_correoTV.$invalid" ng-click="registrarDatosAE(datos)">Registrar</button>
                <button ng-show="update!=null" type="button" class="btn btn-default ng-binding" ng-disabled=" signupForm.f01_nombreTV.$invalid || signupForm.f01_descripcionTV.$invalid || signupForm.f01_categoria.$invalid ||  signupForm.f01_correoTV.$invalid" ng-click="verificarContactos();actualizarDatosAE(datos)">Modificar</button>                
            </div>
          </form>
        </div>
      </div>
    </div>
</html>