<html>
<head>
	<!--meta http-equiv="Refresh" content="3;url=http://localhost:3001/24-7beta-master/AngularFrontEnd/index.html"-->
	<script language="JavaScript">
		function redireccionar() {
			var partes = document.location.href.split("/");
			//url = "http://" + partes[2] + "/" + partes[3] + "/" + partes[4] + "/index.html";
			url = "https://igob247.lapaz.bo/";
			setTimeout("location.href='" + url + "'", 0);
		}
	</script>
</head>
<body bgcolor="#fafafa" onLoad="redireccionar()">
	<center>
		<font color="#FFFFFF"><h1>24/7</h1>
		</font>
	</center>
</body>
</html>