  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  /* latin */
  @font-face {
		font-family: 'Montserrat';
		src: url('../../fonts/montserrat/Montserrat-Italic.woff') format('woff');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}
  

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  .textMontserrat{ 
    font-family: "Montserrat"; 
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  /* latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }










body {
  font-family: 'Montserrat';
  background-color: #fff;
  min-height: 100vh; }

  ::-moz-selection {
    background: #000;
    color: #fff; }
  
  ::selection {
    background: #000;
    color: #fff; }

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px; }
  .brand-wrapper .logo {
    height: 65px; }

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 35px 100px; 
  /* padding: 0px 100px;(habilitar para otro login)  */
  background-color: #f5f5f5; 
}

  .loginBackground::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../../images/formLoginII.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 1.0;
    filter: drop-shadow(25px -5px 1px #00000025);
  }

  @media (max-width:1024px){
    .login-section-wrapper {
      padding: 25px; } }

  @media (max-width: 991px) {
    .login-section-wrapper {
padding: 15px; } }
  @media (max-width: 575px) {
    .login-section-wrapper {
padding: 20px;
      min-height: 100vh; } }

.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%; } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #707070; }
    /* .form-group label:focus-within {
      color: #b324eb;
    } */
  .login-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 15px;
    font-weight: 500; }
  .login-wrapper .form-control:focus{
    -webkit-box-shadow: 0 0 0 3px rgb(255, 193, 7);
    box-shadow: 0 0 0 3px rgb(255, 193, 7);}
    .login-wrapper .form-control::-webkit-input-placeholder {
      font-size: 12px;
      font-weight: 600;
      color: #ffc107; }
    .login-wrapper .form-control::-moz-placeholder {
      font-size: 12px;
      font-weight: 600;
      color: #ffc107; }
    .login-wrapper .form-control:-ms-input-placeholder {
      font-size: 12px;
      font-weight: 600;
      color: #ffc107; }
    .login-wrapper .form-control::-ms-input-placeholder {
      font-size: 12px;
      font-weight: 600;
      color: #ffc107; }
    .login-wrapper .form-control::placeholder {
      font-size: 12px;
      font-weight: 600;
      color: #ffc107; }
  .login-wrapper .login-btn {
    padding: 13px 20px;
    background-color: #ffc107;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px; }
    .login-wrapper .login-btn:hover {
      border: 1px solid #ffc107;
      background-color: #fff;
      color: #ffc107; }
  .login-wrapper a.forgot-password-link {
    color: #080808;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 50px; }
    @media (max-width: 575px) {
      .login-wrapper a.forgot-password-link {
        margin-bottom: 16px; } }
  .login-wrapper-footer-text {
    font-size: 15px;
    color: #000;
    margin-bottom: 0; }

.login-title {
  font-size: 30px;
  color: #707070;
  font-weight: bold;
  margin-bottom: 25px; }

.login-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left; }

/*# sourceMappingURL=login.css.map */
.btn:hover {
  color: #00f5ff;
  text-decoration: none;
}
.btn-circle {
  color: #eefeff;
  background: #036b76;
  border: 2px solid #eefeff;

  width: 40px;
  height: 40px;
  padding: 6px 0;
  border-radius: 25px;
  text-align: center;
  font-size: 15px;
  line-height: 1.428571429;
}
.popover-header {
background-color: #23a0af;
color: #eefeff;
}


.button-basic {
  position: relative;
  background: #e41b25;
  border-color: #bb0915;
  border: 2px solid transparent;
  height: 45px;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

  .button-basic>i{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 45px;
    color: #bb0915;
    opacity: 0;
    visibility: hidden;
  }
  .button-basic:hover {
    background-color: #FFF;
    color: #e41b25;
    border-color: #bb0915;
    padding: 10px 30px 10px 40px;}
    .button-basic:hover>i {
      opacity: 1;
      visibility: visible;
    }
    .button-basic:not(:disabled):not(.disabled):active {
      background-color: #ffc107;
      border-color: #ff9d03;
    }




  .card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 20px
  }
  
  .card1 {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      /* background-color: #FBCC00; */
      background: url("../../images/formLogin.jpg") no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
      color: #fff;
      padding-left: 13%;
      padding-right: 13%
  }
  
  .logo {
      margin-top: 30px;
      margin-left: 15px;
      cursor: pointer
  }
  
  .card2 {
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px
  }
  
  .social-connect .fa-google-plus {
      color: #df4b37;
      padding: 10px 12px;
      font-size: 20px
  }
  
  .social-connect .fa-facebook-square {
      color: #3b5998;
      padding: 10px 15px;
      font-size: 20px
  }
  
  .social-connect {
      padding: 3px 0px 3px 3px;
      border-radius: 10px;
      cursor: pointer;
      border: 1px solid #E0E0E0
  }
  
  .social-connect:hover {
      background-color: #EEEEEE
  }
  
  .line {
      height: 1px;
      width: 45%;
      background-color: #E0E0E0;
      margin-top: 10px
  }
  
  .or {
      width: 10%
  }
  
  .text-sm {
      font-size: 14px !important
  }
    
  .btn-blue {
      background-color: #512DA8;
      width: 100%;
      color: #fff;
      border-radius: 6px
  }
  
  .btn-blue:hover {
      background-color: #311B92;
      color: #fff;
      cursor: pointer
  }
  
  .card-0 {
      background-color: #c3c3c345;
      /* background: url("/images/slide_3.jpg") no-repeat;
      background-size: cover; */
      border-radius: 5px;
      min-height: 352px;
      margin-top: 80px;
      padding: 30px
  }
  
  .carousel-indicators {
      position: absolute;
      bottom: -100px;
      display: -webkit-box !important
  }
  
  .carousel-indicators li {
      cursor: pointer;
      border-radius: 50% !important;
      width: 40px !important;
      height: 40px !important;
      opacity: 0.5;
      margin: 5px !important;

      border-top: none;
      border-bottom: none;
  }
  
  .carousel-indicators li.active {
      opacity: 1;
      width: 50px !important;
      height: 50px !important;
      margin-top: 0px !important;
      border: 2px solid #fff
  }
  
  .carousel-indicators li#li1 {
      background: url("../../images/iconsApps/igob.png") !important;
      background-size: cover !important
  }
  
  .carousel-indicators li#li2 {
      background: url("../../images/iconsApps/movplp.png") !important;
      background-size: cover !important
  }
  
  .carousel-indicators li#li3 {
      background: url("../../images/iconsApps/caserita.png") !important;
      background-size: cover !important
  }
  
  /* .carousel-indicators li#li4 {
      background: url("https://i.imgur.com/ndQx2Rg.jpg") !important;
      background-size: cover !important
  }
  
  .carousel-indicators li#li5 {
      background: url("https://i.imgur.com/gazoShk.jpg") !important;
      background-size: cover !important
  } */
  
  .profile-pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
      border: 2px solid #fafafa;
  }
  
  .content {
      color: #000;
      font-size: 14px
  }
  
  .social {
      margin-top: 150px
  }
  
  .captureStoreGraphic {
    text-align: center;
    width: 250px;
    border-radius: 50%;
    height: 250px;
    margin: 2% auto 2% auto;
  }

.titleStore{
  color: #fefefe;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.titleSectionStore {
  margin: 5% 0 0 0;
  font-size: 25px;
  font-style: oblique;
    font-weight: 800;
}
.descriptionStore {
  color:#fff;
  font-size: 15px;
  font-weight: 500;
  text-align: justify;
}
.buttonsStore {
  margin: 5% 0 0 0;
}
.mdi-36px {
  font-size: 39px;
  margin-right: 10px
}
/* Old Desktops and laptops ------------------ */
@media only screen 
and (min-width : 1025px) 
{
/* Add Your CSS Styling Here */
}
/* Tablets------------------- */
@media screen and (max-width: 991px) {
  .card1 {
      border-bottom-left-radius: 0px;
      border-top-right-radius: 0px;
      padding-left: 3%;
      padding-right: 3%;
  }

  .card2 {
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0px
  }

  .titleSectionStore {
    margin: 2.5% 0 0 5%;
    font-size: 15px;
  }
  .titleStore{
    font-size: 20px;
    line-height: 30px;
  }
  .descriptionStore {
    font-size: 13px;
  }
  .btn {
    font-size: 0.8rem;
  }
  .mdi-36px {
    font-size: 30px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{   

  .card1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .profile-pic {
    width: 70px;
    height: 70px;
    top: -35px;
    left: calc(50% - 35px);
  }
  .captureStoreGraphic {
    width: 150px;
    height: 150px;
    margin: 2% auto 4% auto;
  }
  .titleSectionStore {
    display: none;
    font-size: 15px;
  }
  .titleStore{
    font-size: 25px;
    line-height: 30px;
  }
  .descriptionStore {
    font-size: 13px;
  }
  .btn {
    font-size: 0.8rem;
  }
  .mdi-36px {
    font-size: 30px;
  }

}
/* Smartphones---------------- */
@media only screen and (min-width : 321px) and (max-width : 767px)
{

  .card1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .profile-pic {
    width: 60px;
    height: 60px;
    top: -30px;
    left: calc(50% - 30px);
  }
  .captureStoreGraphic {
    width: 200px;
    height: 200px;
    margin: 2% auto 4% auto;
  }
  .titleSectionStore {
    display: none;
    font-size: 15px;
  }
  .titleStore{
    font-size: 25px;
    line-height: 30px;
  }
  .descriptionStore {
    font-size: 13px;
  }
  .btn {
    font-size: 0.8rem;
  }
  .mdi-36px {
    font-size: 30px;
  }
}

/* Small Device = 320px */

@media only screen and (max-width: 320px) {
  .card1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .profile-pic {
    width: 60px;
    height: 60px;
    top: -30px;
    left: calc(50% - 30px);
  }
  .captureStoreGraphic {
    width: 200px;
    height: 200px;
    margin: 2% auto 4% auto;
  }
  .titleSectionStore {
    display: none;
    font-size: 15px;
  }
  .titleStore{
    font-size: 22px;
    line-height: 30px;
  }
  .descriptionStore {
    font-size: 13px;
  }
  .btn {
    font-size: 0.5rem;
    font-weight: 500;
  }
  .mdi-36px {
    font-size: 25px;
  }
  .font-weight-light {
    font-weight: 500 !important;
  }
}
  
    /* .card {
      border: none;
      border-radius: 10px;
      background-color: #353535;
      width: 350px;
      margin-top: -60px
  }
  
  p.mb-1 {
      font-size: 25px;
      color: #9FB7FD
  }
  
  .btn-primary {
      border: none;
      background: #5777DE;
      margin-bottom: 60px
  }
  
  .btn-primary small {
      color: #9FB7FD
  }
  
  .btn-primary span {
      font-size: 13px
  }
  
  .card.two {
      border-top-right-radius: 0px;
      border-top-left-radius: 60px;
  }
  
  .form-group {
      position: relative;
      margin-bottom: 2rem
  }
  
  .form-control {
      border: none;
      border-radius: 0;
      outline: 0;
      border-bottom: 1.5px solid #E6EBEE
  }
  
  .form-control:focus {
      box-shadow: none;
      border-radius: 0;
      border-bottom: 2px solid #8A97A8
  }
  
  .form-control-placeholder {
      position: absolute;
      top: 15px;
      left: 10px;
      transition: all 200ms;
      opacity: 0.5;
      font-size: 80%
  }
  
  .form-control:focus+.form-control-placeholder,
  .form-control:valid+.form-control-placeholder {
      font-size: 80%;
      transform: translate3d(0, -90%, 0);
      opacity: 1;
      top: 10px;
      color: #8B92AC
  }
  
  .btn-block {
      border: none;
      border-radius: 8px;
      background-color: #506CCF;
      padding: 10px 0 12px
  }
  
  .btn-block:focus {
      box-shadow: none
  }
  
  .btn-block span {
      font-size: 15px;
      color: #D0E6FF
  } */
