<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <link href="../../libs/css/sweetalert.css" rel="stylesheet">
  <script type="text/javascript" src="../../libs/js/sweetalert.min.js"></script>
  <script type="text/javascript" src="../../libs/js/ngSweetAlert.js"></script>
  <script type="text/javascript"
    src="../../view/servicios/varios/formularios/registroVoluntariosIndependientes/registroVoluntariosIndependientes.js"></script>
  <script src="../../libs/loading/loadingoverlay.js"></script>
  <script type="text/javascript" src="../../libs/js/jic.js"></script>
  <script type="text/javascript" src="../../libs/Librerias/ol-ext/ol-ext.js"></script>
  <!--link href="../../libs/css/select2.min.css" rel="stylesheet"/>
    <script src="../../libs/js/select2.min.js"></script-->
  <script src="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.js"></script>
  <link rel="stylesheet"
    href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.core.css" />
  <link rel="stylesheet"
    href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.default.css"
    id="toggleCSS" />
  <link rel="stylesheet" href="../../libs/Librerias/ol-ext/ol-ext.css" />
</head>
<style type="text/css">
  #caja {
    display: block;
  }
  #mostrar {
    display: block;
  }
  #cerrar_rc {
    position: absolute;
    top: 5px;
    left: 92%;
    font-size: 38px;
    color: #FFCB05 !important;
  }
  #mdialTamanio {
    width: 30% !important;
  }
  input:required:invalid {
    border: 1px solid red;
  }
  input:required:valid {
    border: 1px solid green;
  }
  select:required:invalid {
    border: 1px solid red;
  }
  select:required:valid {
    border: 1px solid green;
  }
  .element:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  .preview {
    width: 100px;
    height: auto;
  }
  .text {
    vertical-align: top;
  }
</style>
<script type="text/javascript">
  //////////////////////////////2
  function bloquear_modal() {
    var valor = $("#vacuna").val();
    if (valor == "NO") {
      expedido.disabled = true;
      ci.disabled = true;
      paterno.disabled = true;
      materno.disabled = true;
      paterno.disabled = true;
      nombre.disabled = true;
      apellido_casado.disabled = true;
      genero.disabled = true;
      estado_civil.disabled = true;
      funciones.disabled = true;
      correo.disabled = true;
      celular.disabled = true;
      telefono.disabled = true;
      expedido.disabled = true;
      expedido.disabled = true;
    }
    if (valor == "SI") {
      expedido.disabled = false;
      ci.disabled = false;
      paterno.disabled = false;
      materno.disabled = false;
      paterno.disabled = false;
      nombre.disabled = false;
      apellido_casado.disabled = false;
      genero.disabled = false;
      estado_civil.disabled = false;
      funciones.disabled = false;
      correo.disabled = false;
      celular.disabled = false;
      telefono.disabled = false;
      expedido.disabled = false;
      expedido.disabled = false;
    }
  };
  function soloNumericoCelular(sValor) {
    Numer = parseInt(sValor);
    if (isNaN(Numer)) {
      return "";
    } else {
      var digits = ("" + Numer).split("");
      if (digits.length > 0 && (digits[0] == 7 || digits[0] == 6)) {
        return Numer;
      } else {
        return "";
      }
    }
  };
  function valNumeroCelular(Control) {
    Control.value = soloNumericoCelular(Control.value);
  }
  function soloNumericoTelefono(sValo) {
    Numer = parseInt(sValo);
    if (isNaN(Numer)) {
      return "";
    } else {
      var digits = ("" + Numer).split("");
      if (digits.length < 9 && (digits[0] == 2 || digits[0] == 3 || digits[0] == 4)) {
        return Numer;
      } else {
        return "";
      }
    }
  }
  function valNumeroTelefono(Control) {
    Control.value = soloNumericoTelefono(Control.value);
  }
  var icon = 0;
  $('#mostrar').click(function (event) {
    event.preventDefault();
    $("#caja").slideToggle();

    if (icon == 0) {
      $("#cerrar_i").removeClass("fa fa-sort-asc");
      $("#cerrar_i").addClass("fa fa-sort-desc");
      $("#cerrar_rc").css({ 'position': 'absolute', 'top': '-11px' });
      icon = icon + 1;
    }
    else {
      $("#cerrar_i").addClass("fa fa-sort-asc");
      $("#cerrar_rc").css({ 'position': 'absolute', 'top': '5px' });
      icon = 0;
    }
  });
  $('#ibox-title').click(function (event) {
    event.preventDefault();
    $('#caja').slideUp();
  });
  $('#dtspsl_file_fotocopia_ci').change(function (e) {
    var id = 0;
    angular.element(this).scope().addImage(e, id);
  });
  $('#dtspsl_file_fotocopia_ci_r').change(function (e) {
    var id = 1;
    angular.element(this).scope().addImage(e, id);
  });
  $('#Url_certificado_nac').change(function (e) {
    var id = 2;
    angular.element(this).scope().addImage(e, id);
  });
  $('#Url_dni_anverso').change(function (e) {
    var id = 3;
    angular.element(this).scope().addImage(e, id);
  });
  $('#Url_dni_reverso').change(function (e) {
    var id = 4;
    angular.element(this).scope().addImage(e, id);
  });
</script>
<script type="text/javascript">
  function soloNumericoCelular(sValor) {
    Numer = parseInt(sValor);
    if (isNaN(Numer)) {
      return "";
    } else {
      var digits = ("" + Numer).split("");
      if (digits.length > 0 && (digits[0] == 7 || digits[0] == 6)) {
        return Numer;
      } else {
        return "";
      }
    }
  }
  function validateDecimal(valor) {
    var RE = /^\d*(\.\d{1})?\d{0,1}$/;
    if (RE.test(valor)) {
      return true;
    } else {
      return false;
    }
  }
  function mayus(e) {
    e.value = e.value.toUpperCase();
  }
  function validar(e) {
    tecla = (document.all) ? e.keyCode : e.which;
    if (tecla == 8) return true;
    patron = /[A-Za-zñÑ\s]/;
    te = String.fromCharCode(tecla);
    return patron.test(te);
  }
</script>
<script type="text/javascript">
  $('.custom-upload input[type=file]').change(function () {
    $(this).next().find('input').val($(this).val());
    angular.element(this).scope().cambiarFile(this, $(this).val());
  });
  function iniciarLoadFyle() {
    $('.custom-upload input[type=file]').change(function () {
      $(this).next().find('input').val($(this).val());
      angular.element(this).scope().cambiarFile(this, $(this).val());
    });
  }
  $('.modal').on('shown.bs.modal', function () {
    $(this).before($('.modal-backdrop'));
    $(this).css("z-index", parseInt($('.modal-backdrop').css('z-index')) + 1);
  });
  $('#adjunto_croquis_img').change(function (e) {
    var id = 0;
    angular.element(this).scope().addImage(e, id);
  });
</script>
<script type="text/javascript">
  function filterFloat(evt, input) {
    var key = window.Event ? evt.which : evt.keyCode;
    var chark = String.fromCharCode(key);
    var tempValue = input.value + chark;
    if (key >= 48 && key <= 57) {
      if (filter(tempValue) === false) {
        return false;
      } else {
        return true;
      }
    } else {
      if (key == 8 || key == 13 || key == 0) {
        return true;
      } else if (key == 46) {
        if (filter(tempValue) === false) {
          return false;
        } else {
          return true;
        }
      } else {
        return false;
      }
    }
  }
  function filter(__val__) {
    var preg = /^([0-9]+\.?[0-9]{0,2})$/;
    if (preg.test(__val__) === true) {
      return true;
    } else {
      return false;
    }
  }
</script>
<div class="page-content" ng-controller="registroVoluntariosIndependientesController" data-ng-init="inicioServicios();">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div id="mostrar" class="ibox-title">
        <h5 class="ng-binding">ANIMALISTAS</h5>
        <a id="cerrar_rc" style="position: absolute; top: 5px;"><i class="fa-sort-desc fa fa-sort-asc"
            style="color: #00adb5" id="cerrar_i"></i></a>
      </div>
      <div class="ibox-content" id="caja">
        <div class="row">
          <div class="col-md-12 b-r">
            <form class="form-horizontal ng-pristine ng-valid">
              <div class="form-group">
                <div class="col-lg-5">
                  <div>
                    <a class="btn btn-redondo" tooltip="Crear Trámite" data-toggle="modal" data-target="#crearTramite">
                      <div class="shake-slow"><i class="fa fa-file blanco"></i></div>
                    </a>
                  </div>
                </div>
                <label class="col-lg-2 control-label ng-binding">Buscar:</label>
                <div class="col-lg-5">
                  <input ng-model="query" id="busca1" class="form-control ng-pristine ng-valid" placeholder="">
                </div>
              </div>
              <div class="modal fade" id="crearTramite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                          aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                      <h3 class="modal-title" id="myModalLabel"><strong>Tipos de Servicios</strong></h3>
                    </div>
                    <div class="modal-body">
                      <form novalidate>
                        <div class="row">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col" width="15%">
                                    <center>#</center>
                                  </th>
                                  <th scope="col" width="35%">
                                    <center>Opciones</center>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="tramite in tiposTramite" height="50%"
                                  ng-style="tramite.id==tramiteId && {'background-color':'#FFEFB0','font-color':'#A2D5AE'}"
                                  ng-click="seleccionaServicio(tramite.id);">
                                  <td scope="row" width="15%">
                                    <center>{{$index+1}}</center>
                                  </td>
                                  <td width="50%">{{tramite.detalle}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      <button class="btn btn-default" ng-click="f_crear_guardar();" data-dismiss="modal">Crear</button>
                    </div>
                  </div>
                </div>
              </div>
              <form class="form-horizontal ng-pristine ng-valid" action="index.html" method="post">
                <table ng-table="tblTramites" class="table table-striped table-hover">
                  <tr style="cursor: pointer;text-align: center;" ng-repeat="tramite in $data  | filter:query ">
                    <td data-title="'Código'" ng-click="recuperarInformacion(tramite)">{{tramite.xvoluntario_idm}}</td>
                    <td data-title="'Tipo de Trámite'" ng-click="recuperarInformacion(tramite)">
                      {{tramite.xdato_registro}}</td>
                    <td data-title="'Fecha'" ng-click="recuperarInformacion(tramite)">{{tramite.xvoluntario_modificado}}
                    </td>
                    <td data-title="'Estado'" ng-click="recuperarInformacion(tramite)">{{tramite.yestado}}</td>
                    <td data-title="'Vigencia'" ng-click="recuperarInformacion(tramite)">{{tramite.xdias_caduco}} dias
                    </td>
                    <td data-title="'Certificado'" align="center"> <a target="_blank"
                        href={{tramite.xvoluntario_url}}><button type="button"
                          class="btn btn-{{tramite.ycolor_certificado}}" ng-disabled="{{tramite.ydisa_certificado}}"><i
                            class="glyphicon glyphicon-eye-open"></i> </button></a></td>
                    <td data-title="'Registra tu mascota'" align="center"> <a
                        href="#servicios|varios|index.html?url='app/view/servicios/varios/formularios/registroMascotas/index.html'"><button
                          type="button" class="btn btn-{{tramite.ycolor_registro}}"
                          ng-disabled="{{tramite.ydisa_registro}}"><i class="glyphicon glyphicon-log-out"></i>
                        </button></a></td>
                  </tr>
                </table>
              </form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="div_formulario == true">
    <br>
    <br>
    <div>
      <h3 class="ng-binding" style="color: #4baeb4 !important;">DATOS PERSONALES:</h3>
    </div>
    <br>
    <div class="col-md-12">
      <div class="col-md-4">
        <label class="control-label">Nombres:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.nombre" name="datos_responsable.nombre" onkeyup="return conMayusculas(this)" value=""
          ng-model="datos_responsable.nombre">
      </div>
      <div class="col-md-4">
        <label class="control-label">Paterno:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required"
          ng-model="datos_responsable.paterno" id="datos_responsable.paterno" name="datos_responsable.paterno"
          onkeyup="return conMayusculas(this)" value="" ng-disabled="true">
      </div>
      <div class="col-md-4">
        <label class=" control-label">Materno:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.materno" name="datos_responsable.materno" onkeyup="return conMayusculas(this)" value=""
          ng-model="datos_responsable.materno">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12">
      <div class="col-md-4">
        <label class="control-label">Tercer Apellido:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.apcasada" name="datos_responsable.apcasada" onkeyup="return conMayusculas(this)"
          value="" ng-model="datos_responsable.apcasada">
      </div>
      <div class="col-md-4">
        <label class="control-label">Nro. CI:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.ci" name="datos_responsable.ci" onkeyup="return conMayusculas(this)" value=""
          ng-model="datos_responsable.ci">
      </div>
      <div class="col-md-4">
        <label class="control-label">Expedido:</label>
        <input type="text" id="datos_responsable.expedido" name="datos_responsable.expedido" class="form-control"
          ng-model="datos_responsable.expedido" class="form-control ng-dirty ng-invalid ng-invalid-required"
          ng-disabled="true" value="">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12">
      <div class="col-md-4">
        <label class="control-label">Celular:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.movil" name="datos_responsable.movil" onkeyup="return conMayusculas(this)" value=""
          ng-model="datos_responsable.movil">
      </div>
      <div class="col-md-4">
        <label class="control-label">Correo:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.correo" name="datos_responsable.correo" onkeyup="return conMayusculas(this)" value=""
          ng-model="datos_responsable.correo">
      </div>
      <div class="col-md-4">
        <label class="control-label">Zona:</label>
        <input type="text" id="datos_responsable.zona" name="datos_responsable.zona" class="form-control"
          ng-model="datos_responsable.zona" class="form-control ng-dirty ng-invalid ng-invalid-required"
          ng-disabled="true" value="">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12">
      <div class="col-md-4">
        <label class="control-label">Via:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.nomVia" name="datos_responsable.nomVia" onkeyup="return conMayusculas(this)" value=""
          ng-model="datos_responsable.nomVia">
      </div>
      <div class="col-md-4">
        <label class="control-label">Tipo Via:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.tipoVia" name="datos_responsable.tipoVia" onkeyup="return conMayusculas(this)" value=""
          ng-model="datos_responsable.tipoVia">
      </div>
      <div class="col-md-4">
        <label class="control-label">Numero de vivienda:</label>
        <input type="text" id="datos_responsable.numCasa" name="datos_responsable.numCasa" class="form-control"
          ng-model="datos_responsable.numCasa" class="form-control ng-dirty ng-invalid ng-invalid-required"
          ng-disabled="true" value="">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12">
      <div class="col-md-4">
        <label class="control-label">Profesión:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.profesion" name="datos_responsable.profesion" onkeyup="return conMayusculas(this)"
          value="" ng-model="datos_responsable.profesion">
      </div>
      <div class="col-md-4">
        <label class="control-label">Ocupación:</label>
        <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true"
          id="datos_responsable.ocupacion" name="datos_responsable.ocupacion" onkeyup="return conMayusculas(this)"
          value="" ng-model="datos_responsable.ocupacion">
      </div>
      <div class="col-md-4">
        <label class="control-label">Genero:</label>
        <input type="text" id="datos_responsable.sexo" name="datos_responsable.sexo" class="form-control"
          ng-model="datos_responsable.sexo" class="form-control ng-dirty ng-invalid ng-invalid-required"
          ng-disabled="true" value="">
      </div>
    </div>
    <br>
    <br>
    <br>
    <div ng-show="div_borrar == true">
      <br>
      <br>
      <br>
      <div>
        <h3 class="ng-binding" style="color: #4baeb4 !important;">TIPO DE REGISTRO:</h3>
      </div>
      <br>
      <div class="col-md-12">
        <div class="form-group">
          <div class="controls">
            <div class="col-md-6">
              <div class="form-check">
                <label class="tamañoLabel">
                  <input type="radio" name="tipo_registro" ng-model="datos.tipo_registro"
                    ng-change="f_dinamico_Registro(datos.tipo_registro);" value="INDEPENDIENTE"
                    ng-disabled="xdeshabilitado"> <span class="label-text"></span>
                </label> REGISTRO ANIMALISTA INDEPENDIENTES
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-check">
                <label class="tamañoLabel">
                  <input type="radio" name="tipo_registro" ng-model="datos.tipo_registro"
                    ng-change="f_dinamico_Registro(datos.tipo_registro);" value="AGRUPADOS"
                    ng-disabled="xdeshabilitado"> <span class="label-text"></span>
                </label> REGISTRO ANIMALISTAS AGRUPADOS
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-12" class="form-control">
      <div class="form-group" >
          <label class="col-sm-12 control-label no-padding-right" for="url"></label>
          <div class="col-sm-12" align="left">
              <div class="alert alert-warning fade in">
                  <bold>Estimado Ciudadano:</bold>
                  <br> + Para realizar algun ajuste respecto a su información personal puede hacer click al boton y le redireccionara a la página para poder actualizar sus datos.
                  <br>
                  <br>
                  <a align="center" href="#servicios|varios|index.html?url='app/view/registro_ciudadano/modificarRegistro/index.html'"><button
                    type="button" style="background-color: #eb5012;" class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i>&nbsp; ACTUALIZAR DATOS PERSONALES</button></a>
              </div>
          </div>
      </div>
  </div>
    <div>
      <h3 class="ng-binding" style="color: #4baeb4 !important;">{{titulo_mapa}}</h3>
    </div>
    <br>
    <br>
    <div style="width: 70%;height: 60%;border: #000000;border-style: solid;margin-left: 100px;" id="mapa_mascotas">
    </div>
    <br>
    <br>
    <div>
      <h3 class="ng-binding" style="color: #4baeb4 !important;">{{titulo_datos_valuntariado}}</h3>
    </div>
    <br>
    <div ng-show="div_personaria == true">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">¿ Cuenta con personería jurídica ?</label>
            <div class="controls">
              <select id="cuenta_personairia_juridica" name="cuenta_personairia_juridica"
                ng-model="datos.cuenta_personairia_juridica" class="form-control"
                ng-change="cambioComboPersoneria(datos.cuenta_personairia_juridica);" required
                ng-disabled="xdeshabilitado">
                <option value="">--Seleccionar--</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </div>
        </div>
        <div ng-show="div_esp_num_pj == true">
          <div class="col-md-6">
            <div class="form-group">
              <label for="url">{{titulo_observacion_pj}}</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="datos.numero_personeria_juridica"
                  name="numero_personeria_juridica" value="memorandum" required ng-disabled="xdeshabilitado">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="div_voluntario_inde == true">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">Tipo de Voluntariado que realiza</label>
            <div class="controls">
              <select id="tipo_voluntario" name="tipo_voluntario" placeholder="Zona" ng-model="datos.tipo_voluntario"
                class="form-control" ng-change="cambioCombo(datos.tipo_voluntario);" required
                ng-disabled="xdeshabilitado">
                <option value="">--Seleccionar--</option>
                <option value="Alimentador">Alimentador</option>
                <option value="Educador">Educador</option>
                <option value="Rescatista">Rescatista</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">Fecha en la que se realizó la vacuna antirrabica:</label>
            <div class="controls">
              <input type="date" class="form-control" ng-model="datos.fecha_antirrabica" name="fecha_antirrabica"
                value="memorandum" required ng-disabled="xdeshabilitado">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">Gestion en que inicio a ser Voluntariado</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.gestion_inicio" name="gestion_inicio"
                value="memorandum" required ng-disabled="xdeshabilitado">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">Lugar donde realiza el Voluntariado</label>
            <div class="controls">
              <input type="text" class="form-control" ng-model="datos.lugar_voluntariado" name="lugar_voluntariado"
                value="memorandum" required ng-disabled="xdeshabilitado">
            </div>
          </div>
        </div>
      </div>
      <div ng-show="div_otros == true">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="form-group">
              <label for="url">Otros:</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="datos.otros_tipos_voluntariado"
                  name="otros_tipos_voluntariado" value="memorandum" required ng-disabled="xdeshabilitado">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="ng-binding" style="color: #4baeb4 !important;">EXPERIENCIA COMO VOLUNTARIO:</h3>
      </div>
      <div ng-show="div_agregar_experiencia">
        <div class="col-md-12">
          <div class="col-md-5">
            <div class="form-group">
              <label for="url">Descripcion del Respaldo</label>
              <div class="controls">
                <input type="text" ng-model="datosV.descripcion_exp" id="descripcion_exp" name="descripcion_exp"
                  class="form-control" style="text-transform:uppercase;" value="" width="30%" height="30"
                  ng-disabled="xdeshabilitado" />
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="url">Adjunto</label>
              <div class="controls">
                <div class="form-group custom-upload">
                  <input type="file" id="FILE_ADJUNTO_EXPERIENCIA" name="FILE_ADJUNTO_EXPERIENCIA"
                    ng-model="FILE_ADJUNTO_EXPERIENCIA" accept="pdf/*" style="display: none;">
                  <div class="input-group">
                    <input id="txt_FILE_ADJUNTO_EXPERIENCIA" name="txt_FILE_ADJUNTO_EXPERIENCIA"
                      ng-model="datosV.FILE_ADJUNTO_EXPERIENCIA" type="text" ng-disabled="true"
                      class="form-control input-lg" required>
                    <span class="input-group-btn">
                      <a id="href_FILE_ADJUNTO_EXPERIENCIA" target="_blank" href={{FILE_ADJUNTO_EXPERIENCIA}}>
                        <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover7 != null"
                          ng-click="mostrarimg('FILE_ADJUNTO_EXPERIENCIA');" data-toggle="modal"><i
                            class="glyphicon glyphicon-eye-open"></i></button>
                      </a>
                      <button id="btn_FILE_ADJUNTO_EXPERIENCIA" class="btnupload browse btn btn-primary input-lg"
                        type="button" ng-click="ejecutarFile('FILE_ADJUNTO_EXPERIENCIA');"
                        ng-disabled="xdeshabilitado"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="url">AGREGAR</label>
              <div class="controls">
                <button ng-click="adicionarExperiencia(datosV);" type="button" class="btn btn-success fa fa-plus-square"
                  ng-disabled="xdeshabilitado"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><B></B></div>
          <div class="panel-body" ng-disabled="true">
            <table ng-table="tblExperiencia" class="table  table-hover" id="lsVehiculos">
              <tr style="cursor: pointer;" ng-repeat="tramite in $data  | filter:query "
                ng-style="tramite.IdActividad==sIdAeGrilla && {'background-color':'rgb(0, 185, 194 ,0.2)','font-color':'#A2D5AE'}">
                <!--cambios-->
                <td data-title="'DESCRIPCION'" align="center">{{tramite.descripcion_exp}}</td>
                <td data-title="'ADJUNTO'" align="center"> <a target="_blank"
                    href={{tramite.FILE_ADJUNTO_EXPERIENCIA}}><button type="button" class="btn btn-primary"><i
                        class="glyphicon glyphicon-upload"></i> </button></a></td>
                <td data-title="'ELIMINAR'" align="center"><button ng-click="eliminarExperiencia(tramite)" type="button"
                    class="btn btn-danger fa fa-times" ng-disabled="xdeshabilitado"></button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    <div ng-show="div_rescatistas == true">
      <div>
        <h3 class="ng-binding" style="color: #4baeb4 !important;">CONDICIONES TÉCNICAS DE INFRAESTRUCTURA:</h3>
      </div>
      <br>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label for="url">Caniles (Nro.)</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.caniles_moviles" name="caniles_moviles"
                value="memorandum" required ng-disabled="xdeshabilitado" ng-change="sumar_moviles()">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="url">Gatiles Móviles(Nro.)</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.gatiles_moviles" name="gatiles_moviles"
                value="memorandum" required ng-disabled="xdeshabilitado" ng-change="sumar_moviles()">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="url">Total Móviles</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.total_moviles" name="total_moviles"
                value="memorandum" ng-disabled="true">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label for="url">Capacidades de Caniles(Nro.)</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.capacidad_caniles" name="capacidad_caniles"
                value="memorandum" required ng-disabled="xdeshabilitado" ng-change="sumar_capacidades()">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="url">Capacidades de Gatiles(Nro.)</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.capacidad_gatiles" name="capacidad_gatiles"
                value="memorandum" required ng-disabled="xdeshabilitado" ng-change="sumar_capacidades()">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="url">Total de Capacidad</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.total_capacidad" name="total_capacidad"
                value="memorandum" ng-disabled="true">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label for="url">Total Comedores</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.total_comedores" name="total_comedores"
                value="memorandum" required ng-disabled="xdeshabilitado">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="url">Total Bebederos</label>
            <div class="controls">
              <input type="number" class="form-control" ng-model="datos.total_bebederos" name="total_bebederos"
                value="memorandum" required ng-disabled="xdeshabilitado">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="div_rescatistas_dos == true">
      <br>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">Caniles de Observación:</label>
            <div class="controls">
              <select id="caniles_observacion" name="caniles_observacion" ng-model="datos.caniles_observacion"
                class="form-control" ng-change="cambioObservacion(datos.caniles_observacion);" required
                ng-disabled="xdeshabilitado">
                <option value="">--Seleccionar--</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </div>
        </div>
        <div ng-show="div_mts_observacion == true">
          <div class="col-md-6">
            <div class="form-group">
              <label for="url">Área en mts2:</label>
              <div class="controls">
                <input type="number" class="form-control" ng-model="datos.mts_observacion" name="mts_observacion"
                  value="memorandum" required ng-disabled="xdeshabilitado">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">Área de cuarentena:</label>
            <div class="controls">
              <select id="area_cuarentena" name="area_cuarentena" ng-model="datos.area_cuarentena" class="form-control"
                ng-change="cambioCuarentena(datos.area_cuarentena);" required ng-disabled="xdeshabilitado">
                <option value="">--Seleccionar--</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </div>
        </div>
        <div ng-show="div_mts_area_cuarentena == true">
          <div class="col-md-6">
            <div class="form-group">
              <label for="url">Área en mts2:</label>
              <div class="controls">
                <input type="number" class="form-control" ng-model="datos.mts_area_cuarentena"
                  name="mts_area_cuarentena" value="memorandum" required ng-disabled="xdeshabilitado">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">Espacio de maternidad:</label>
            <div class="controls">
              <select id="area_maternidad" name="area_maternidad" ng-model="datos.area_maternidad" class="form-control"
                ng-change="cambioMaternidad(datos.area_maternidad);" required ng-disabled="xdeshabilitado">
                <option value="">--Seleccionar--</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </div>
        </div>
        <div ng-show="div_mts_area_maternidad == true">
          <div class="col-md-6">
            <div class="form-group">
              <label for="url">Área en mts2:</label>
              <div class="controls">
                <input type="number" class="form-control" ng-model="datos.mts_area_maternidad"
                  name="mts_area_maternidad" value="memorandum" required ng-disabled="xdeshabilitado">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="url">Ambientes comunes:</label>
            <div class="controls">
              <select id="area_comunes" name="area_comunes" ng-model="datos.area_comunes" class="form-control"
                ng-change="cambioAComunes(datos.area_comunes);" required ng-disabled="xdeshabilitado">
                <option value="">--Seleccionar--</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </div>
        </div>
        <div ng-show="div_mts_area_comunes == true">
          <div class="col-md-6">
            <div class="form-group">
              <label for="url">Área en mts2:</label>
              <div class="controls">
                <input type="number" class="form-control" ng-model="datos.mts_area_comunes" name="mts_area_comunes"
                  value="memorandum" required ng-disabled="xdeshabilitado">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="div_animalistas_aso == true">
      <div>
        <h3 class="ng-binding" style="color: #4baeb4 !important;">ANIMALISTAS ASOCIADOS:</h3>
      </div>
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="form-group">
            <div class="controls">
              <button ng-click="f_mostrar_Modal();" type="button" class="btn btn-success fa fa-plus-square"
                ng-disabled="xdeshabilitado">&nbsp; AGREGAR ASOCIADOS</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><B></B></div>
          <div class="panel-body" ng-disabled="true">
            <table ng-table="tblAsociados" class="table  table-hover">
              <tr style="cursor: pointer;" ng-repeat="tramite in $data  | filter:query "
                ng-style="tramite.IdActividad==sIdAeGrilla && {'background-color':'rgb(0, 185, 194 ,0.2)','font-color':'#A2D5AE'}">
                <!--cambios-->
                <td data-title="'Nro'" align="center">{{$index+1}}</td>
                <td data-title="'CI'" align="center">{{tramite.ci}}&nbsp;{{tramite.expedido}}</td>
                <td data-title="'PATERNO'" align="center">{{tramite.paterno}}</td>
                <td data-title="'MATERNO'" align="center">{{tramite.materno}}</td>
                <td data-title="'NOMBRE'" align="center">{{tramite.nombre}}</td>
                <td data-title="'CELULAR'" align="center">{{tramite.celular}}</td>
                <td data-title="'ELIMINAR'" align="center"><button ng-click="eliminarAsociados(tramite)" type="button"
                    class="btn btn-danger fa fa-times" ng-disabled="xdeshabilitado"></button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="div_aprobado == true">
      <div>
        <h4 class="ng-binding" style="color: #eb5012 !important;">ESTIMADO CIUDADANO USTED YA SE ENCUENTRA HABILITADO
          POR LA CASA DE LAS MASCOTA YA PUEDE REGISTRAR A LAS MASCOTAS:</h4>
      </div>
      <a href="#servicios|varios|index.html?url='app/view/servicios/varios/formularios/registroMascotas/index.html'"><button
          type="button" class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> Registro de
          Mascotas</button></a>
    </div>
    <div ng-show="div_boton_guardar == true">
      <div class="col-md-12" align="right"><br>
        <button ng-click="f_guardarSinValidar(datos);" type="button"
          class="btn btn-success fa fa-save">&nbsp;GUARDAR</button>
        <button ng-click="f_envio(datos);" type="button"
          class="btn btn-success fa fa-mail-forward">&nbsp;ENVIAR</button>
      </div>
    </div>
    <div id="myModal" class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 style="align-items: center;">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;REGISTRO DE ANIMALISTA</h2>
          <form name="form" readOnly="true" novalidate>
            <div class="modal-body">
              <div class="row" style="padding-top:2%">
                <label class="ng-binding col-md-3">Fecha Nacimiento<font color="#FF0000" size="4px"></font></label>
                <p class="input-group col-md-9">
                  <input id="fecha_nacimiento" name="fecha_nacimiento" type="text" class="form-control"
                    ng-model="mod.fecha_nacimiento" datepicker-popup="" is-open="startDateOpened3" close-text="Close"
                    ng-disabled="true" required="" max-date="modelFecha0.endDate"
                    ng-change="calcular_edad_grilla(mod.fecha_nacimiento);">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startDateOpen3($event);"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div class="row" style="padding-top:2%">
                <label class="ng-binding col-md-3">Fecha de Vacuna</label>
                <p class="input-group col-md-9">
                  <input id="fecha_vacuna" name="fecha_vacuna" type="text" class="form-control"
                    ng-model="mod.fecha_vacuna" datepicker-popup="" is-open="startDateOpened5" close-text="Close"
                    ng-disabled="true" required="" max-date="modelFecha5.endDate"
                    ng-change="cal_edad_grilla(mod.fecha_nacimiento);">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startDateOpen5($event);"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Edad</label>
                  <div class="col-md-9">
                    <input id="edad" name="edad" ng-model="mod.edad" class="form-control" type="text"
                      style="text-transform: uppercase;" ng-disabled="true">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Nro. de Documento</label>
                  <div class="col-md-9">
                    <input id="ci" name="ci" ng-model="mod.ci" class="form-control" type="text" required="">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Expedido</label>
                  <div class="col-md-9">
                    <select id="expedido" name="expedido" ng-model="mod.expedido" class="form-control" required="">
                      <option value="">--Seleccione--</option>
                      <option value="LPZ">LA PAZ</option>
                      <option value="ORU">ORURO</option>
                      <option value="PTS">POTOSI</option>
                      <option value="CBB">COCHABAMBA</option>
                      <option value="CHQ">CHUQUISACA</option>
                      <option value="TJA">TARIJA</option>
                      <option value="BNI">BENI</option>
                      <option value="PND">PANDO</option>
                      <option value="SCZ">SANTA CRUZ</option>
                      <option value="EXT">EXTERIOR</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="url">Cédula de identidad digitalizada (Anverso):</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group custom-upload">
                          <input type="file" id="FILE_CI_ANVERSO_ANIMALISTA" name="FILE_CI_ANVERSO_ANIMALISTA"
                            ng-model="FILE_CI_ANVERSO_ANIMALISTA" accept="pdf/*" style="display: none;">
                          <div class="input-group">
                            <input id="txt_FILE_CI_ANVERSO_ANIMALISTA" name="txt_FILE_CI_ANVERSO_ANIMALISTA"
                              ng-model="mod.FILE_CI_ANVERSO_ANIMALISTA" type="text" ng-disabled="true"
                              class="form-control input-lg" required>
                            <span class="input-group-btn">
                              <a id="href_FILE_CI_ANVERSO_ANIMALISTA" target="_blank"  href="">
                                <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover7 != null" ng-click="mostrarimg('FILE_CI_ANVERSO_ANIMALISTA');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                            </a>
                              <button id="btn_FILE_CI_ANVERSO_ANIMALISTA" class="btnupload browse btn btn-primary input-lg"
                                type="button" ng-click="ejecutarFile('FILE_CI_ANVERSO_ANIMALISTA');"
                                ng-disabled="xdeshabilitado"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="url">Cédula de identidad digitalizada (Reverso):</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group custom-upload">
                          <input type="file" id="FILE_CI_REVERSO_ANIMALISTA" name="FILE_CI_REVERSO_ANIMALISTA"
                            ng-model="FILE_CI_REVERSO_ANIMALISTA" accept="pdf/*" style="display: none;">
                          <div class="input-group">
                            <input id="txt_FILE_CI_REVERSO_ANIMALISTA" name="txt_FILE_CI_REVERSO_ANIMALISTA"
                              ng-model="mod.FILE_CI_REVERSO_ANIMALISTA" type="text" ng-disabled="true"
                              class="form-control input-lg" required>
                            <span class="input-group-btn">
                            <a id="href_FILE_CI_REVERSO_ANIMALISTA" target="_blank"  href="">
                                <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover7 != null" ng-click="mostrarimg('FILE_CI_REVERSO_ANIMALISTA');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                            </a>
                              <button id="btn_FILE_CI_REVERSO_ANIMALISTA" class="btnupload browse btn btn-primary input-lg"
                                type="button" ng-click="ejecutarFile('FILE_CI_REVERSO_ANIMALISTA');"
                                ng-disabled="xdeshabilitado"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Nombres</label>
                  <div class="col-md-9">
                    <input id="nombre" name="nombre" ng-model="mod.nombre" class="form-control" type="text" required=""
                      style="text-transform: uppercase;">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Paterno</label>
                  <div class="col-md-9">
                    <input id="paterno" name="paterno" ng-model="mod.paterno" class="form-control" type="text"
                      style="text-transform: uppercase;">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Materno</label>
                  <div class="col-md-9">
                    <input id="materno" name="materno" ng-model="mod.materno" class="form-control" type="text"
                      style="text-transform: uppercase;">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Tercer Ap.</label>
                  <div class="col-md-9">
                    <input id="apellido_casado" name="apellido_casado" ng-model="mod.apellido_casado"
                      class="form-control" type="text" style="text-transform: uppercase;">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Genero</label>
                  <div class="col-md-9">
                    <select id="genero" name="genero" ng-model="mod.genero" class="form-control" required="">
                      <option value="">--Seleccione--</option>
                      <option value="femenino">FEMENINO</option>
                      <option value="masculino">MASCULINO</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Estado Civil</label>
                  <div class="col-md-9">
                    <select id="estado_civil" name="estado_civil" ng-model="mod.estado_civil" class="form-control">
                      <option value="">--Seleccione--</option>
                      <option value="casado">CASADO</option>
                      <option value="soltero">SOLTERO</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Funciones que desempeña como animalista</label>
                  <div class="col-md-9">
                    <input id="funciones" name="funciones" ng-model="mod.funciones" class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Correo</label>
                  <div class="col-md-9">
                    <input id="correo" name="correo" ng-model="mod.correo" class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Nr Celular</label>
                  <div class="col-md-9">
                    <input id="celular" name="celular" ng-model="mod.celular" class="form-control" type="text"
                      maxlength="8" onkeyUp="valNumeroCelular(this);" required="">
                  </div>
                </div>
              </div>
              <div class="row" style="padding-top:2%">
                <div class="form-group">
                  <label class="col-md-3 control-label">Nr Telefono</label>
                  <div class="col-md-9">
                    <input id="telefono" name="telefono" ng-model="mod.telefono" class="form-control" type="text"
                      maxlength="7" onkeyUp="valNumeroTelefono(this);">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="f_guardar_asociados(mod)">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</html>