<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <link href="../../libs/css/sweetalert.css" rel="stylesheet">
    <script type="text/javascript" src="../../libs/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../libs/js/ngSweetAlert.js"></script>
    <script type="text/javascript" src="../../view/servicios/varios/formularios/registroVoluntariosIndependientes/registroVoluntariosIndependientes.js"></script>
    <script src="../../libs/loading/loadingoverlay.js"></script>
    <script type="text/javascript" src="../../libs/js/jic.js"></script>
    <!--link href="../../libs/css/select2.min.css" rel="stylesheet"/>
    <script src="../../libs/js/select2.min.js"></script-->
    <script src="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.js"></script>
    <link rel="stylesheet" href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.core.css" />
    <link rel="stylesheet" href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.default.css" id="toggleCSS" />
  </head>
  <style type="text/css">
    

    #caja {
       display: block;
    }
    #mostrar{
       display:block;
    }
    #cerrar_rc{
       position: absolute;
       top: 5px;
       left: 92%;
       font-size: 38px;
       color: #FFCB05 !important;
    }
    #mdialTamanio{
     width: 30% !important;
   }
    input:required:invalid { 

        border: 1px solid red; 
    }
    input:required:valid {
        border: 1px solid green;
    }
    select:required:invalid {
        border: 1px solid red;
    }
    select:required:valid {
        border: 1px solid green;
    }

  .element:hover {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
  }

  .preview {
  width: 100px;
  height: auto;
}

.text {
  vertical-align: top;
}
</style>
<script type="text/javascript">
//////////////////////////////2
function bloquear_modal(){
  /*setTimeout(function(){
    type = 'xls';
    $('#listarHabilBanco_xls').tableExport({
    filename: 'table_%DD%-%MM%-%YY%-month(%MM%)',
               format: type
            });
  }, 500); */
  var valor = $( "#vacuna" ).val(); 
  if (valor == "NO") {
    expedido.disabled = true;
    ci.disabled = true;
    paterno.disabled = true;
    materno.disabled = true;
    paterno.disabled = true;
    nombre.disabled = true;
    apellido_casado.disabled = true;
    genero.disabled = true;
    estado_civil.disabled = true;
    funciones.disabled = true;
    correo.disabled = true;
    celular.disabled = true;
    telefono.disabled = true;
    expedido.disabled = true;
    expedido.disabled = true;
  }
  if (valor == "SI") {
    expedido.disabled = false;
    ci.disabled = false;
    paterno.disabled = false;
    materno.disabled = false;
    paterno.disabled = false;
    nombre.disabled = false;
    apellido_casado.disabled = false;
    genero.disabled = false;
    estado_civil.disabled = false;
    funciones.disabled = false;
    correo.disabled = false;
    celular.disabled = false;
    telefono.disabled = false;
    expedido.disabled = false;
    expedido.disabled = false;
  }
  console.log("putos22",valor);  
};
function soloNumericoCelular(sValor){
      Numer=parseInt(sValor);
      if (isNaN(Numer)){
          return "";
      }else{
          var digits = ("" + Numer).split("");
          if(digits.length > 0 && (digits[0] == 7 || digits[0] == 6)){
              return Numer;
          }else{
              return "";
          }
      }
};
function valNumeroCelular(Control){
    Control.value = soloNumericoCelular(Control.value);
}
function soloNumericoTelefono(sValo){
      Numer=parseInt(sValo);
      if (isNaN(Numer)){
          return "";
      }else{
          var digits = ("" + Numer).split("");
          if(digits.length < 9 && (digits[0] == 2 || digits[0] == 3 || digits[0] == 4)){
              return Numer;
          }else{
              return "";
          }
      }
  }
  function valNumeroTelefono(Control){
      Control.value = soloNumericoTelefono(Control.value);
  }
//////////////////////////////2





var icon= 0;
   $('#mostrar').click(function(event) {
       event.preventDefault();
       $("#caja").slideToggle();

       if (icon==0) {
         $("#cerrar_i").removeClass("fa fa-sort-asc");
         $("#cerrar_i").addClass("fa fa-sort-desc");
         $("#cerrar_rc").css({'position' : 'absolute', 'top' : '-11px' });
         icon=icon + 1;
       }
       else{
          $("#cerrar_i").addClass("fa fa-sort-asc");
          $("#cerrar_rc").css({'position' : 'absolute', 'top' : '5px' });
          icon= 0;
       }
   });
   $('#ibox-title').click(function(event) {
       event.preventDefault();
       $('#caja').slideUp();
   });
   $('#dtspsl_file_fotocopia_ci').change(function(e) {
   var id = 0;
   angular.element(this).scope().addImage(e,id);
   });
   $('#dtspsl_file_fotocopia_ci_r').change(function(e) {
   var id = 1;
   angular.element(this).scope().addImage(e,id);
   });
   $('#Url_certificado_nac').change(function(e) {
   var id = 2;
   angular.element(this).scope().addImage(e,id);
   });
   $('#Url_dni_anverso').change(function(e) {
   var id = 3;
   angular.element(this).scope().addImage(e,id);
   });
   $('#Url_dni_reverso').change(function(e) {
   var id = 4;
   angular.element(this).scope().addImage(e,id);
   });

</script>
<script type="text/javascript">
  function soloNumericoCelular(sValor){
      Numer=parseInt(sValor);
      if (isNaN(Numer)){
          return "";
      }else{
          var digits = ("" + Numer).split("");
          if(digits.length > 0 && (digits[0] == 7 || digits[0] == 6)){
              return Numer;
          }else{
              return "";
          }
      }
  }

function validateDecimal(valor) {
    var RE = /^\d*(\.\d{1})?\d{0,1}$/;
    if (RE.test(valor)) {
        return true;
    } else {
        return false;
    }
}


  function mayus(e) {
    e.value = e.value.toUpperCase();
  }
  function validar(e) { 
  tecla = (document.all) ? e.keyCode : e.which;
  if (tecla==8) return true; 
  patron =/[A-Za-zñÑ\s]/; 
  te = String.fromCharCode(tecla); 
  return patron.test(te);
  }


</script>
 <script type="text/javascript">
     $('.modal').on('shown.bs.modal', function() {
        $(this).before($('.modal-backdrop'));
        $(this).css("z-index", parseInt($('.modal-backdrop').css('z-index')) + 1);
    });

    $('.custom-upload input[type=file]').change(function(){
        if($(this).val() != '' || $(this).val() != ""){
            $(this).next().find('input').val($(this).val());
            angular.element(this).scope().cambiarFile(this, $(this).val());
        }
    });

    $('#adjunto_croquis_img').change(function(e) {
   var id = 0;
   angular.element(this).scope().addImage(e,id);
   });
</script>
<script type="text/javascript">
    function filterFloat(evt,input){
        // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
        var key = window.Event ? evt.which : evt.keyCode;    
        var chark = String.fromCharCode(key);
        var tempValue = input.value+chark;
        if(key >= 48 && key <= 57){
            if(filter(tempValue)=== false){
                return false;
            }else{       
                return true;
            }
        }else{
              if(key == 8 || key == 13 || key == 0) {     
                  return true;              
              }else if(key == 46){
                    if(filter(tempValue)=== false){
                        return false;
                    }else{       
                        return true;
                    }
              }else{
                  return false;
              }
        }
    }
    function filter(__val__){
        var preg = /^([0-9]+\.?[0-9]{0,2})$/; 
        if(preg.test(__val__) === true){
            return true;
        }else{
           return false;
        }
        
    }
</script>
  <div class="page-content" ng-controller="registroVoluntariosIndependientesController" data-ng-init="inicioServicios();">
          <p align="center">
              <font face="Comic Sans" size="10px" color="#2f4050"> REGISTRO DE ANIMALISTAS INDEPENDIENTES</font>
          </p>
          <br><br>
          <div>
            <h3 class="ng-binding" style="color: #4baeb4 !important;">DATOS PERSONALES:</h3>
        </div>
        <br>

        <div class="col-md-12">
            <div class="col-md-4">
                <label class="control-label">Nombres:</label>
                    <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" id="datos_responsable.nombre" name="datos_responsable.nombre" onkeyup="return conMayusculas(this)" value="" ng-model="datos_responsable.nombre">
            </div>
            <div class="col-md-4">
                <label class="control-label">Paterno:</label>            
                    <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-model="datos_responsable.paterno" id="datos_responsable.paterno" name="datos_responsable.paterno" onkeyup="return conMayusculas(this)" value="" ng-disabled="true">
            </div>
            <div class="col-md-4">
                <label class=" control-label">Materno:</label>           
                    <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" id="datos_responsable.materno" name="datos_responsable.materno" onkeyup="return conMayusculas(this)" value="" ng-model="datos_responsable.materno">    
            </div>

          

      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md-12">
          <div class="col-md-4">
              <label class="control-label">Tercer Apellido:</label>       
              <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" id="datos_responsable.apcasada" name="datos_responsable.apcasada" onkeyup="return conMayusculas(this)" value="" ng-model="datos_responsable.apcasada">        
          </div>
          <div class="col-md-4">
              <label class="control-label">Nro. CI:</label>       
              <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" id="datos_responsable.ci" name="datos_responsable.ci" onkeyup="return conMayusculas(this)" value="" ng-model="datos_responsable.ci">        
          </div>
          <div class="col-md-4">
              <label class="control-label">Expedido:</label>       
              <input type="text" id="datos_responsable.expedido" name="datos_responsable.expedido" class="form-control" ng-model="datos_responsable.expedido" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" value="">        
          </div>


      </div> 

      <br>
      <br>
      <br>
      <br>
      <div class="col-md-12">
          <div class="col-md-4">
              <label class="control-label">Celular:</label>       
              <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" id="datos_responsable.movil" name="datos_responsable.movil" onkeyup="return conMayusculas(this)" value="" ng-model="datos_responsable.movil">        
          </div>
          <div class="col-md-4">
              <label class="control-label">Correo:</label>       
              <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" id="datos_responsable.correo" name="datos_responsable.correo" onkeyup="return conMayusculas(this)" value="" ng-model="datos_responsable.correo">        
          </div>
          <div class="col-md-4">
              <label class="control-label">Zona:</label>       
              <input type="text" id="datos_responsable.zona" name="datos_responsable.zona" class="form-control" ng-model="datos_responsable.zona" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" value="">        
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md-12">
          <div class="col-md-4">
              <label class="control-label">Via:</label>       
              <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" id="datos_responsable.nomVia" name="datos_responsable.nomVia" onkeyup="return conMayusculas(this)" value="" ng-model="datos_responsable.nomVia">        
          </div>
          <div class="col-md-4">
              <label class="control-label">Tipo Via:</label>       
              <input type="text" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" id="datos_responsable.tipoVia" name="datos_responsable.tipoVia" onkeyup="return conMayusculas(this)" value="" ng-model="datos_responsable.tipoVia">        
          </div>
          <div class="col-md-4">
              <label class="control-label">Numero de vivienda:</label>       
              <input type="text" id="datos_responsable.numCasa" name="datos_responsable.numCasa" class="form-control" ng-model="datos_responsable.numCasa" class="form-control ng-dirty ng-invalid ng-invalid-required" ng-disabled="true" value="">        
          </div>
      </div> 
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div>
          <h3 class="ng-binding" style="color: #4baeb4 !important;">INDICAR EXACTAMENTE EN EL MAPA SU DOMICILIO:</h3>
      </div>
      <br>
      <br>

      <div>
        <h1>FREDDDDDDDDDDDDDDDDDDDDYYYYYYYYYYY</h1>
      </div>

      <br>
      <br>
      <div>
          <h3 class="ng-binding" style="color: #4baeb4 !important;">DATOS DEL VOLUNTARIADO:</h3>
      </div>
      <br>
<div class="col-md-12">
      <div class="col-md-6" >
          <div class="form-group">
            <label for="url">Tipo de Voluntariado que realiza</label>
            <div class="controls">
              <select id="tipo_voluntario" 
              name="tipo_voluntario"
              placeholder="Zona" 
              ng-model="datos.tipo_voluntario"
              class="form-control"
              required ng-disabled="desabilitado">
              <option value="">--Seleccionar--</option>
              <option value="Si">Alimentador</option>
              <option value="No">Educador</option>
              <option value="No">Rescatista</option>
              <option value="No">Otro</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6" >
            <div class="form-group" >
              <label for="url">Fecha en la que se realizó la vacuna antirrabica:</label>
              <div class="controls">
                <input type="date" class="form-control" ng-model="datos.fecha_antirrabica" name="fecha_antirrabica" value="memorandum" required ng-disabled="desabilitado">
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="col-md-6" >
              <div class="form-group" >
                <label for="url">Gestion en que inicio a ser Voluntariado</label>
                <div class="controls">
                  <input type="number" class="form-control" ng-model="datos.gestion_inicio" name="gestion_inicio" value="memorandum" required ng-disabled="desabilitado">
                </div>
              </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group" >
                  <label for="url">Lugar donde realiza el Voluntariado</label>
                  <div class="controls">
                    <input type="text" class="form-control" ng-model="datos.lugar_voluntariado" name="lugar_voluntariado" value="memorandum" required ng-disabled="desabilitado">
                  </div>
                </div>
            </div>
      </div>
      <div class="col-md-12">
          <div class="col-md-12" >
              <div class="form-group" >
                <label for="url">Otros:</label>
                <div class="controls">
                  <input type="text" class="form-control" ng-model="datos.otros_tipos_voluntariado" name="otros_tipos_voluntariado" value="memorandum" required ng-disabled="desabilitado">
                </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <div>
      <div>
          <h3 class="ng-binding" style="color: #4baeb4 !important;">CONDICIONES TÉCNICAS DE INFRAESTRUCTURA:</h3>
      </div>
      <br>
      <div class="col-md-12">
          <div class="col-md-4" >
              <div class="form-group" >
                <label for="url">Caniles Móviles(Nro.)</label>
                <div class="controls">
                  <input type="number" class="form-control" ng-model="datos.caniles_moviles" name="caniles_moviles" value="memorandum" required ng-disabled="desabilitado" ng-change ="sumar_moviles()">
                </div>
              </div>
            </div>
            <div class="col-md-4" >
                <div class="form-group" >
                  <label for="url">Gatiles Móviles(Nro.)</label>
                  <div class="controls">
                    <input type="number" class="form-control" ng-model="datos.gatiles_moviles" name="gatiles_moviles" value="memorandum" required ng-disabled="desabilitado" ng-change ="sumar_moviles()">
                  </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="form-group" >
                  <label for="url">Total Móviles</label>
                  <div class="controls">
                    <input type="number" class="form-control" ng-model="datos.total_moviles" name="total_moviles" value="memorandum" ng-disabled="true">
                  </div>
                </div>
            </div>
      </div>
      <div class="col-md-12">
          <div class="col-md-4" >
              <div class="form-group" >
                <label for="url">Capacidades de Caniles(Nro.)</label>
                <div class="controls">
                  <input type="number" class="form-control" ng-model="datos.capacidad_caniles" name="capacidad_caniles" value="memorandum" required ng-disabled="desabilitado" ng-change ="sumar_capacidades()">
                </div>
              </div>
            </div>
            <div class="col-md-4" >
                <div class="form-group" >
                  <label for="url">Capacidades de Gatiles(Nro.)</label>
                  <div class="controls">
                    <input type="number" class="form-control" ng-model="datos.capacidad_gatiles" name="capacidad_gatiles" value="memorandum" required ng-disabled="desabilitado" ng-change ="sumar_capacidades()">
                  </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="form-group" >
                  <label for="url">Total de Capacidad</label>
                  <div class="controls">
                    <input type="number" class="form-control" ng-model="datos.total_capacidad" name="total_capacidad" value="memorandum" ng-disabled="true">
                  </div>
                </div>
            </div>
      </div>
      <div class="col-md-12">
          <div class="col-md-4" >
              <div class="form-group" >
                <label for="url">Total Comedores</label>
                <div class="controls">
                  <input type="number" class="form-control" ng-model="datos.total_comedores" name="total_comedores" value="memorandum" required ng-disabled="desabilitado">
                </div>
              </div>
            </div>
            <div class="col-md-4" >
                <div class="form-group" >
                  <label for="url">Total Bebederos</label>
                  <div class="controls">
                    <input type="number" class="form-control" ng-model="datos.total_bebederos" name="total_bebederos" value="memorandum" required ng-disabled="desabilitado">
                  </div>
                </div>
            </div>
      </div>
      </div>
      <div class="col-md-12" align="right"><br>
        <button id="miFormGuardar" ng-click="validar(datos);"  type="button" class="btn btn-success fa fa-save" name="formEnviar">GUARDAR</button>
      </div>
  </div>
        
</html>

