<!--<nav>
    <button ng-click="goPrevious()"><</span></button>
    <button ng-click="goNext()">></span></button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#divPopup8"><span class="glyphicon glyphicon-print" aria-hidden="true" title="Duplicado de Certificado Catastral"></span> Imprimir</button>

    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <span>Page: </span>
    <input type="text" min=1 ng-model="pageNum">
    <span> / {{pageCount}}</span>
    <button class="btn btn-info" ng-click="zoomIn()"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true" title="Duplicado de Certificado Catastral"></span> Aumentar</span></button>
    <button class="btn btn-info" ng-click="zoomOut()"><span class="glyphicon glyphicon-zoom-out" aria-hidden="true" title="Duplicado de Certificado Catastral"></span> Disminuir</span></button>
    <button ng-click="cambioUrl()">cambio URL</button>
    <span>Document URL: </span>
    <input type="text" ng-model="pdfUrl">
</nav>-->
<!--style="overflow: scroll; width: 850px; height: 600px"-->
{{loading}}
<div style="overflow: scroll; width: 850px; height: 520px;" >
    <canvas id="pdf1" class="rotate0" width="200" height="100"></canvas>
</div>



