<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Certificado de Obito</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img src="http://obito.lapaz.bo/obitosolicitud/images/portal.gif" class="img-responsive" alt="image">
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>Qr Cementerio</strong></h4>
                        <p><i class="fa fa-map-marker"></i> CEMENTERIO GENERAL U.M.D.
                            Dirección
                            Av. Baptista Nº 1199
                            Teléfono(s)
                            2455259</p>
                        <h5>
                            Información
                        </h5>
                        <p>
                            Tamaño del Archivo : 298.24 kB
                        </p>
                        <p>
                            Publicación : 16 Mayo 2014
                        </p>
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="http://portal.lapaz.bo/index.php?option=com_phocadownload&view=category&download=683:qr-cementerio&id=74:aplicaciones-moviles&Itemid=649" class="btn btn-info btn-sm btn-block" target="_blank" type="button"><i class="fa fa-download"></i> Descarga</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
          