<html lang="en" ng-app="myApp">
	
	
<link href="../../libs/css/sweetalert.css" rel="stylesheet">
<!--ngSweetAlert-->
<!--<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/B0D9EF6C-32A6-BA44-8F51-B4FA608237BA/main.js" charset="UTF-8"></script>-->
<script src="../../libs/js/prism.js"></script>
<script type="text/javascript" src="../../libs/js/sweetalert.min.js"></script>
<script type="text/javascript" src="../../libs/js/ngSweetAlert.js"></script>
<link rel="stylesheet" href="../../libs/css/css/foro.css">
<script src="../../view/GestionDocumental/foro/appForo.js"></script>

<script type="text/javascript">
// Starrr plugin (https://github.com/dobtco/starrr)
var __slice = [].slice;
(function($, window) {
  	var Starrr;
  	Starrr = (function() {
    	Starrr.prototype.defaults = {
      		rating: void 0,
      		numStars: 5,
      		change: function(e, value) {}
    	};
    	function Starrr($el, options) {
      		var i, _, _ref,
        	_this = this;
      		this.options = $.extend({}, this.defaults, options);
      		this.$el = $el;
      		_ref = this.defaults;
      		for (i in _ref) {
        		_ = _ref[i];
        		if (this.$el.data(i) != null) {
          			this.options[i] = this.$el.data(i);
        		}
      		}
	      	this.createStars();
	      	this.syncRating();
	      	this.$el.on('mouseover.starrr', 'span', function(e) {
	        	return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
	      	});
      		this.$el.on('mouseout.starrr', function() {
        		return _this.syncRating();
      		});
      		this.$el.on('click.starrr', 'span', function(e) {
        		return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
      		});
      		this.$el.on('starrr:change', this.options.change);
    	}
    	Starrr.prototype.createStars = function() {
	      		var _i, _ref, _results;
	      		_results = [];
	      		for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
	       		_results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
	      	}
	      	return _results;
	    };
	    Starrr.prototype.setRating = function(rating) {
	      	if (this.options.rating === rating) {
	        	rating = void 0;
	      	}
	      	this.options.rating = rating;
	      	this.syncRating();
	      	return this.$el.trigger('starrr:change', rating);
	    };
	    Starrr.prototype.syncRating = function(rating) {
	      	var i, _i, _j, _ref;
	      	rating || (rating = this.options.rating);
	      	if (rating) {
	        	for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
	          		this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
	        	}
	      	}
	      	if (rating && rating < 5) {
	        	for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
	          		this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
	        	}
	      	}
	      	if (!rating) {
	        	return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
	      	}
	    };
	    return Starrr;
	})();
 	return $.fn.extend({
    	starrr: function() {
      		var args, option;
      		option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
      		return this.each(function() {
        		var data;
        		data = $(this).data('star-rating');
        		if (!data) {
          			$(this).data('star-rating', (data = new Starrr($(this), option)));
        		}
	        	if (typeof option === 'string') {
	          		return data[option].apply(data, args);
	       		}
      		});
    	}
	});
})(window.jQuery, window);

$(function() {
  	return $(".starrr").starrr();
});
$( document ).ready(function()
{  
  	$('#hearts').on('starrr:change', function(e, value)
  	{
	    if(value)
	    {
	    	$('#count').html(value);	
	    	accessScope('#outer', function (scope) {
				scope.adicionarCalificacion(value);
			});
	    }
	    else
	    {
	    	$('#count').html(0);
	    }   
	});
  	$('#hearts-existing').on('starrr:change', function(e, value)
  	{
    	$('#count-existing').html(value);
  	});
});
</script>

<script type="text/javascript">
// When the document is ready
	var respuestaPadre=0;
		function conMayusculas(field) {
		field.value = field.value.toUpperCase()
	};
	function soloNumerico(variable){
		Numer=parseInt(variable);
		if (isNaN(Numer)){
			return "";
		}
		return Numer;
	}

	function valNumero(Control){
		Control.value=soloNumerico(Control.value);
	}
	 //respuesta hijo
	function respuestaTema(idtema){
		//console.log('idtema--------------->',idtema);
		document.formularioRespuestasTema.reset();
		//$('#responderTema').modal('show'); 	
		document.getElementById("rtmid_respuesta_hijo").value = idRespuesta;
	}
    
    //respuesta padre
	function respuestaGen(idRespuesta){
		//console.log('idRespuesta--------------->',idRespuesta);
		document.formularioRespuesta.reset();
		//$('#responderTema').modal('show');
		document.getElementById("rtmid_respuesta_hijo").value = idRespuesta;
	}
	function accessScope(node, func) {
		var scope = angular.element(document.querySelector(node)).scope();
		scope.$apply(func);
	}

	function meGusta(idRespuesta, likesRespuesta)
	{
		accessScope('#outer', function (scope) {
			scope.meGustaRespuesta(idRespuesta, likesRespuesta);
		});
	}

	function cargarPrincipal(idPrincipal, nombrePrincipal)
	{
		accessScope('#outer', function (scope) {
			scope.renderGrupos(idPrincipal,nombrePrincipal);
		});	
	}

	function cargarTema(idGrupo, nombGrupo)
	{
		accessScope('#outer', function (scope) {
			scope.getDocumento(idGrupo,nombGrupo);
			//console.log('GRUPOS---->',idGrupo,nombGrupo);
		});	
	}

	function cargarSubTema(a,b,c,d,e,f,g,h,i,j,k,l,m)
	{
		accessScope('#outer', function (scope) {
			scope.mostrarTemas(a,b,c,d,e,f,g,h,i,j,k,l,m);
			scope.nrovisitasGrupo(a);
		});	
	}

	function cargarRespuestas(a,b,c,d,e,f,g,h,i,j,k,l,m)
	{
		accessScope('#outer', function (scope) {
			scope.mostrarRespuesta(a,b,c,d,e,f,g,h,i,j,k,l,m);
			scope.cuentaLikesTema(a);
		});	
	}
	function caragarView(a,b,c,d){
	}

	function caragarViewRespuestas(u,v,w,x,y){
		accessScope('#outer', function (scope) {
			scope.renderRespuestaTema(u,v,w,x,y);
		});
	}

	function cargarMegusta(a){
		accessScope('#outer', function (scope) {
			scope.meGustaTema(a);
			scope.cuentaLikesTema(a);
		});
	}

	function mostrarOcultar(id){
		var dato = 'ocultable'+id;
		var elemento = document.getElementById(dato);
		if(!elemento) {
			return true;
		}
		if (elemento.style.display == "none") {
		elemento.style.display = "block"
		} else {
		elemento.style.display = "none"
		};
		return true;
	};
	
</script>


<div id="outer" ng-controller="foroController" data-ng-init="inicioDocumentos()">
	<center>
   		<div class="col-md-12" class="row" >
		   	<div id="registration-form">
	        	<legend>{{translateTitulos.lbl_020_01}}</legend>
	        	<span><strong>{{translateTitulos.lbl_020_02}}</strong></span>
	        	<div class="hr-line-dashed"></div>
	        </div>
		</div>
	</center>

	<div ng-show = "gruposTema != null">
		<div class="fieldset" class="form-control">
			<div class="row">
				<div class="col-md-12">
					 <!--Participacion Ciudadana PRIMERA PANTALLA -->
					<div ng-bind-html="get_renderizarGrupos(htmlGrupo)"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- /ui atns -->
	<!-- /////// /////// //////////////// /////// ///////-->
	<!-- /////// /////// LISTADO DE TEMAS /////// ///////-->
	<!-- /////// /////// //////////////// /////// ///////-->
	<!-- ui atns -->
	<div class="col-sm-12" ng-show ="listadoTemas != null">
		<div class="fieldset" class="form-control">
			<div class="row" >
				<div class="col-md-12 background">
					<div class="col-md-2"><!--cambios-->
						<div class="volver_foro_t">
							<a ng-click="volverGrupo();"><i class="fa fa-reply" style="color:#00ADB5 !important;"></i></a><!--cambios-->
						</div>
					</div>
					<div class="col-md-8 row" align="center">
						<span style="font-size: 16px" ><strong>{{translateTitulos.lbl_020_03}} "{{nombreGrupoTema}}"</strong></span>
						<div>{{translateTitulos.lbl_020_04}}: {{nroTemas}} {{translateTitulos.lbl_020_05}}</div>
					    <div class="hr-line-dashed"></div>
					</div>
				</div>
				<div class="col-md-12">
					<div id="refresh_div" name="refresh_div">
						<div ng-bind-html="get_renderizarTemas(htmlTema)"></div>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<!-- REGISTRAR NUEVO TEMA - MODAL-->
	<div class="modal fade" id="registrarTema" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{translateTitulos.lbl_05_05_05}}</span></button>
					<h4 class="modal-title" id="myModalLabel" style="text-transform: uppercase;">{{translateTitulos.lbl_020_10}} EN : "{{nombreGrupoTema}}"</h4>
				</div>
				<div class="modal-body" >
					<form name="formularioRoles" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="url" >{{translateTitulos.lbl_020_11}}:</label>
									<div class="controls">
										<input  ng-value="&nbsp;" ng-model="datosRol.ftmtema" name="ftmtema" id="ftmtema" class="form-control" type="text" placeholder="Ingrese el tema" ng-disabled="only" ng-required="true" >
										<span style="color:red" ng-show="formularioRoles.ftmtema.$invalid">
											<span ng-show="formularioRoles.ftmtema.$error.required">{{translateTitulos.lbl_020_12}}
											</span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="url" >{{translateTitulos.lbl_020_13}}:</label>
									<div class="controls">
										<textarea  ng-value="&nbsp;" ng-model="datosRol.ftmdescripciontema" name="ftmdescripciontema" id="ftmdescripciontema" class="form-control" type="text" placeholder="Escriba la descripcion del tema" ng-disabled="only" required="true"></textarea>
										<!--input ng-value="&nbsp;" ng-model="datosRol.ftmdescripciontema" name="ftmdescripciontema" id="ftmdescripciontema" class="form-control" type="textArea" placeholder="Escriba la descripcion del tema" ng-disabled="only" ng-required="true"-->
										<span style="color:red" ng-show="formularioRoles.ftmdescripciontema.$invalid">
											<span ng-show="formularioRoles.ftmdescripciontema.$error.required">{{translateTitulos.lbl_020_14}}
											</span>
										</span>
									</div>
								</div>
							</div>
                             <!-- GNERADOR DE CAPCHA -->
	                        <div class="col-md-12" align="center" >
                            <table width="50%" border="0" cellspacing="0" cellpadding="2"  class="one">
                                <tr class="color">
                                    <div style="background: #ffffff;" >
                                        <div class="box2">
                                            <img class="img-responsive" src="{{imageCST}}" title="{{toltipT}}">
                                        </div>
                                        <div class="box2">
                                            <img class="img-responsive" src="{{imageLNG}}"  title="Palabra en CASTELLANO">
                                        </div>
                                    </div>
                                </tr>
                                <tr class="color">
                                    <td class="color22" colspan="3" width="70"  align="center">
                                        <input id="resultadoC" name="resultadoC" type="text" style="border: 0px !important;" class="form-control" placeholder="{{palabraT}}" ng-model="resultadoC" ng-keyup="VerificarCapchaT();" required/>
                                        <span  ng-show="formulario.palabraT.$invalid">
                                            <span ng-show="formulario.palabraT.$error.required">{{palabraT}}.</span>
                                        </span>
                                        <label >{{palabraT}}</label>
                                    </td>
                                    <td class="color2" width="30"  align="center">
                                        <a type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target="modal" ng-click="getCaptchasX();"><i class="fa fa-refresh fa-lg" aria-hidden="true" style="color:#6F7072" title="Actualizar"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <b><font SIZE=3 color="red">{{ErrorCapcha}}</font></b>
                         </div>
                        <!-- ********************* -->
                            <br>
                            <br>
                            <br>
                            <br>
                            <br> 
                            <br>
                            <br>
                            <br>  							
						</div>
					</form>
				</div>                
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">{{translateTitulos.lbl_05_05_05}}</button>
					<button  ng-click="VerificarCapchaTema(datosRol)" data-dismiss="{{variabletema}}" ng-disabled="formularioRoles.resultadoC.$invalid" type="button" class="btn btn-info">{{translateTitulos.lbl_020_10}}</button><!-- 
					<button data-dismiss="modal" ng-click="adicionarTema(datosRol)" ng-disabled="formularioRoles.resultadoC.$invalid" type="button" class="btn btn-primary">Registrar Tema</button> -->
				</div>
			</div>
		</div>
	</div>

	<!-- /////// /////// ////// RESPONDER ////////// /////// ///////-->
	<!-- /////// /////// //////////////// /////// ///////-->
	<div class="col-sm-12" ng-show = "respuestasTema != null">
		<div class="row" >
			<div class="col-md-12 background">
				<div class="col-md-2"><!--cambios-->
					<div class="volver_foro_t">
						<a ng-click="volverTemasUpdate();"><i class="fa fa-reply" style="color:#00ADB5 !important;"></i></a><!--cambios-->
					</div>
				</div>
				<div class="col-md-8">
					<span style="font-size: 16px"><strong>{{translateTitulos.lbl_020_03}}</strong></span> | {{nombreGrupoTema}}<span> | <strong> "{{tituloTema}}"</strong></span>
					<div>{{translateTitulos.lbl_020_04}} {{nroTemas}} {{translateTitulos.lbl_020_05}}</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row" class = "fondoForo" style="background: white; padding: 5px;">
				<div class="col-md-12 fondoForo" style="background: white; padding: 2px;">
					<div class="imagen_foro_list">
						<div class="titulo_f_list">{{tituloTema}}</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="font-size:15px; height: auto">
				<div class="row fondoForoRespuesta">
					<div class="col-md-4"  style="color:#535E65;text-align:left; padding: 12px 0px 0px 0px">
						<div class = "tabla" class="pull-left">  
							<!--div class="columna0"><a><i class="fa fa-users" style="font-size:22px;color:#003366!important;" data-toggle="modal" data-target="#responderTema" ng-click="limpiarRespuesta();" data-toggle="tooltip" title="Responder"></i></a></div-->
							<div class="columna0"><a><i class="fa fa-users" style="font-size:22px;color:#003366!important;" data-toggle="modal" data-target="#registrarTema" ng-click="limpiarRespuesta();" data-toggle="tooltip" title="Crear nuevo Tema"></i></a></div>
							<input type="hidden" name="btnTema" ng-model="btnTema" id = "btnTema">
							<!--div class="columna1"><a><i class="fa fa-heart" class="pull-left" style="font-size:22px; color:#A50000"  data-toggle="tooltip" ng-click="meGustaTema(idtema1);cuentaLikesTema(idtema1)" ng-disabled = "bloquear" title="Me gusta" id = "btnTema"></i></a></div> 
							<div class="columna2"><i class="fa fa-eye" style="font-size:22px;color:black" data-toggle="tooltip" title="Visitas"></i></div>
							<div class="columna3"><i class="fa fa-comments" style="font-size:22px;color:#FFD700" data-toggle="tooltip" title="Respuestas"></i></div-->
						</div>
						<div class = "tabla">
							<div class="columna0"><span style="padding: 0px 0px;">Nuevo Tema</span></div>
							<!--div class="columna1" class="bg-primary" ><span style="padding: 0px 10px;color: white !important;">{{likesTema}}</span></div>
							<div class="columna2" class="descripcion_f_list"><span style="color: white !important; padding: 0px 10px;">{{nroVisto}}</span></div>
							<div class="columna3" class="descripcion_f_list"> <span style="color: white !important; padding: 0px 10px;">CCCCC{{comentarios}}</span></div-->
   						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="fieldset" class="form-control">
					<table width="100%">
						<tr>
							<td valign="top" class="col-md-8" style="background:white">
								<div ng-bind-html="get_renderizarTemas1(htmlTema1)"></div>
								<div ng-bind-html="get_renderizarRespuestas(htmlTema2)"></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
	
			<!-- MODAL RESPONDER TEMA -->
			<div class="modal fade" id="responderTema" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{translateTitulos.lbl_05_05_05}}</span></button>-->
							<!--<h4><span style="font-size: 16px" >FORO : </span>/ {{nombreGrupoTema}}<span><strong>/ "{{tituloTema}}"</strong></span></h4>-->
							<button type="button" class="close" data-dismiss="modal">&times;</button>
		          			<h4 class="modal-title">FORO : | {{nombreGrupoTema}} | "{{tituloTema}}"</h4>
						</div>
						<form name="formularioRespuesta" id="registration-form" novalidate class="ibox-content" class="fieldset">
							<div class="row">
								<div class="col-md-12" ng-show="campoResp = null">
									<div class="form-group">
										<label for="url" >{{translateTitulos.lbl_020_19}}</label>
										<div class="controls">
											<input  ng-value="&nbsp;" ng-model="datosRespuesta.rtmid_respuesta_hijo" name="rtmid_respuesta_hijo" id="rtmid_respuesta_hijo" class="form-control" type="text" placeholder="" ng-disabled="only" ng-required="true" >
										</div>
									</div>
								</div>
								<div class="col-md-12" class="fieldset">
									<div class="form-group">
										<label for="url" >{{translateTitulos.lbl_020_15}}:</label>
										<div class="controls">
											<textarea  ng-value="&nbsp;" ng-model="datosRespuesta.rtmrespuesta" name="rtmrespuesta" id="rtmrespuesta" class="form-control" type="text" placeholder="Escriba su respuesta " ng-disabled="only" ng-required="true" ></textarea>
											<!--input ng-value="&nbsp;" ng-model="datosRespuesta.rtmrespuesta" name="rtmrespuesta" id="rtmrespuesta" class="form-control" type="text" placeholder="Escriba su respuesta " ng-disabled="only" ng-required="true"-->
											<span style="color:red" ng-show="formularioRespuesta.rtmrespuesta.$invalid">
												<span ng-show="formularioRespuesta.rtmrespuesta.$error.required">{{translateTitulos.lbl_020_16}}
												</span>
											</span>
										</div>
									</div>
								</div>
								<!-- GNERADOR DE CAPCHA -->
		                        <div class="col-md-12" align="center">
		                            <table width="50%" border="0" cellspacing="0" cellpadding="2"  class="one">
		                                <tr class="color">
		                                    <div style="background: #ffffff;" >
		                                        <div class="box2">
		                                            <img class="img-responsive" src="{{imageCST}}" title="{{toltipT}}">
		                                        </div>
		                                        <div class="box2">
		                                            <img class="img-responsive" src="{{imageLNG}}"  title="Palabra en CASTELLANO">
		                                        </div>
		                                    </div>
		                                </tr>
		                                <tr class="color">
		                                    <td class="color22" colspan="3" width="70"  align="center">
		                                        <input id="resultadoCC" name="resultadoCC" type="text" style="border: 0px !important;" class="form-control" ng-change ="lmpCaptcha()" placeholder="{{palabraT}}" ng-model="resultadoCC"  required/>
		                                            <span  ng-show="formulario.palabraT.$invalid">
		                                                <span ng-show="formulario.palabraT.$error.required">{{palabraT}}.</span>
		                                            </span>
		                                            <label >{{palabraT}}</label>
		                                    </td>
		                                    <td class="color2" width="30"  align="center">
		                                        <a type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target="modal" ng-click="getCaptchasXX();"><i class="fa fa-refresh fa-lg" aria-hidden="true" style="color:#6F7072" title="Actualizar"></i>
		                                        </a>
		                                    </td>
		                                </tr>
		                            </table>
		                            <b><font SIZE=3 color="red">{{ErrorCapcha}}</font></b>
		                        </div>
		                        <!-- ********************* -->
							</div>
						</form>              
						<div class="modal-footer">
							<button type="button" class="btn btn-info" data-dismiss="modal">{{translateTitulos.lbl_05_05_05}}</button>
							<button  ng-disabled="formularioRespuesta.resultadoCC.$invalid || formularioRespuesta.rtmrespuesta.$invalid " ng-click="VerificarCapchaa(datosRespuesta)" data-dismiss="{{variablerespuesta}}" type="button" class="btn btn-info">Participar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html> 