<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GAMLP 24/7</title>
    <script type="text/javascript">
        function valor(a)
        {
            $("#titulo").text(a);
            //var a = $("boton").val();
        }
    </script>
</head>
<body data-spy="scroll" data-target="#menu-section" >
   <!--MENU SECTION START-->
   <div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
               GAMLP 24/7
            </a>
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#home">INICIO</a></li>
               <li><a href="#services">CARACTERISTICAS</a></li>
               <li><a href="#pricing">ESTRUCTURA</a></li>
               <li><a href="#contact">CONTACTO</a></li> -->
            </ul>
         </div>
      </div>
   </div>
   <!--MENU SECTION END-->
   <!-- begin home -->
   <div id="home" style="padding-top: 0px !important" >
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6">
               <div class="imagen_ini">
                   <img src="../../libs/css_dashboard/assets/img/logo.png" class="img-responsive img-rounded" alt="" />
               </div>   
            </div>   
            <div class="col-md-6">
               <div class="texto_ini">
                             <form name="loginForm" class="form-horizontal" role="form">
                                           
                                            <div style="background: rgba(149, 149, 149, 0.08); border: solid 1px #C9D2CE; padding: 20px; border-radius: 5px;">
                                                <h1 class="text-left" style="text-align: center;">
                     <strong >Iniciar Sesión</strong> <br><br>
                  </h1>
                                                  <div class="form-group">

                                                   <label class="col-sm-3 control-label no-padding-right " for="usuario">&nbsp;&nbsp;Usuario:&nbsp;&nbsp;</label><i class="ace-icon fa fa-user"></i>
                                                   <div class="col-sm-7">
                                                      <span class="block input-icon input-icon-right">
                                                           <input type="text" class="form-control" placeholder="Usuario" name="usuario" ng-model="login.usuario" required focus/>   
                                                       </span>
                                                   </div>
                                               </div>
                                               <div class="form-group">
                                                   <label class="col-sm-3 control-label no-padding-right" for="clave">&nbsp;&nbsp;Contraseña:&nbsp;&nbsp;</label><i class="ace-icon fa fa-lock"></i>
                                                   <div class="col-sm-7">
                                                      <span class="block input-icon input-icon-right">
                                                           <input type="password" name="clave" class="form-control" placeholder="Contraseña" ng-model="login.clave" required/>
                                                         
                                                       </span>
                                                   </div>
                                               </div>
                                               <div class="space"></div>
                                                <div class="clearfix">
                                                   <a class=" btn button-custom btn-custom-two" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid"><strong>Ingresar</strong></a>
                                                   
                                                </div>
                                                <a href="index.html#/registro" class=" btn button-custom btn-custom-two"><strong>Crear Una Cuenta</strong></a>
                                            <a href="#/signup">
                                            <br>
                                            <br>

                                            <a href="../../../index.html"><strong style="color: grey">Volver Inicio</strong></a>
                                            </div>
                                            
                                        </form>  


                                                                        
                  <!-- CTA BUTTONS -->

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end home -->
     <header id="top" class="header">
        <div class="text-vertical-right">
            <div class="container" >
                <div class="row">
                    <div class="col-md-112">
                    <br>
                        <br>
                        <br>

                            <div class="col-lg-66 ">
                                <div id="login-box" class="login-panel panel panel-default">
                                   
                            </div><!-- /position-relative --> 
                    </div>
                </div> 
            </div>          
        </div>
    </header>

    <script src="../../../inicio/js/jquery.js"></script>
    <script src="../../../inicio/js/bootstrap.min.js"></script>
    <script>

    </script>
