<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <link rel="stylesheet" type="text/css" href="../../libs/css/bootstrap-clockpicker.min.css" async>
    <script src="../../libs/loading/loadingoverlay.js"></script>
    <script src="../../libs/js/prism.js" async></script>
  </head>    
<body>
  <div ng-controller="serviciosControllerProducto" ng-init="inicioServiciosP();">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
           <div id="mostrar" class="ibox-title">
              <h5>Datos para Comercio Virtual</h5>
              <!--a href="#" id="cerrar_rc" ><i class="fa fa-sort-asc flechaOscura" id="cerrar_i"></i></a-->
           </div>
           <div class="ibox-content" id="caja">
              <form class="form-horizontal ng-pristine ng-valid">
                <div class="form-group">    
                    <label class="col-lg-5 control-label">SELECCIONE LA ACTIVIDAD ECONÓMICA PARA LA HABILITACIÓN:</label>
                </div>
              </form>    
              <table  ng-table="tblTramites" class="table  table-hover" id="lstActividadECONÓMICA">
                <tr style="cursor: pointer;" ng-repeat="tramite in $data  | filter:query " ng-style="tramite.IdActividad==sIdAeGrilla && {'background-color':'rgb(0, 185, 194 ,0.2)','font-color':'#A2D5AE'}">
                    <td data-title="'No'" ng-click="addDatosAE(tramite)"> {{$index+1}}</td>
                    <!--td data-title="'ID ACTIVIDAD'" ng-click="selActividadEconomica(tramite)">{{tramite.IdActividad}}</td-->
                    <td data-title="'Denominación'" ng-click="addDatosAE(tramite)">{{tramite.denominacion}}</td>
                    <td data-title="'Dirección'" ng-click="addDatosAE(tramite)">{{tramite.Direccion}}</td>
                    <td data-title="'Descripción'" ng-click="addDatosAE(tramite)">{{tramite.Descripcion}}</td>
                    <!--td data-title="'Deuda'" ng-click="selActividadEconomica(tramite)">{{tramite.deudaActividad}} </td-->
                    <td data-title="'Tienda Virtual'" >
                      <a class="btn btn-success ng-binding" tooltip="Completar Info" ng-click="addDatosAE(tramite);">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td data-title="'Productos'" >
                      <a class="btn btn-success ng-binding" tooltip="Productos" ng-click="addProductoAE(tramite);">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td data-title="'Pago en Línea'" >
                      <a class="btn btn-success ng-binding" tooltip="Pago en Línea" ng-click="addPagosAE(tramite);">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td data-title="'Publicar Página'" >
                      <a class="btn btn-success ng-binding" tooltip="Publicar Página" ng-click="confPublicar(tramite);">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                      </a>
                    </td>
                </tr>
              </table>
           </div>
        </div>
     </div>
     <div class="col-lg-12">
        <div ng-include="template.url" class="animated fadeInUp"></div>
     </div>
  </div>
</body>