<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
   <!--<link href="../../libs/css/sweetalert.css" rel="stylesheet" async>-->
   <link rel="stylesheet" type="text/css" href="../../libs/css/bootstrap-clockpicker.min.css" async>
   <!--<script type="text/javascript" src="../../libs/js/sweetalert.min.js" async></script>-->
   <!--<script type="text/javascript" src="../../libs/js/ngSweetAlert.js" async></script>-->
   <link href="../../libs/css/select2.min.css" rel="stylesheet" async />
   <script src="../../libs/js/select2.min.js" async></script>
   <script src="../../libs/js/prism.js" async></script>
   <script type="text/javascript" src="../../libs/js/bootstrap-clockpicker.min.js" async></script>

   <!--
      <link rel="stylesheet" href="../../libs/Librerias/ol_4.6.5_dist/ol.css"/>
      <link rel="stylesheet" href="../../libs/Librerias/ol-layerswitcher-master/src/ol-layerswitcher.css"/>

      <script type="text/javascript" src="../../libs/Librerias/ol_4.6.5_dist/ol.js"></script>
      <script type="text/javascript" src="../../libs/Librerias/ol-layerswitcher-master/src/ol-layerswitcher.js"></script>
      <script type="text/javascript" src="../../libs/Librerias/proj_4/proj4.js"></script>
      <script type="text/javascript" src="../../libs/Librerias/busqueda/geo_zonas.js"></script>
      <script type="text/javascript" src="../../libs/Librerias/busqueda/geo_zonas_centroides.js"></script>
      <script type="text/javascript" src="../../libs/Librerias/busqueda/nombre_calles.js"></script>
      <script type="text/javascript" src="../../libs/Librerias/busqueda/nombre_lugares.js"></script>
      <script type="text/javascript" src="../../libs/Librerias/reqwest-master/src/reqwest.js"></script>
      <script type="text/javascript" src="../../libs/Librerias/busqueda/mapa_ae.js"></script>
      -->

</head>

<body>
   <style type="text/css">
      #caja {
         display: block;
      }

      #mostrar {
         display: block;
      }

      #cerrar_rc {
         position: absolute;
         top: 5px;
         left: 92%;
         font-size: 38px;
         color: #FFCB05 !important;
      }
      
      #modalTamanio{
         width: 70% !important;
      }
   </style>
   <style>
      .ejemplo3 {
         background-color: #6F7072;

         color: #6F7072;
         margin: 1px auto;
         padding: 4px;
         text-align: center;
         width: 350px;
      }

      input:required:invalid {
         border: 1px solid red;
      }

      input:required:valid {
         border: 1px solid green;
      }

      select:required:invalid {
         border: 1px solid red;
      }

      select:required:valid {
         border: 1px solid green;
      }

      .form-group {
         padding-left: 8px;
      }

      .box2 {
         display: inline-block;
         width: 190px;
         margin: 2px;
      }

      .ng-table th {
         text-align: left !important;
      }
      
   </style>
   <script type="text/javascript">
      var icon = 0;
      $('#mostrar').click(function (event) {
         event.preventDefault();
         $("#caja").slideToggle();

         if (icon == 0) {
            $("#cerrar_i").removeClass("fa fa-sort-asc");
            $("#cerrar_i").addClass("fa fa-sort-desc");
            $("#cerrar_rc").css({ 'position': 'absolute', 'top': '-11px' });
            icon = icon + 1;
         }
         else {
            $("#cerrar_i").addClass("fa fa-sort-asc");
            $("#cerrar_rc").css({ 'position': 'absolute', 'top': '5px' });
            icon = 0;
         }
      });
      $('#ibox-title').click(function (event) {
         event.preventDefault();
         $('#caja').slideUp();
      });   
   </script>
   <script type="text/javascript">
      $(document).ready(function () {
         $(".js-example-basic-single").select2();
         $('html,body').scrollTop(0);
      });
   </script>

   <div ng-controller="serviciosController343" ng-init="inicioServicios343();">
      <div class="col-lg-12">
         <div class="ibox float-e-margins">
            <div id="mostrar" class="ibox-title">
               <h5>Solicitud de Licencia</h5>
               <a href="#" id="cerrar_rc"><i class="fa fa-sort-asc flechaOscura" id="cerrar_i"></i></a>
            </div>
            <div class="container-fluid">
               <div class="alert alert-success">
                  Para más detalle sobre temas de trámites de licencias de funcionamiento, comuníquese mediante la línea <strong class="alert-link">155</strong>.
               </div>
           </div>
            <div class="ibox-content" id="caja">
               <div class="row">
                  <div class="col-sm-12 b-r">
                     <form class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group">

                           <div class="col-lg-3">
                              <div style="text-align:center;">
                                 <!--a class="btn btn-success" tooltip = "Crear el trámite" ng-click="crearTramiteAE();"><i class="fa fa-file blanco shake-slow"></i>
                                   {{translateTitulos.lbl_10_02}}
                                 <a-->
                                 <a class="btn btn-success" tooltip="Crear el trámite" data-toggle="modal"
                                    data-target="#seleccionarTramiteAE"><i class="fa fa-file blanco shake-slow"></i>
                                    <!--cambios-->
                                    {{translateTitulos.lbl_10_02}}
                                 </a>
								 <a  class="btn btn-success"  href="#servicios|varios|index.html?url='app/view/registro_ciudadano/documentos/index.html"><i class="fa fa-folder-open blanco shake-slow"></i> Ver Documentos</a>
                                 <!--button type="button" class="btn btn-success"  tooltip = "Crear el trámite" data-toggle="modal" data-target="#seleccionarTramiteAE"><i class="fa fa-file blanco shake-slow"></i>Crear Trámite</button-->


                                 <!--a class="btn btn-redondo" data-toggle="modal" tooltip = "Ayuda para crear tramites" data-target="#ayudasm">
                                    Ayudas
                                 </a-->
                              </div>
                           </div>
                           <label class="col-lg-3 control-label">{{translateTitulos.lbl_10_02_1}}:</label>
                           <div class="col-lg-6">
                              <input ng-model="query" id="busca1" class="form-control" placeholder="">
                           </div>
                        </div>
                     </form>
                     <table ng-table="tablaTramites" class="table  table-hover">
                        <tr style="cursor: pointer;" ng-repeat="tramite in $data  | filter:query "
                           ng-style="tramite.vtra_id==sIdTramiteSeleccionado && {'background-color':'#DCDCDC','font-color':'#A2D5AE'}">
                           <td data-title="'Código'" ng-click="seleccionarTramite(tramite)">{{tramite.vcodigo}}</td>
                           <td data-title="'Tipo de Trámite'" ng-click="seleccionarTramite(tramite);">
                              {{tramite.vservicio}}</td>
                           <td data-title="'Subtipo'" ng-click="seleccionarTramite(tramite)">{{tramite.vcodigo}}</td>
                           <td data-title="'Fecha'" ng-click="seleccionarTramite(tramite)">{{tramite.vfecha}} </td>
                           <td data-title="'Enviado'" ng-click="seleccionarTramite(tramite)">{{tramite.venviado}}</td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- modall -->
      <div class="modal fade" id="registro" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">{{translateImagenes.img_11_06}}aaaaaaaaaaaaaa</span></button>
                  <h4 class="modal-title" id="myModalLabel">{{translateTitulos.lbl_11_01}}</h4>
               </div>
               <div class="modal-body">
                  <form name="formularioCasos" readOnly="true" novalidate>
                     <div class="row">
                        <table class="table table-striped">
                           <thead style="background: #6F7072;color: #F5F5F6;">
                           </thead>
                           <div class="col-md-12">
                              <div class="row">
                                 <tbody ng-show="f01_categoria_agrupada12">
                                    <td>
                                       <div class="controls">
                                          <h4 class="modal-title" id="myModalLabel">Detalle Actividad Desarrolladora
                                          </h4>
                                          <select id="f01_actividad_desarrollada"
                                             ng-model="datos.f01_actividad_desarrollada"
                                             class="form-control js-example-basic-single"
                                             name="f01_actividad_desarrollada" data-placeholder="-- Seleccione --"
                                             style="width: 300px"
                                             ng-options="dato.id_act_des as dato.descripcion for dato in datosActividad | orderBy:['nombre','descripcion']"
                                             ng-disabled="desabilitadoact"
                                             ng-change="habilitarCrear();LicenciaXCategoria(datos.f01_actividad_desarrollada);"
                                             ng-required="true">
                                             <option value="">--Seleccionar--</option>
                                          </select>
                                       </div>
                                    </td>
                                 </tbody>
                              </div>
                           </div>
                        </table>
                        <input type="hidden" ng-model="datos.datosActividadLicencia" id="datosActividadLicencia"
                           name="datosActividadLicencia" class="form-control" />
                     </div>
                     <!-- GNERADOR DE CAPCHA -->
                     <div class="col-md-12" align="center">
                        <table width="50%" border="0" cellspacing="0" cellpadding="2" class="one">
                           <tr class="color">
                              <div style="background: #ffffff;">
                                 <div class="box2">
                                    <img class="img-responsive" src="{{imageCST}}" title="{{toltipT}}">
                                 </div>
                                 <div class="box2">
                                    <img class="img-responsive" src="{{imageLNG}}" title="Palabra en CASTELLANO">
                                 </div>
                              </div>
                           </tr>
                           <tr class="color">
                              <td class="color22" colspan="3" width="70" align="center">
                                 <input id="resultadoC" name="resultadoC" type="text" style="border: 0px !important;"
                                    class="form-control" ng-change="lmpCaptcha()" placeholder="{{palabraT}}"
                                    ng-model="resultadoC" required />
                                 <span ng-show="formulario.palabraT.$invalid">
                                    <span ng-show="formulario.palabraT.$error.required">{{palabraT}}.</span>
                                 </span>
                                 <label>{{palabraT}}</label>
                              </td>
                              <td class="color2" width="30" align="center">
                                 <a type="button" class="btn btn-default btn-circle" data-toggle="modal"
                                    data-target="modal" ng-click="getCaptchasX();"><i class="fa fa-refresh fa-lg"
                                       aria-hidden="true" style="color:#6F7072" title="Actualizar"></i>
                                 </a>
                              </td>
                           </tr>
                        </table>
                        <b>
                           <font SIZE=3 color="red">{{ErrorCapcha}}</font>
                        </b>
                     </div>
                     <!-- ********************* -->
                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
                  </form>
               </div>

               <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                     data-dismiss="modal">{{translateImagenes.img_11_06}}</button>
                  <button ng-click="confirmarServicioGamlp(data,datos)"
                     ng-disabled="btnNuevoTramtite || formularioCasos.resultadoC.$invalid" type="button"
                     class="btn btn-primary" ng-show="boton=='new'"
                     ng-hide="boton=='upd' || boton=='del'">{{translateImagenes.img_11_07}}</button>
               </div>
            </div>



         </div>
      </div>



      <!-- modal ayudas -->
      <div class="modal fade" id="ayudasm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">{{translateImagenes.img_11_06}}</span></button>
                  <h4 class="modal-title" id="myModalLabel">Ayuda: creacion de tramites</h4>
               </div>
               <div class="modal-body">
                  <script>
                     function camb1() {
                        document.getElementById('a1').style.display = 'block';
                        this.style.background = '#ffd200'
                        document.getElementById('a2').style.display = 'none';
                        document.getElementById('a3').style.display = 'none';
                     }
                     function camb2() {
                        document.getElementById('a1').style.display = 'none';
                        document.getElementById('a2').style.display = 'block';
                        document.getElementById('a3').style.display = 'none';
                     }
                     function camb3() {
                        document.getElementById('a1').style.display = 'none';
                        document.getElementById('a2').style.display = 'none';
                        document.getElementById('a3').style.display = 'block';
                     }
                  </script>
                  <style>
                     .vista1on {
                        display: none;
                     }

                     .vista2on {
                        display: none;
                     }

                     .vista3on {
                        display: none;
                     }
                  </style>
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Ayuda - Tipo de trámite</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr onclick="camb1()">
                           <td>
                              1
                           </td>
                           <td>
                              Solicitud de licencia de funcionamiento para internets y juegos en red.
                           </td>
                        </tr>
                        <tr onclick="camb2()">
                           <td>
                              2
                           </td>
                           <td>
                              Solicitud de autorización para servicio de internet.
                           </td>
                        </tr>
                        <tr onclick="camb3()">
                           <td>
                              3
                           </td>
                           <td>
                              Solicitud de autorización para el emplazamiento e instalación de juegos mecánicos y
                              electromecánicos en espacios públicos y establecimientos de actividades económicas.
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div id="a1" class="vista1on">
                     <p><strong>
                           <h3>1. Solicitud de licencia de funcionamiento para internets y juegos en red.</h3>
                        </strong></p>
                     <p><strong>¿En qué consiste?</strong></p>
                     <p style="text-align: justify;">
                        La Licencia de Funcionamiento es el documento que otorga el Gobierno Autónomo Municipal de La
                        Paz, en ejercicio de sus competencias y facultades conferidas por ley, en virtud del cual
                        autoriza el funcionamiento de la actividad económica de provisión de servicios de internet y que
                        surte efectos únicamente para el establecimiento a favor del cual fue otorgado.
                        La Solicitud de Licencia de Funcionamiento para aquellas actividades económicas que brindan el
                        servicio de internet como actividad principal deberá realizarse vía internet ingresando a la
                        Plataforma de Trámite en Línea, registrando los datos de la solicitud y adjuntando los
                        requisitos escaneados, posteriormente se verificará antecedentes y se dispondrá la inspección de
                        verificación.
                        Finalmente emite la Licencia de Funcionamiento o devuelve los antecedentes al interesado
                        considerándose como trámite no iniciado.
                     </p>
                     <p><strong>Antes de empezar su trámite, usted necesita saber que:</strong></p>
                     <p>
                        <ui>
                           <li>El trámite puede ser iniciado desde cualquier internet o ante la Plataforma de Atención
                              Ciudadana habilitadas en el Municipio de La Paz.</li>
                           <li>Debe considerar incorporar filtros informáticos para evitar el acceso a contenidos
                              prohibidos de acuerdo a lo establecido en normativa vigente.</li>
                           <li>Deberá instalar cámaras de seguridad que permitan un almacenamiento por un lapso mínimo
                              de tres (3) meses de acuerdo a normativa vigente.</li>
                           <li>La Licencia de Funcionamiento tiene una vigencia de 2 años a partir de su emisión.
                           </li>
                        </ui>
                     </p>
                     <p><strong>Requisitos:</strong></p>
                     <p>
                        <ul>
                           <li>Persona natural: Para la obtención la licencia de funcionamiento para la provisión de
                              servicio de internet como actividad económica deberá escanear y adjuntar a la solicitud en
                              línea la siguiente documentación:</li>
                           <ul>
                              <li>1. Cédula de identidad o carnet de extranjería del titular. </li>
                              <li>2. Última factura de algún servicio que acredite la dirección del inmueble donde
                                 funcionará la actividad económica.</li>
                              <li>3. Para inmuebles con superficies mayores a los 150 mts2, debe incluirse un croquis o
                                 plano de distribución de ambientes, que incluya las medidas correspondientes.</li>
                              <li>
                                 4. Certificado de Registro de Antecedentes Penales del solicitante y de quien se
                                 encuentre a cargo de la prestación del servicio.
                              </li>
                           </ul>
                           <li>Persona Juridica: además se debe adjuntar:</li>
                           <ul>
                              <li>1. Certificado de Comercio de la Persona Jurídica expedido por FUNDEMPRESA</li>
                              <li>2. Fotocopia legalizada del Poder del Representante Legal.</li>
                              <li>3. Fotocopia de la Cédula de Identidad del Representante Legal.</li>
                           </ul>
                        </ul>
                     </p>
                     <p><strong>Pasos:</strong></p>
                     <p>
                        <ul>
                           <li>1. Registrar la solicitud en la Plataforma de Trámite en Línea y escanear los requisitos
                              solicitados.</li>
                           <li>2. Esperar el día y hora de la Inspección de Verificación.</li>
                           <li>3. Recoger la licencia de funcionamiento concluido el periodo de trámite en la Plataforma
                              de Atención a la Ciudadanía.</li>
                        </ul>
                     </p>
                  </div>
                  <div id="a2" class="vista2on">
                     <p><strong>
                           <h3>2. Solicitud de autoización para servicios de internet.</h3>
                        </strong></p>
                     <p><strong>¿En qué consiste?</strong></p>
                     <p style="text-align: justify;">
                        La Autorización, es el documento emitido por el Gobierno Autónomo Municipal de La Paz, mediante
                        el cual se otorga a la actividad económica la posibilidad de provisión gratuita de servicio de
                        internet, como actividad accesoria o servicio complementario a la actividad principal; así como
                        la prestación del servicio en Espacios Públicos Municipales.
                        La solicitud de Autorización deberá realizarse vía internet ingresando a la Plataforma de
                        Trámite en Línea, registrando los datos de la solicitud y adjuntando los requisitos escaneados
                        posteriormente pasa a la verificación de los requisitos y a la corrección de los datos si fuera
                        necesario.
                        Finalmente emite la Autorización o en caso de no proceder con la solicitud se devuelve los
                        antecedentes al interesado.
                     </p>
                     <p><strong>Antes de empezar su trámite, usted necesita saber que:</strong></p>
                     <p>
                        <ui>
                           <li>El trámite puede ser iniciado desde cualquier internet o ante la Plataforma de Atención
                              Ciudadana habilitadas en el Municipio de La Paz.
                           </li>
                           <li>Debe considerar incorporar filtros informáticos para evitar el acceso a contenidos
                              prohibidos de acuerdo a lo establecido en normativa vigente.
                           </li>
                        </ui>
                     </p>
                     <p><strong>Requisitos:</strong></p>
                     <p>
                        <ul>
                           <li>Persona natural: Para la obtención de la Autorización se deberá escanear y adjuntar a la
                              solicitud en línea la siguiente documentación:</li>
                           <ul>
                              <li>1. Fotocopia Cédula de Identidad o Carnet de Extranjería.</li>
                              <li>2. En caso de Actividades Económicas, presentar la fotocopia de la Licencia de
                                 Funcionamiento vigente.</li>
                           </ul>
                           <li>Persona Juridica: además se debe adjuntar:</li>
                           <ul>
                              <li>1. Registrar la solicitud en la Plataforma de Trámite en Línea y escanear los
                                 requisitos solicitados.</li>
                              <li>2. Fotocopia legalizada del Poder del Representante Legal.</li>
                              <li>3. Fotocopia de la Cédula de Identidad del Representante Legal.</li>
                           </ul>
                        </ul>
                     </p>
                     <p><strong>Pasos:</strong></p>
                     <p>
                        <ul>
                           <li>1. Registrar la solicitud en la Plataforma de Trámite en Línea y escanear los requisitos
                              solicitados.</li>
                           <li>2. Recoger la Autorización concluido el periodo de trámite en la Plataforma de Atención a
                              la Ciudadanía.</li>
                        </ul>
                     </p>
                  </div>
                  <div id="a3" class="vista3on">
                     <p><strong>
                           <h3>3. Solicitud de autorización para el emplazamiento e instalación de juegos mecánicos y
                              electromecánicos en espacios públicos y establecimientos de actividades económicas.</h3>
                        </strong></p>
                     <p><strong>¿En qué consiste?</strong></p>
                     <p style="text-align: justify;">
                        La Autorización es el Permiso que otorga el Gobierno Autónomo Municipal de La Paz para la
                        instalación y funcionamiento de juegos mecánicos y/o electromecánicos, ya sea en espacios
                        públicos o en establecimientos.
                        La solicitud de Autorización para la instalación de juegos mecánicos y/o electromecánicos en
                        espacios públicos y en establecimientos de actividades económicas deberá realizarse vía internet
                        ingresando a la Plataforma de Trámite en Línea, registrando los datos de la solicitud y
                        adjuntando los requisitos escaneados posteriormente pasa a la inspección de verificación que
                        dará como resultado recomendación de otorgación de Autorización.
                        Finalmente emite la Autorización o devuelve los antecedentes al interesado.
                     </p>
                     <p><strong>Antes de empezar su trámite, usted necesita saber que:</strong></p>
                     <p>
                        <p>
                           Las Autorizaciones para el funcionamiento de Juegos Mecánicos y Electromecánicos en espacios
                           públicos deberán previamente tramitar su Autorización del uso de espacios públicos de acuerdo
                           a normativa vigente y estas se clasifican en:
                        </p>
                        <ui>
                           <li>Autorización de actividades de recreación permanentes, por el plazo de un (1) año como
                              máximo.</li>
                           <li>Autorización de actividades de recreación temporal por un plazo máximo de noventa (90)
                              días calendario.</li>
                        </ui>
                        <p>
                           Las Autorizaciones para el funcionamiento de Juegos Mecánicos y Electromecánicos en
                           Establecimientos de Actividades Económicas deberán previamente contar con la Licencia de
                           Funcionamiento, ya sea como actividad principal o que accesoriamente pretendan instalar al
                           interior del establecimiento.
                        </p>
                        <p>
                           La Autorización otorgada será para la instalación de cada juego mecánico y/o electromecánicos
                           y deben cumplir con las Normas Técnicas adoptadas y aprobadas en la Ley Autonómica Municipal
                           Nº 57/2013.
                        </p>
                     </p>
                     <p><strong>Requisitos:</strong></p>
                     <p>
                        <ul>
                           <li>Persona natural: Para la solicitud de Autorización para el funcionamiento de juegos
                              mecánicos y/o electromecánicos deberá escanear ya adjuntar a la solicitud en línea la
                              siguiente documentación:</li>
                           <ul>
                              <li>1. Póliza de seguro contra accidentes.</li>
                              <li>2. Fotocopia Cédula de identidad o carnet de extranjería.</li>
                              <li>3. Certificación acústica cuando así lo requiera.</li>
                              <li>4. Documento suscrito donde el propietario se comprometa al mantenimiento de los
                                 equipos.</li>
                              <li>5. Certificado IBNORCA de aplicación de las Normas Técnicas adoptadas en la
                                 Disposición Final Primera de la Ley Municipal 57/2013 por juego emplazado o instalado.
                              </li>
                           </ul>
                           <li>Persona Juridica: además se debe adjuntar:</li>
                           <ul>
                              <li>1. Fotocopia de la Cédula de identidad del representante legal.</li>
                              <li>2. Fotocopia legalizada del Poder del Representante Legal.</li>
                           </ul>
                        </ul>
                        <p>
                           Para el emplazamiento de carruseles mecánicos y similares que utilizan la fuerza del hombre y
                           está destinado a niños menores de 6 años, el propietario deberá adjuntar solamente:
                           <ul>
                              <li>1. Fotocopia de Cédula de identidad o Carnet de Extranjería</li>
                              <li>2. Declaración jurada donde se comprometa a realizar mantenimiento regular a los
                                 juegos autorizados y asumir la responsabilidad emergente por posibles daños a terceros.
                              </li>
                           </ul>
                        </p>
                     </p>
                     <p><strong>Pasos:</strong></p>
                     <p>
                        <ul>
                           <li>1. Registrar la solicitud en la Plataforma de Trámite en Línea y escanear los requisitos
                              solicitados.</li>
                           <li>2. Esperar el día y hora de la Inspección de Verificación (para instalación de juegos
                              mecánicos y/o electromecánicos en establecimientos).</li>
                           <li>3. Deberá recoger la Autorización en Plataforma de Atención a la Ciudadanía.</li>
                        </ul>
                     </p>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                     data-dismiss="modal">{{translateImagenes.img_11_06}}</button>
               </div>
            </div>
         </div>
      </div>

      <div class="col-lg-12">
         <div ng-include="template.url" class="animated fadeInUp"></div>
      </div>
      <!-- Modal PARA SELECCIONAR TRAMITES-->
      <div class="modal fade" id="seleccionarTramiteAE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <br>
               <div class="col-md-12">
                  <div class="form-group">
                     <button type="button" class="close" data-dismiss="modal"><span
                           aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                     <h4 class="modal-title" id="myModalLabel">SERVICIOS</h4>
                  </div>
               </div>
               <div class="modal-body">
                  <p>Seleccione el tipo de trámite que desea realizar.</p>
                  <div class="row">
                     <table class="table table-striped">
                        <thead style="background: #6F7072;color: #F5F5F6;">
                           <th>#&nbsp;</th>
                           <th>Tipo de Trámites&nbsp;</th>
                        </thead>
                        <tbody>
                           <tr style="cursor: pointer;" class="column" ng-repeat="proceso in serivicosInternet"
                              ng-click="seleccionarProceso(proceso)"
                              ng-style="proceso.id==procesoSeleccionado && {'background-color':'#FFEFB0','font-color':'#A2D5AE'}">
                              <td>{{$index+1}}</td>
                              <td>{{proceso.name}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button class="btn btn-default" ng-click="crearTramiteAE();" data-dismiss="modal">Crear</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal PARA SELECCIONAR TRAMITES-->

      <!-- MODAL EMISION NATURAL -->

      <div class="modal fade" id="divPopupAviso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header" style="background: #ffcb05;">
                  <h2 class="modal-title " id="exampleModalLongTitle1" align="center">AVISO!!!</h2>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <form name="formulario" readOnly="true" novalidate>
                        <div class="row">
                           <h3>Estamos realizando actualizaciones. Para realizar la renovacion de su Licencia de
                              Funcionamiento debe apersonarse a las Plataformas 24/7.</h3>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button id="btncerrarmodal" type="button" class="btn btn-primary" ng-click="cerrarTram();"
                     data-dismiss="modal">Cerrar</button>
               </div>
            </div>
         </div>
      </div>


      <div class="modal fade" id="declaracionN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="overflow-y: scroll;">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header" style="background: #00b3ba;">
                  <h2 class="modal-title " id="exampleModalLongTitle1" align="center">FORMULARIO DE DECLARACION JURADA
                  </h2>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <form name="formulario" readOnly="true" novalidate>
                        <div class="row">
                           <div id="msgformularioN">
                              {{msgformularioN}}
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button id="btncondicionesuso_a" ng-model="isDisabled" type="button" class="btn btn-success"
                     ng-click="generarDocumentoPhp();" data-dismiss="modal">Aceptar</button>
                  <button id="btncerrarmodal" type="button" class="btn btn-primary" ng-click="cerrarTram();"
                     data-dismiss="modal">Cerrar</button>
               </div>
            </div>
         </div>
      </div>

      <!-- MODAL EMISION JURIDICO-->
      <div class="modal fade" id="declaracionJ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="overflow-y: scroll;">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header" style="background: #00b3ba;">
                  <h2 class="modal-title " id="exampleModalLongTitle1" align="center">FORMULARIO DE DECLARACION JURADA
                  </h2>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <form name="formulario" readOnly="true" novalidate>
                        <div class="row">
                           <div id="msgformularioJ">
                              {{msgformularioJ}}
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button id="btncondicionesuso_a" ng-model="isDisabled" type="button" class="btn btn-success"
                     ng-click="generarDocumentoPhp();" data-dismiss="modal">Aceptar</button>
                  <button id="btncerrarmodal" type="button" class="btn btn-primary" ng-click="cerrarTram();"
                     data-dismiss="modal">Cerrar</button>
               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="aceptacionCondiciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
         <div class="modal-dialog" role="document" id="modalTamanio">
            <div class="modal-content">
               <div class="modal-header" style="background: #00b3ba;">
                  <h2 class="modal-title " id="exampleModalLongTitle1" align="center">DECLARACION JURADA
                  </h2>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <form name="formulario" readOnly="true" novalidate>
                        <div class="row">
                           <div class="col-md-1"></div>
                              <div class="col-md-10" id="msgformulario">
                                 <p class="text-justify" style="font-size: 30px;">Declaro bajo juramento que toda la información registrada y cargada en la plataforma iGob 24/7 Institucional es fidedigna, verídica,verificable y los documentos digitales adjuntos corresponden a los  originales y no tienen ningún tipo de adulteración.</p><br>
                                 <p class="text-justify" style="font-size: 30px;">Asimismo autorizo al GAMLP a que pueda verificar la información y documentación presentada, pudiendo el GAMLP iniciar las acciones legales correspondientes en caso de evidenciarse inconsistencias en la información inserta en la presente declaración.</p>
                              </div>
                           <div class="col-md-1"></div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button id="btncondicionesuso_a" ng-model="isDisabled" type="button" class="btn btn-success"
                  data-dismiss="modal" ng-click="validarAcpetacion();">Aceptar</button>
                  <button id="btncerrarmodal" type="button" class="btn btn-primary" ng-click="cerrarTram();"
                     data-dismiss="modal" ng-click="cerrarModal();">Cerrar</button>
               </div>
            </div>
         </div>
      </div>

      <!--cambios-->
   </div>
</body>