<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <link rel="stylesheet" type="text/css" href="../../libs/css/bootstrap-clockpicker.min.css" async>

        <script src="../../libs/js/prism.js" async></script>
        
    </head>    
  <body>

<div ng-controller="serviciosControllerTVAE" ng-init="inicioServiciosVAE();">
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
         <div id="mostrar" class="ibox-title">
            <h5>Solicitud de Tienda Virtual para Actividades Economicas</h5>
            <a href="#" id="cerrar_rc" ><i class="fa fa-sort-asc flechaOscura" id="cerrar_i"></i></a>
         </div>
         <div class="ibox-content" id="caja">
              <div class="row">
               <div class="col-sm-12 b-r">
                  <form class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group">    
                                         
                           <div class="col-lg-3">
                              <div style="text-align:center;">
                                 
                                 <a class="btn btn-success" tooltip = "Crear el trámite" data-toggle="modal" data-target="#seleccionarTramiteVAE"><i class="fa fa-file blanco shake-slow"></i><!--cambios-->
                                    {{translateTitulos.lbl_10_02}}
                                  </a>    
                                 
                              </div>
                           </div>
                        <label class="col-lg-3 control-label">{{translateTitulos.lbl_10_02_1}}:</label>
                        <div class="col-lg-6">
                           <input ng-model = "query" id ="busca1" class="form-control" placeholder="">
                        </div>
                     </div>
                  </form>       
                  <table ng-table="tablaTramites"  class="table  table-hover">
                     <tr style="cursor: pointer;" ng-repeat="tramite in $data  | filter:query " ng-style="tramite.vtra_id==sIdTramiteSeleccionado && {'background-color':'#DCDCDC','font-color':'#A2D5AE'}">
                      <td data-title="'Código'" ng-click="seleccionarTramite(tramite)" >{{tramite.vcodigo}}</td>
                      <td data-title="'Tipo de Trámite'" ng-click="seleccionarTramite(tramite);" >{{tramite.vservicio}}</td>  
                      <td data-title="'Subtipo'" ng-click="seleccionarTramite(tramite)" >{{tramite.vcodigo}}</td>    
                      <td data-title="'Fecha'" ng-click="seleccionarTramite(tramite)" >{{tramite.vfecha}} </td>
                      <td data-title="'Enviado'" ng-click="seleccionarTramite(tramite)" >{{tramite.venviado}}</td> 
                    </tr>
                  </table> 
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="col-lg-12">
      <div ng-include="template.url" class="animated fadeInUp"></div>
   </div>
   <!-- Modal PARA SELECCIONAR TRAMITES-->
   <div class="modal fade" id="seleccionarTramiteVAE" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Seleccione el Tipo de Tramite a Realizar </h4>
            </div>
            <div class="modal-body">
              <table class="table table-striped">
                        <thead style="background: #6F7072;color: #F5F5F6;">
                           <th>#&nbsp;</th>
                           <th>Tipo de Trámites&nbsp;</th>                                            
                        </thead>
                        <tbody>
                           <tr  style="cursor: pointer;" class="column" ng-repeat="proceso in serviciosTipoTramite" ng-click="seleccionarProceso(proceso)" ng-style="proceso.id==procesoSeleccionado && {'background-color':'#FFEFB0','font-color':'#A2D5AE'}">
                                 <td>{{$index+1}}</td>
                                 <td>{{proceso.name}}</td>
                           </tr>
                        </tbody>
                     </table>
              
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button class="btn btn-default" ng-show="btnCrearBlk" ng-click="crearTramiteVAE(procesoSeleccionado);" data-dismiss="modal">Crear</button>
            </div>
         </div>
      </div>
   </div>

  <!-- panchito -->
  <div class="modal fade" id="declaracionN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header" style="background: #ffcb05;" >
                  <h2 class="modal-title " id="exampleModalLongTitle1" align="center">FORMULARIO DE DECLARACION JURADA</h2>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <form name="formulario" readOnly="true" novalidate>
                          <div class="row">
                              <div id="msgformularioN">
                                  {{msgformularioN}}
                              </div>
                          </div>          
                      </form>
                  </div>
              </div>
              <div class="modal-footer">
                  <button id="btncondicionesuso_a" ng-model="isDisabled" type="button" class="btn btn-success" ng-click="generarDocumentoPhp();" data-dismiss="modal">Aceptar</button>
                  <!--button id="btncerrarmodal" type="button" class="btn btn-primary" ng-click="cerrarTram();" data-dismiss="modal">Cerrar</button-->
              </div>
         </div>
      </div>
   </div>

   <!-- MODAL EMISION JURIDICO-->
   <div class="modal fade" id="declaracionJ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header" style="background: #ffcb05;" >
                  <h2 class="modal-title " id="exampleModalLongTitle1" align="center">FORMULARIO DE DECLARACION JURADA PERSONA JURÍDICA</h2>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <form name="formulario" readOnly="true" novalidate>
                          <div class="row">
                              <div id="msgformularioJ">
                                  {{msgformularioJ}}
                              </div>
                          </div>      
                      </form>
                  </div>
              </div>
              <div class="modal-footer">
                  <button id="btncondicionesuso_a" ng-model="isDisabled" type="button" class="btn btn-success" ng-click="generarDocumentoPhp();" data-dismiss="modal">Aceptar</button>
                  <!--button id="btncerrarmodal" type="button" class="btn btn-primary" ng-click="cerrarTram();" data-dismiss="modal">Cerrar</button-->
              </div>
          </div>
      </div>
  </div>
  <!-- panchito fin  -->




</div>






<!--cambios-->
</body>
