
<script type="text/javascript" src="../../view/servicios/varios/formularios/fichas/fichas.js"></script>
<script src="../../libs/apiFichas/api_fichas.js"></script>
<style>

    .celda-tabla-bloc {
        background-color: lightgray;
    }

</style>
<div class="col-md-12 row" ng-controller="fichasController" ng-init="inicioFichas()">
    <div class="col-12">
        <div class="ibox-content" id="caja">
            <div class="row">
                <div class="row" align="center">
                    <h3> Reserva en línea de Fichas </h3>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" ng-click="btnTabReservarFicha()" data-target="#tab-reservar">RESERVAR FICHA</a>
                    </li>
                    <li>
                        <a data-toggle="tab" ng-click="btnTabMisReservas()" data-target="#tab-mis-reservas">MIS FICHAS</a>
                    </li>
                </ul>

                <!-- Sección para Reservar Ficha -->
                <div ng-show="mostrarReservarFicha" id="tab-reservar">
                    <h2>Reservar Ficha</h2>
                    <div class="row" style="padding-left: 15px; padding-top: 10px;">
                        <div class="col-md-4">
                            <br>
                            <div class="form-group">
                                <label class="control-label">PLATAFORMA:</label>
                                <select class="form-control" id="plataf" name="plataf" ng-model="plataf" ng-change="obtenerPlataforma(plataf)">
                                    <option value="" selected>-- Seleccione --</option>
                                    <option ng-repeat="plataform in macrodistritos" value="{{plataform.plt_id}}">
                                        {{ plataform.plt_sigla_plataforma }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Servicio:</label>
                                <select class="form-control" id="servc" name="servc" ng-model="servc" ng-change="seleccionarServicio(servc)">
                                    <option value="" selected>-- Seleccione --</option>
                                    <option ng-repeat="servici in servicios" value="{{servici.serv_id}}">
                                        {{ servici.serv_nom_servicio }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-7" ng-if="!mensajeError"> 
                            <br>
                            <div class="row"> 
                                <div class="col-md-8">
                                    <h4 style="margin: auto;">CALENDARIO DE RESERVAS</h4>
                                    <p style="font-weight: bold;">{{ fechaFormateada }}</p> <!-- Aquí se muestra la fecha formateada -->
                                </div>
                            </div>

                            <div ng-if="isLoaderTable" class="loader-table-overlay">
                                <img style="width: 30px; height: 30px;"
                                     src="../../view/servicios/varios/formularios/transparencia/moustache/tinymce/skins/lightgray/img/loader.gif"
                                     alt="">
                                Espere..
                            </div>

                            <div ng-if="mostrarHorarios">
                                <div ng-if="hola.length > 0">
                                    <div>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Horarios</th>
                                                    <th>
                                                        <div style="width: 80%; text-align: center;">
                                                            {{hola[0].dia}}
                                                            <br>
                                                            <div style="border-radius: 50%; margin: auto; align-items: center; display: flex; justify-content: center; width: 20px; height: 20px; border: solid 1px #00ADB5;">
                                                                {{fechaActual | date:'dd/MM/yyyy'}}
                                                            </div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="hora in horarios">
                                                    <th>{{hora}}</th>
                                                    <th>
                                                        <div 
                                                            id="{{hola[0].id}}{{hora}}"
                                                            ng-class="{
                                                                'celda-tabla-bloc': hola[0].estado === 'disponible',
                                                                'celda-reservado-bloc': hola[0].estado === 'ocupado',
                                                                'celda-seleccionada': hola[0].horaSeleccionada === hora
                                                            }"
                                                        >
                                                            <span >
                                                                {{hola[0].horaSeleccionada === hora ? 'Hora seleccionada' : ''}}
                                                            </span>
                                                            <button ng-click="btnCelda(hola[0], hora)" 
                                                                    type="button" 
                                                                    class="btn btn-success btn-pagar fa"
                                                                    ng-hide="hola[0].horaSeleccionada === hora">
                                                                ESCOGE TU FICHA
                                                            </button>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6" ng-if="hola[0].horaSeleccionada"> 
                                        <div style="text-align: end;">
                                            <button type="button" class="btn btn-success btn-pagar fa" ng-click="guardarFicha()" align="center">Guardar Ficha</button>    
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="mensajeError" style="color: red; margin-top: 15px;">
                                    {{mensajeError}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sección para Mis Fichas -->
            <!-- Sección para Mis Fichas -->
<div ng-show="mostrarMisReservas" id="tab-mis-reservas">
    <h2>Aquí podrás ver tus fichas reservadas</h2>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Servicio</th>
                    <th>Plataforma</th>
                    <th>Fecha</th>
                    <th>Mis fichas</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ficha in misFichas | orderBy:'-fecha'"> 
                    <td>{{ficha.hora}}</td>
                    <td>{{ficha.nombreServicio}}</td>
                    <td>{{ficha.nombrePlataforma}}</td>
                    <td>{{ficha.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="verPDF(ficha)">Ver PDF</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

            </div>
        </div>
    </div>
</div>
