<script type="text/javascript">
        $(function(civil){
            console.log(civil);
            $('#escala').change(function() {
                $('#descripcion').text( $(this).val() );
            });
        });
         function recargar1()
           { 
            document.getElementById('tab2').contentWindow.location.reload();
            }

    </script>
<div ng-controller="datosCiudadanoController" data-ng-init="inicioDatosCiudadano()">
    <div>
        <div class="col-md-12">
	   <div class="col-lg-4">                
          <div class="panel panel-default">
                    <div class="panel-heading"><H5>Datos Personales</H5></div>                    
                        <div class="panel-body"> 
                        <br>
                        <div class="col-md-12">
                          <div class="col-sm-12 text-center">
                             <img ng-src="{{img_url}}/{{nombreimg}}" align="center" width="150px" height="150px">   
                          </div>
                        </div>
                        <table  ng-show="datospersonaNatural ==null" class="table table-condensed">
                           <thead>
                              <tr>
                                 <th><br>Informacion general</th>
                              </tr>
                           </thead>
                           <tbody>                                
                              <tr>
                                 <td>
                                    <div class="col-sm-4">Nombre :</div>
                                    <div class="col-sm-8">{{registro.nombre}}&nbsp {{registro.paterno}}&nbsp {{registro.materno}}</div>
                                </td>
                              </tr>                             
                               <tr>
                                 <td>
                                    <div class="col-sm-4">CI :</div>
                                    <div class="col-sm-7">{{registro.cedula}}</div>
                                </td>
                              </tr>                               
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Estado Civil :</div>
                                    <div class="col-sm-7">{{registro2.estado_civil}}</div>
                                </td>
                              </tr>                               
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Género :</div>
                                    <div class="col-sm-7">{{registro.sexo}}</div>
                                </td>
                              </tr>                               <tr>
                                 <td>
                                    <div class="col-sm-4">Fecha Nacimiento :</div>
                                    <div class="col-sm-7">{{registro.fecha_nacimiento}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Direccion :</div>
                                    <div class="col-sm-7">{{registro.direccion}}</div>
                                </td>
                              </tr>
                           </tbody>
                           <thead>
                              <tr>
                                 <th><br>Informacion de contacto</th>
                              </tr>
                           </thead>
                           <tbody>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Telefono :</div>
                                    <div class="col-sm-7">{{registro.telefono}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Celular :</div>
                                    <div class="col-sm-7">{{registro.celular}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Correo :</div>
                                    <div class="col-sm-7">{{registro.correo}}</div>
                                </td>
                              </tr>
                           </tbody>
                           <thead>
                           </thead>
                           <tbody>                              
                              <tr>
                                 <td><br>
                                    <div class="btn pull-right">
                                    <button type="submit" class="btn btn-success" ng-click="modificarDatosRegistro()" data-ng-disabled="loginForm.$invalid">Editar Información
                                    </button>   
                                    </div>
                                </td>
                              </tr>
                           </tbody>                                
                        </table>
                         <table  ng-show="datospersonaJuridica ==null" class="table table-condensed">
                           <thead>
                              <tr>
                                 <th><br>Informacion general</th>
                              </tr>
                           </thead>
                           <tbody>                                
                              <tr>
                                 <td>
                                    <div class="col-sm-4">Nombre :</div>
                                    <div class="col-sm-4">{{registro.nombre}}</div>
                                </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div class="col-sm-4">Paterno :</div>
                                    <div class="col-sm-7">{{registro.paterno}}</div>
                                </td>
                              </tr>                              
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Materno :</div>
                                    <div class="col-sm-7">{{registro.materno}}</div>
                                </td>
                              </tr>                               
                               <tr>
                                 <td>
                                    <div class="col-sm-4">CI :</div>
                                    <div class="col-sm-7">{{registro.cedula}}</div>
                                </td>
                              </tr>    
                              <tr>
                                 <td>
                                    <div class="col-sm-4">NIT :</div>
                                    <div class="col-sm-7">{{registro.nit}}</div>
                                </td>
                              </tr>                               
                           </tbody>
                           <thead>
                              <tr>
                                 <th><br>Informacion de contacto</th>
                              </tr>
                           </thead>
                           <tbody>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Poder de Rep. Legal :</div>
                                    <div class="col-sm-7">{{registro.repLegal}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Nro Notaria :</div>
                                    <div class="col-sm-7">{{registro.nroNotaria}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Nro Documento :</div>
                                    <div class="col-sm-7">{{registro.nroDocumento}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Razón Social :</div>
                                    <div class="col-sm-7">{{registro.razonSocial}}</div>
                                </td>
                              </tr>
                           </tbody>
                           <thead>
                              <tr>
                                 <!--th><br>Informacion adicional</th-->
                              </tr>
                           </thead>
                           <tbody>
                                                           
                              <tr>
                                 <td><br>
                                    <div class="btn pull-right">
                                        <button type="submit" class="btn btn-success" ng-click="modificarDatosRegistro()" data-ng-disabled="loginForm.$invalid">Editar Información
                                    </button> 
                                     </div>
                                </td>
                              </tr>
                           </tbody>                                
                        </table>
                </div>                    
          </div>
      </div>
			<div class="col-lg-8">
				<!--div class="panel panel-default">
				    <div class="panel-heading"><H3></H3></div>				
					<div class="panel-body">

						<div class="panel-heading">
							<table align = "center">
								<td>
								<img class="img-responsive" src="../../../inicio/img/calendario.png" alt="">
								</td>
								<td>
								<img class="img-responsive" src="../../../inicio/img/noticias.png" alt="">
								</td><td>
								<img class="img-responsive" src="../../../inicio/img/tramites.png" alt="">
								</td>									
							</table>
						</div>
				    </div>
				</div-->
        <!-- begin calendario -->
            <div class="panel panel-default">
                  <div class="panel-heading"><H5>Servicios</H5></div>
                    <ul class="nav nav-tabs" role="tablist">
                       <li role="presentation" class="active"><a data-target="#calendario" aria-controls="profile" role="tab" data-toggle="tab">Calendario</a></li>
                       <!--<li role="presentation"><a data-target="#documentosRecibidos" aria-controls="profile" role="tab" data-toggle="tab">Documentos Recibidos</a></li>-->
                       <li role="presentation"><a data-target="#logs" aria-controls="home" role="tab" data-toggle="tab" ng-click="datosReportePlaformista()" >Actividades recientes</a></li>
                       <!--<li role="presentation"><a data-target="#informacion" aria-controls="profile" role="tab" data-toggle="tab">Informacion</a></li>-->           
                       <!--<li role="presentation"><a data-target="#noticias" aria-controls="profile" role="tab" data-toggle="tab">Noticias</a></li>-->
                       <!--li role="presentation"><a href="#centros" aria-controls="profile" role="tab" data-toggle="tab">Centros de Atención</a></li-->
                        <div class="tab-content">
                        <!-- begin panel 1 -->
                           <!-- <div role="tabpanel" class="tab-pane" id="informacion">
                               <div id="contenedorPrincipal" class="slide-animation">    
                                  <div class="page-content">
                                      <div class="row">
                                          <div class="space-6"></div>
                                          <div class="col-sm-10 col-sm-offset-1">
                                              <div id="login-box" class="login-box visible widget-box no-border">
                                                  <div class="widget-body">
                                                      <div class="widget-main">
                                                         <h4 class="header blue lighter bigger">
                                                             <i class="icon-coffee green">   Bienvenido</i>
                                                         </h4>
                                                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                                <div class="carousel-inner">
                                                                    <div class="item active centered">
                                                                        <img class="img-responsive" src="../../../inicio/img/portfolio/imagen1.jpg" alt="">
                                                                        <h2><font color="#4B4940"> ¿Qué es?</font> </h2>
                                                                        <br><font color="#4B4940">
                                                                        <p> El Registro Ciudadano es una identificación digital única que permite al ciudadano registrado acceder a información y servicios del Gobierno Autónomo Municipal de La Paz. El ciudadano registra proveyendo sus generales de ley y datos domiciliarios básicos, los cuales son resguardados con las más estrictas medidas de seguridad informática. </p></font>
                                                                    </div>
                                                                    <div class="item centered">
                                                                        <img class="img-responsive" src="../../../inicio/img/portfolio/imagen2.png" alt="">
                                                                        <h2> <font color="#4B4940" >¿Cómo me registro?</font> </h2>
                                                                        <br> <p align="left">
                                                                        <font color="#4B4940">
                                                                            <p>Ingreso mi número de Cédula de Identidad. </p>
                                                                            <p>Selecciono el lugar donde fue expedido. </p>
                                                                            <p>Introduzco mi datos personales. </p>
                                                                            <p>Introduzco mis datos domiciliarios (lo más precisos posible). </p>
                                                                        </font>
                                                                        </p>
                                                                    </div>
                                                                    <div class="item centered">
                                                                        <img class="img-responsive" src="../../../inicio/img/portfolio/imagen3.png" alt="">
                                                                        <h2> <font color="#4B4940">¿Qué Beneficios existen?</font> </h2>
                                                                        <br>
                                                                        <p align="left">
                                                                        <font color="#4B4940">
                                                                            <p>Respuesta inmediata a mi consulta. </p>
                                                                            <p>Información sobre vencimiento de obligaciones. </p>
                                                                            <p>Puedo realizar todos mis trámites y consultas en línea . </p>
                                                                            <p>Ahorro tiempo. </p>
                                                                        </font>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                               </div>
                                 <div id="free-flash-intro" style="position: absolute; bottom: 10px;font-size:10px;width:100%;font-size:10px;text-align:center;overflow:auto;color:#615d5d"></div>
                           </div> -->
                        <!-- end panel 1 -->
                        <!-- begin penel 2  -->
                          <!--tab mis documentos -->
                       <!--  <div role="tabpanel" class="tab-pane" id="documentosRecibidos">
                            <div id="contenedorPrincipal" class="slide-animation">    
                                <div class="panel panel-default">
                                    <div class="panel-body"  >
                                      <button type="button" class="close" data-dismiss="modal" ng-click="refrescar()">
                                        <span class="fa fa-refresh"></span>
                                      </button>
                                        <table show-filter="true" class="table table-condensed table-hover">
                                            <thead>                       
                                                <th class="text-center" style="width:5%">#&nbsp;</th>                                  
                                                <th class="text-center" style="width:10%">Sistema&nbsp;</th>
                                                <th class="text-center" style="width:10%">Proceso&nbsp;</th> 
                                                <th class="text-center" style="width:10%">Tipo&nbsp;</th>
                                                <th class="text-center" style="width:10%">Fecha creación &nbsp;</th>                         
                                                <th class="text-center" style="width:10%">Url&nbsp;</th>                         
                                                <th class="text-center" style="width:10%">Acceso&nbsp;</th>                         
                                                <th class="text-center" style="width:10%">Días de publicación&nbsp;</th>                         
                                                <th class="text-center" style="width:10%">Fecha fin &nbsp;</th>                         
                                            </thead>
                                            <tbody>
                                                <tr class="column" ng-repeat="documento in documentos">
                                                    <td class="text-center">&nbsp; {{$index+1}}</td>                                      
                                                    <td class="text-left">&nbsp; {{documento.vdoc_sistema}}</td> 
                                                    <td class="text-left">&nbsp; {{documento.vdoc_proceso}}</td>                          
                                                    <td class="text-left">&nbsp; {{documento.vdoc_tipo_documento_ext}}</td>                          
                                                    <td class="text-center">&nbsp; {{documento.vdoc_registro}}</td>                          
                                                    <td class="text-center" align="center">
                                                        <a href="{{documento.vdoc_url_logica}}" target="_black"><img ng-show="adjunto.vdoc_tipo_documento=='jpeg' || adjunto.vdoc_tipo_documento=='jpg' || adjunto.vdoc_tipo_documento=='png'" ng-src="{{adjunto.vdoc_url_logica}}" width="75px" height="75px" title="Descargar"><i class="fa fa-download fa-2x" title="Descargar"></i></a>
                                                        <a ng-show="adjunto.vdoc_tipo_documento=='pdf'" name="btnIImprmir" id="btnIImprmir" type="button" class="btn btn-default btn-circle"  href="{{adjunto.vdoc_url_logica}}" target="_black">
                                                        <i  class="fa fa-print" title="Ver">
                                                        </i>
                                                        </a>
                                                    </td> 
                                                    <td class="text-center" >&nbsp; {{documento.vdoc_acceso}}</td> 
                                                    <td class="text-center">&nbsp; {{documento.vdoc_tiempo}}</td> 
                                                    <td class="text-center">&nbsp; {{documento.vfechafinpublicacion}}</td> 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>      
                                </div>
                            </div>
                        </div> -->
                        <!-- end panel 2 -->
                        <!-- begin panel 3 -->
                       <div role="tabpanel"  class="tab-pane" id="logs">
                           <div class="row">
                              <div class="col-md-12 col-md-offset-0">
                                <ul>
                                    <li>&nbsp;</li>
                                    <li>
                                        <span><i class="icon-calendar"></i> Historial de acciones</span>
                                        <ul><li>&nbsp;</li></ul>
                                        <ul>
                                            <li  ng-repeat ="aFila in aLogPlataforma | limitTo: 15">
                                                <span class="badge progress-bar-success"><i class="icon-minus-sign"></i> {{aFila.vlgsmodificado}}</span>
                                                <ul>
                                                    <li>
                                                         <span><i class="icon-time"></i></span> &ndash; {{aFila.vevento}}
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                              </div>
                           </div>
                        </div>
                        <!-- end panel 3 -->
                                          <!-- Tab panes -->                      
                    <div role="tabpanel" class="tab-pane active" id="calendario">
                        <div class="panel-body">
                             <!-- begin modal -->
                            <div class="modal fade" id="registroEvento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                                        </div>
                                        <div class="modal-body" >
                                            <form name="formularioServicios"  class="form-horizontal" role="form">
                                                <div class="row">
                                                <div class="col-md-12">
                                                <div class="col-md-12">                                                
                                                  <div class="col-md-12">
                                                        <div class="form-group" >
                                                            <label for="url" >Evento:</label>
                                                            <div class="controls">
                                                                <textarea style="resize: none;" ng-required="true"  class="form-control" ng-model = "ciudadanoEventos.evento" rows="1" cols="10"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>                                                      
                                                    <div class="col-md-12">
                                                        <div class="form-group" >
                                                            <label for="url" >Tipo evento:</label>
                                                            <span class="block input-icon input-icon-right">
                                                            <div class="controls">
                                                                <select  ng-required="true" class="form-control" ng-model="ciudadanoEventos.tipo" convert-to-number>
                                                                  <option value="important">Importante</option>
                                                                  <option value="warning">Advertencia</option>
                                                                  <option value="info">Informacion</option>
                                                                  <!--<option value="2">Invertir</option>-->
                                                                  <!--<option value="2">Success</option>-->
                                                                  <option value="special">Especial</option>
                                                                </select>
                                                            </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-6">
                                                            <div class="form-group" >  
                                                                <div class="col-md-12">
                                                                 <label for="url" >Fecha Inicio:</label>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="controls">
                                                                      <p class="input-group" style="max-width: 250px">
                                                                        <input ng-required="true" type="text" class="form-control" readonly datepicker-popup="medium" ng-model="ciudadanoEventos.fechaInicio" is-open="startDateInicio" close-text="Close" />
                                                                        <span class="input-group-btn">
                                                                          <button type="button" class="btn btn-default" ng-click="startDateOpenInicio($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                        </span>
                                                                      </p>  

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">                                                            
                                                                    <div class="controls">
                                                                        <timepicker ng-required="true" ng-model="ciudadanoEventos.fechaInicio" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group" >  
                                                                <div class="col-md-12">
                                                                 <label for="url" >Fecha Finalizacion:</label>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="controls">
                                                                      <p class="input-group" style="max-width: 250px">
                                                                        <input ng-required="true" type="text" class="form-control" readonly datepicker-popup="medium" ng-model="ciudadanoEventos.fechaFin" is-open="startDateFin" close-text="Close" />
                                                                        <span class="input-group-btn">
                                                                          <button type="button" class="btn btn-default" ng-click="startDateOpenFin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                        </span>
                                                                      </p>  

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">                                                            
                                                                    <div class="controls">
                                                                        <timepicker ng-required="true" ng-model="ciudadanoEventos.fechaFin" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                                        
                                                    </div>
                                                    <div class="col-md-12">
                                                            <input type="hidden" id="idEvento" name="idEvento"  ng-model="ciudadanoEventos.idEvento">
                                                    </div>                                                    
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">                                            
                                            <div  ng-if='btnAccion == "NUEVO"'>
                                                <button id="demo2" type="button" class="width-35 btn btn-sm btn-success" data-dismiss="modal">Cerrar </button>
                                                <button  class="width-35 btn btn-sm btn-success" ng-click="registrarEventos(ciudadanoEventos)" ng-disabled="formularioServicios.$invalid" data-dismiss='modal'>Guardar</button>
                                            </div>
                                            <div  ng-if='btnAccion == "ACTUALIZAR"'>
                                                <button id="demo2" type="button" class="width-35 btn btn-sm btn-success" data-dismiss="modal">Cerrar </button>
                                                <button  class="width-35 btn btn-sm btn-success" ng-click="actualizarEventos(ciudadanoEventos)" ng-disabled="formularioServicios.$invalid" data-dismiss='modal'>Actualizar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end modal -->
                            <!--<div class="row" ng-controller="MainCtrl" id="demo" data-ng-init="inicioEventos()">-->
                            <div class="row" id="demo">
                            <div class="col-md-12 col-md-offset-0">
                              <h2 class="text-center">{{ calendarTitle }}</h2>
                              <div class="row">
                                <div class="col-md-6 text-center">
                                    
                                    <div class="col-md-6 ">
                                        <div>                            
                                        <a ng-click="limpiarEventos()" data-toggle="modal" data-target="#registroEvento">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Nuevo Evento</a>
                                        </div>    
                                    </div>
                                    <div class="col-md-6 ">
                                      <div class="btn-group">
                                        <button
                                          class="btn btn-success"
                                          mwl-date-modifier
                                          date="calendarDay"
                                          decrement="calendarView">
                                          Anterior
                                        </button>
                                        <button
                                          class="btn btn-default"
                                          mwl-date-modifier
                                          date="calendarDay"
                                          set-to-today>
                                          Hoy
                                        </button>
                                        <button
                                          class="btn btn-success"
                                          mwl-date-modifier
                                          date="calendarDay"
                                          increment="calendarView">
                                          Siguiente
                                        </button>
                                      </div>
                                </div>
                                    </div>

                                <br class="visible-xs visible-sm">

                                <div class="col-md-6 text-center">
                                  <div class="btn-group">
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'year'">Año</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'month'">Mes</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'week'">Semana</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'day'">Dia</label>
                                  </div>
                                </div>

                              </div>

                              <br>

                              <mwl-calendar
                                events="events"
                                view="calendarView"
                                view-title="calendarTitle"
                                current-day="calendarDay"
                                on-event-click="eventClicked(calendarEvent)"
                                on-event-drop="eventDropped(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                                delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                                on-edit-event-click="editarEvento(calendarEvent);"
                                on-delete-event-click="eliminarEventosCiudadano(calendarEvent);"
                                auto-open="true"
                                day-view-start="06:00"
                                day-view-end="22:00"
                                day-view-split="30">
                              </mwl-calendar>

                              <br><br><br>

                              <script type="text/ng-template" id="modalContent.html">
                                <div class="modal-header">
                                  <h3 class="modal-title">Event action occurred!</h3>
                                </div>
                                <div class="modal-body">
                                  <p>Action: <pre>{{ action }}</pre></p>
                                  <p>Event: <pre>{{ event | json }}</pre></p>
                                </div>
                                <div class="modal-footer">
                                  <button class="btn btn-primary" ng-click="$close()">OK</button>
                                </div>
                              </script>
                                
                            </div>
                          </div>                                      
                           			
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="noticias">
                            <div id="contenedorPrincipal" class="slide-animation">    
                            <div class="page-content">
                                <div class="row">
                                    <div class="space-6"></div>
                                    <div class="col-sm-12">
                                        <div id="login-box" class="login-box visible widget-box no-border">
                                            <div class="widget-body">
                                                    <br>
                                                    <div class="col-md-7">
                                                    <button ng-click="actualizarNoticia()" data-dismiss="modal" type="button" class="btn btn-success fa fa-refresh"></button>
                                                    </div>
                                                    
                                                      <div class="form-group">
                                                          <label class="col-sm-1 control-label no-padding-right" for="paterno">Buscar:</label>
                                                          <div class="col-sm-4">
                                                              <span class="block input-icon input-icon-right">
                                                                  <input ng-model = "query" id ="busca1" class="form-control" placeholder="" >
                                                                   <legend></legend>     
                                                              </span>
                                                          </div>
                                                      </div>
                                                     <br>
                                                    <table  ng-table="tablaNoticias"  class="table table-striped table-bordered">
                                                       <tr ng-repeat="noticia in $data  | filter:query  ">
                                                            <td data-title="'Imagen'"><a href="#" data-toggle="modal" data-target="#formModal" ng-click="seleccionarNoticia(noticia)">
                                                              <img ng-src="{{img_url}}/noticias/{{noticia.cntimagen}}" width="100px" height="100px"></a> </td>
                                                            <td data-title="'Título'">{{noticia.cnttitulo}}</td>     
                                                            <td data-title="'Resumen'">{{noticia.cntresumen | limitTo:220 }} <a href="{{noticia.cnt_url}}" target="_black"> + Mas </a></td>
                                                            <td data-title="'Fecha'">{{noticia.cntregistrado}}</td> 
                                                          </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div> 

                    </div> 
            </div>
        <!-- end calendario -->

            </div>
		</div>
	</div>
<!-- MODAL -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel"> {{tituloSeleccionado}} </h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioUsuarios" readOnly="true" novalidate>
                        <div class="row">
                             <div class="col-md-12">                            
                                <div class="form-group" align="center">
                                    <img ng-src="../img/{{imagenSeleccionada}}" width="200px" height="200px">   
                                </div> 
                            </div>
                             <div class="col-md-12">
                                <div class="form-group">
                                    <p>
                                      {{resumenSeleccionado}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">                            
                                <div class="form-group">
                                    <p>
                                        <span class="block input-icon input-icon-right">
                                            <a href="{{origenSeleccionado}}" target="_black"> Origen de la Noticia </a>
                                        </span>
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cerrar" name="cerrar" type="button" class="btn btn-default" data-dismiss="modal">Atras</button>
                    <!--button ng-click="validarCiCiudadano(registro);" data-dismiss="modal" type="button" class="btn btn-primary">Guardar</button-->
                </div>
            </div>
        </div>
    </div>
</div><!-- cierra  el page content  -->