<head>      
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>     
  <meta content="width=device-width, initial-scale=1.0" name=viewport> 
  <script type="text/javascript" src="../../../libs/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="../../../controller/autenticacion/config.js"></script>        
  <script type="text/javascript" src="../../../libs/login/login.js"></script>  
</head>
<body>  
  <style> 
    #pagewrap {  
      width: 94%;
    } 
    #content { 
      width: 80%;
    } 
    #asunto { 
      width: 100%;
    }
  </style>
<script>
  var numero = "";
  var captchaerror=""; 
  var tiemporespuesta = null;
  var ErrorCapchasXX  = "";
  var SuccesCapchasxx = "";
  var habGuardar1 = ""; 
  function resetPassword()
  {    
    $.blockUI.defaults.baseZ = 4000;
    $.blockUI({ message: '<h1><img src="img/cargando.gif" width="45" height="45" /></h1>' });
    var captch  = $("#resultadoC").val();
    var id = numero;
    var verCaptcha = new captcha();
    verCaptcha.identificador = id;
    verCaptcha.respuesta = captch;
    verCaptcha.verificarCaptcha(function(resultado)
    {
      json = JSON.parse(resultado);
      if(json.success[0] == undefined)
      {
        sweetAlert("", "Error en el captcha intentar de nuevo por favor", "warning");
        obtCaptha();
        $.unblockUI();
      }
      else
      {
        guardarDatos2();
      }
    });
  }
  var idUsusario = "1";
  function llenarlogin()
  { 
    if(sessionStorage.getItem("TIPO_PERSONA") == 'NATURAL')
    {
      $("#nombreCompleto").val(sessionStorage.getItem("US_NOMBRE"));
      $("#documento").val(sessionStorage.getItem("CICIUDADANO"));
      $("#correo").val(sessionStorage.getItem("US_EMAIL")); 
      idUsusario = sessionStorage.getItem("IDUSUSARIO");
    }
    else
    {
      $("#nombreCompleto").val(sessionStorage.getItem("US_NOMBRE"));
      $("#documento").val(sessionStorage.getItem("NITCIUDADANO"));
      $("#correo").val(sessionStorage.getItem("US_EMAIL")); 
      idUsusario = sessionStorage.getItem("IDUSUSARIO");
    }
  }
  function noVacio()
  {
    var correo2  = $("#correo").val();    
    var estadoDenuncia  = $("#detalleSoporte").val(); 
    if( estadoDenuncia != "" && correo2 != "" )
    {
       document.getElementById("resultadoC").disabled = false;
    }
    else
    {
      document.getElementById("resultadoC").disabled = true;
    }
  }
  function getlimpiareRROR()
  {   
    //var correo = $("#prsCorreo").val();
    var captch  = $("#resultadoC").val();    
    if( captch != "")
    {
      document.getElementById("EnvRes").disabled = false;
    }
    else
    {
      document.getElementById("EnvRes").disabled = true;
    }
  }
  function obtCaptha()
  { 
    $("#resultadoC").val('');
    var objCaptcha = new captcha();
    objCaptcha.obtcaptcha(function(resultado)
    {
      json = JSON.parse(resultado);
      partes = json.success[0].sp_captcha_porx1.split(',');
      numero = partes[0].substring(1);
      i1=(partes[2]+ "," + partes[3]);
      i2=(partes[4] + "," + partes[5]);
      document.getElementById('img2').src = i1.substring(1, i1.length - 1);
      document.getElementById('img1').src = i2.substring(1, i2.length - 2);
      var lengua = "";
      if(partes[1] == 'A') {
          lengua = 'AYMARA';
      } else if(partes[1] == 'Q') {
          lengua = 'QUECHUA';
      } else if(partes[1] == 'G'){
          lengua = 'GUARANI';
      } else if(partes[1] == 'C'){
          lengua = 'CASTELLANO';
      } else {
      }
      document.getElementById('img1').title = "Palabra en " + lengua;
      document.getElementById('resultadoC').placeholder = "Capcha: " + lengua + " CASTELLANO";      
    });
  } 
  function verificarKeyPress(captch)
  {
    var id = numero;
    var verCaptcha = new captcha();
    verCaptcha.identificador = id;
    verCaptcha.respuesta = captch;
    verCaptcha.verificarCaptcha(function(resultado)
    {
      json = JSON.parse(resultado);
      var nroregsitros = json.success.length;
      if(nroregsitros == 0)
      {
        habGuardar1 = true;
        ErrorCapchasXX = "Verifique el Capcha";
        SuccesCapchasxx="";
        document.getElementById("msg_capcha").innerHTML = ErrorCapchasXX;            
        document.getElementById("EnvRes").disabled = true;
      }
      else
      {
        habGuardar1 = false;
        ErrorCapchasXX = "";
        SuccesCapchasxx="Capcha correcto";
        document.getElementById("msg_capcha").innerHTML = SuccesCapchasxx;           
        document.getElementById("EnvRes").disabled = false;                     
      }
    });
  }
  function VerificarCapchaa (datos)
  {
    document.getElementById("EnvRes").disabled = true;
    var captch  = $("#resultadoC").val();
    if(captch.length == 0)
        ErrorCapchasXX = "";
    if(captch.length > 3)
    {
      clearTimeout(tiemporespuesta);
      tiemporespuesta = setTimeout(verificarKeyPress.bind(undefined, captch), 1500);
    }
  };
  function limpiarCamposRecuperacion()
  {    
    document.getElementById("resultadoC").disabled = true;
    document.getElementById("EnvRes").disabled = true;  
    document.getElementById("resultadoC").value = '';
    document.getElementById("resultadoC").value = '';
  }
  $(document).ready(function() {
    obtCaptha();
    getlimpiareRROR();
    noVacio(); 
    llenarlogin();
  }); 
</script>
  <link rel="stylesheet" href="../../../libs/css/sweetalert.min.css"/>
  <link href="img/bootstrap.min.css" rel="stylesheet"> 
<script >       
function guardarDatos2(){ 
  var tipoForm = $("#tipoForm").val(); 
  var fromIn = $("#fromIn").val();
  var procedencia = $("#procedencia").val();  
  var nombreCompleto = $("#nombreCompleto").val();
  var documento = $("#documento").val();  
  var telefono = $("#telefono").val();
  var correo = $("#correo").val();  
  var detalleSoporte = $("#detalleSoporte").val();
  if(documento ==  '')
  {    
    documento = 0;    
  }
  if(telefono ==  '')
  {    
    telefono = 0;    
  }
  var xdts_datos = '{"tipoForm":"'+tipoForm+'", "idUsusario":"'+idUsusario+'", "procedencia": "'+procedencia+'",  "nombreCompleto": "'+nombreCompleto+'", "documento":"'+documento+'", "telefono": "'+telefono+'", "correo":"'+correo+'",  "detalleCaso":"'+detalleSoporte+'" }'; 
  var xdts_datos = JSON.stringify(xdts_datos);
  
      $.ajax({   
        type        : 'POST',            
        url         : jsonURLS.CONEXION_API_PG_RC + 'wsRCPG/guardar_denuncia',  
        data: { 
                "xdts_tipo": tipoForm,
                "xdts_nombre_completo": nombreCompleto,
                "xdts_fono": telefono,
                "xdts_referencia": "Solicitud Soporte",
                "xdts_contenido": "Solicitud Soporte",
                "xdts_url_evidencia": " ",
                "xdts_usr_id": 1,
                "xdts_tipo_detalle": detalleSoporte,
                "xdts_datos": xdts_datos
            },
        dataType    : 'json',
        success: function(dataIN) {  
          limpiar(); 
          obtCaptha();           
          document.getElementById("EnvRes").disabled = true;
          noVacio();      
          llenarlogin();
          $.unblockUI();
          swal("Enviado!", "Su solicitud fue enviada correctamente", "success");                   
        },
        error: function(result) {
          $.unblockUI();
        }
      });
} 
function limpiar()
{ 
  $("#nombreCompleto").val('');
  $("#documento").val(''); 
  $("#direccion").val(''); 
  $("#telefono").val('');
  $("#correo").val('');  
  $("#detalleSoporte").val('');
}
function solonumeros(e){
  var key = window.event ? e.which : e.keyCode;
  if(key < 48 || key > 57)
    e.preventDefault();
}

</script>
<div style="max-width:960px; min-width:320px; margin:auto" id="content" class="border border-warning rounded"> 
  <br>
  <div class="form-group">
    <label  class="col-sm-12 control-label"><center><H2>Soporte iGob 24/7</H2></center></label>
    <input   id="esLibres"  hidden>
  </div> 
  <center> <div class="col-sm-11">  
  </div></center>
  <br> 
  <div class="form-group row">
    <select class="form-control" id="fromIn" hidden>
      <option value="IGOB" selected="selected" > IGOB</option>
    </select>
    <select class="form-control" id="procedencia" hidden>
      <option value="INTERNA" selected="selected" > INTERNA</option>
    </select>
    <select class="form-control" id="tipoForm" hidden>
      <option value="SOPORTE" selected="selected" > SOPORTE</option>
    </select>
    <input type="text" class="form-control"  id="nombreCompleto" placeholder="Nombre Completo" hidden>     
    <input type="text" class="form-control" id="documento" placeholder="numero Carnet" onkeypress="solonumeros(event);" hidden> 
    <input type="text" class="form-control" id="telefono" maxlength="8"  placeholder="Numero de contacto"  onkeypress="solonumeros(event);" hidden>
  </div>   
  <div class="form-group row">
    <label  class="col-sm-1 col-form-label"></label>
    <label  class="col-sm-3 control-label">Correo: *</label>
    <div class="col-sm-6">
      <input type="correo" class="form-control" id="correo" placeholder="Correo electronico" onKeyPress="noVacio()">
    </div>
  </div> 
  <div class="form-group row">
    <label  class="col-sm-1 col-form-label"></label>
    <label  class="col-sm-3 control-label">Detalle de la solicitud :   *</label>
    <div class="col-sm-6">
      <textarea type="text" class="form-control" id="detalleSoporte" placeholder="Detalle Solicitud" onKeyPress="noVacio()"></textarea>
    </div>
  </div>    
  <center><div class="container" >
    <div  class="center-block">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table users table-hover border border-warning " >  
            <tr> 
              <th class="border border-warning"><img id="img1" class="img-responsive" src="" title="" width="200" height="35"></th>   
              <th class="border border-warning"> <img id="img2" class="img-responsive" src=""  title="" width="200" height="35"></th>  
            </tr>
          </table>  
          <input   size="50"  id="resultadoC" name="resultadoC" type="text"    placeholder="" ng-model="resultadoC"  onkeyup="VerificarCapchaa(this)" onKeyPress="getlimpiareRROR()" required/> <button  id="btnObtenerCapcha" type="button" class="btn btn-warning"  onClick="obtCaptha()"> <img id="img3" src="img/recarga.png"  width="20" height="20" title=""> </button> 
          <p id="msg_capcha"></p>             
        </div>
      </div>
    </div>
  </div></center>
  <div class="modal-footer">
    <button id= "EnvRes"  onClick="resetPassword();" disabled="true" type="submit"  onclick="guardarDatos2()" class="btn btn-warning text-white"  >Enviar</button>        
  </div>  
  <center><img src="img/logo.png" width="200" height="80"/></center>
</div>
<script type="text/javascript" src="../../../libs/js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="../../../libs/js_one/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../libs/js/sweetalert.min.js"></script>