<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
      <script type="text/javascript" src="../../view/servicios/aetiendav/personanatural/appaepermisoexcepnatural.js"></script>
      <script type="text/javascript" src="../../libs/js/jic.js"></script>
      <script type="text/javascript" src="../../libs/js/jszip.js"></script> 
  </head> 

<style>
  input:required:invalid {
    border: 1px solid red;
  }
  input:required:valid {
    border: 1px solid green;
  }
  select:required:invalid {
    border: 1px solid red;
  }
  select:required:valid {
    border: 1px solid green;
  }
  .form-group {
    padding-left: 8px;
  }
</style> 

<script type="text/javascript">
      $('.custom-upload input[type=file]').change(function(){
        $(this).next().find('input').val($(this).val());
        angular.element(this).scope().cambiarFile(this, $(this).val());
    });
    function iniciarLoadFyle(){
        $('.custom-upload input[type=file]').change(function(){
        $(this).next().find('input').val($(this).val());
        angular.element(this).scope().cambiarFile(this, $(this).val());
        });
    }

    $('#file-input').change(function(e) {
        var id = 0;
        angular.element(this).scope().addImage(e,id);
    });
</script> 


<div id="aevirtual" ng-controller="aepermisoexcepcionalnaturalController" data-ng-init="cargarDatosPermiso();">
  <div class="ibox float-e-margins">
    <div class="ibox-title cafeSuave" style="border-bottom: solid 0px #E2E2E2 !important;">
        <h4>REGISTRO DE REACTIVACION DE ACTIVIDAD ECONOMICA PARA PRESTACION DE SERVICIOS</h4>
    </div>
    <div class="ibox-content">
      <form name="signupForm"  ng-controller="serviciosControllerTVAE" class="form-horizontal" role="form" novalidate>                   
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" >
                        <label for="url" >PERMISO EXCEPCIONAL</label>
                        
                    </div>
                </div>
                
                <div class="col-md-12" ng-show="mostrarMsgNuevaActividad">
                    <div class="form-group" >
                        <label class="col-sm-12 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"></font></label>
                        <div class="col-sm-12" align="left">
                            <div class="alert alert-danger fade in">
                                <a href="" class="close" data-dismiss="alert">&times;</a>
                                {{txtMsgDataNuevaActividad}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                  <div  class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><B>SELECCIONE LA ACTIVIDAD ECONOMICA PARA LA SOLICITUD DE HABILITACION</B></div>
                        <div class="panel-body" ng-disabled="true">
                            <table  ng-table="tblTramites" class="table  table-hover" id="lstActividadEconomica">
                                <tr style="cursor: pointer;" ng-repeat="tramite in $data  | filter:query " ng-style="tramite.IdActividad==sIdAeGrilla && {'background-color':'rgb(0, 185, 194 ,0.2)','font-color':'#A2D5AE'}"><!--cambios-->
                                    <td data-title="'No'" ng-click="selActividadEconomica(tramite)">{{tramite.Nro}}</td>
                                    <td data-title="'ID ACTIVIDAD'" ng-click="selActividadEconomica(tramite)">{{tramite.IdActividad}}</td>
                                    <td data-title="'DIRECCION'" ng-click="selActividadEconomica(tramite)">{{tramite.Direccion}}</td>
                                    <td data-title="'Descripcion'" ng-click="selActividadEconomica(tramite)">{{tramite.Descripcion}}</td>
                                    <td data-title="'Deuda'" ng-click="selActividadEconomica(tramite)">{{tramite.deudaActividad}} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                    <legend>DATOS SOLICITANTE:</legend>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_27}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_pri_nom_prop" id="f01_pri_nom_prop" name="f01_pri_nom_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_28}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_ape_pat_prop" id="f01_ape_pat_prop" name="f01_ape_pat_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_29}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_ape_mat_prop" id="f01_ape_mat_prop" name="f01_ape_mat_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_09}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_tip_doc_prop" id="f01_tip_doc_prop" name="f01_tip_doc_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_10}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_num_dos_prop" id="f01_num_dos_prop" name="f01_num_dos_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_11}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_expedido_prop" id="f01_expedido_prop" name="f01_expedido_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_12}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_email_prop" id="f01_email_prop" name="f01_email_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_13}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_cel_prop" id="f01_cel_prop" name="f01_cel_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                
                <!-- datos de la direccion del contribuyente-->
                <div class="col-md-4" ng-show="false">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_14}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_macro_des" id="f01_macro_des" name="f01_macro_des" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                            <input type="hidden" ng-model="datos.f01_macro" id="f01_macro" name="f01_macro" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                        <span style="color:red" ng-show="signupForm.f01_macro.$invalid">
                            <span class="error" ng-show="signupForm.f01_macro.$invalid">{{translateMensajes.txt_12_15}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4" ng-show="false">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_16}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_distrito_desc" id="f01_distrito_desc" name="f01_distrito_desc" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                            <input  type="hidden"  ng-model="datos.f01_distrito" id="f01_distrito" name="f01_distrito" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                        <span style="color:red" ng-show="signupForm.f01_distrito.$invalid">
                            <span class="error" ng-show="signupForm.f01_distrito.$invalid">{{translateMensajes.txt_12_15}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_17}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_zon_prop_valor" id="f01_zon_prop_valor" name="f01_zon_prop_valor" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                            <input  type="hidden" ng-model="datos.f01_zona" id="f01_zona" name="f01_zona" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                        <span style="color:red" ng-show="signupForm.f01_zona.$invalid">
                            <span class="error" ng-show="signupForm.f01_zona.$invalid">{{translateMensajes.txt_12_15}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_18}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_tip_via_prop" id="f01_tip_via_prop" name="f01_tip_via_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                        <span style="color:red" ng-show="signupForm.f01_tip_via_prop.$invalid">
                            <span class="error" ng-show="signupForm.f01_tip_via_prop.$invalid">{{translateMensajes.txt_12_15}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_19}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_nom_via_prop" id="f01_nom_via_prop" name="f01_nom_via_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                        <span style="color:red" ng-show="signupForm.f01_nom_via_prop.$invalid">
                            <span class="error" ng-show="signupForm.f01_nom_via_prop.$invalid">{{translateMensajes.txt_12_15}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >{{translateTitulos.lbl_12_20}}:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_num_prop" id="f01_num_prop" name="f01_num_prop" class="form-control"  width="30%" height="30" ng-disabled="true"/>
                        </div>
                        <span style="color:red" ng-show="signupForm.f01_num_prop.$invalid">
                            <span class="error" ng-show="signupForm.f01_num_prop.$invalid">{{translateMensajes.txt_12_15}}</span>
                        </span>
                    </div>
                </div>


                <div class="col-md-12">
                    <legend>DATOS DE LA ACTIVIDAD ECONOMICA </legend>
                </div>

                <div class="col-md-4">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px">  </font>
                        <label for="url" >NUMERO PMC DE LICENCIA DE FUNCIONAMIENTO:</label>
                        <div class="controls">
                            <input type="text" ng-model="datos.f01_num_pmc" id="f01_num_pmc" name="f01_num_pmc" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30" ng-disabled="true" requerid />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px">  </font>
                        <label for="url" >NIT:</label>
                        <div class="controls">
                            <input type="text" ng-model="datos.f01_nit" id="f01_nit" name="f01_nit" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30" ng-disabled="desabilitado" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >DENOMINACION:</label>
                        <div class="controls">
                            <input type="text" ng-model="datos.f01_raz_soc" id="f01_raz_soc" name="f01_raz_soc" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30" ng-disabled="true" required/>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group" >
                        <label for="url" >TIPO DE LICENCIA:</label>
                        <div class="controls">
                            <input type="text" ng-model="datos.f01_tipo_lic_descrip" id="f01_tipo_lic_descrip" name="f01_tipo_lic_descrip" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30"  ng-disabled="true" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                        <label for="url">TIPO DE CATEGORIA:</label>
                        <div class="controls">
                            <input type="text" ng-model="datos.f01_categoria_agrupada_descrip" id="f01_categoria_agrupada_descrip" name="f01_categoria_agrupada_descrip" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30"  ng-disabled="true" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="url" >ACTIVIDAD DESARROLLADA:</label>
                        <div class="controls">
                            <input type="text" ng-model="datos.f01_categoria_agrupada_descripcion" id="f01_categoria_agrupada_descripcion" name="f01_categoria_agrupada_descripcion" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30"  ng-disabled="true" required/>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" align="left">
                    <div class="form-group" class="col-md-12">                                   
                            <div class="col-md-12">
                                <div class="form-group" >
                                    <input type="checkbox" ng-model="datos.f01_venta_productos" name="f01_venta_productos" value="VP" ng-disabled="desabilitado" required/>VENTA DE PRODUCTOS A DOMICILIO
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" >
                                    <input type="checkbox" ng-model="datos.f01_venta_recojo" name="f01_venta_recojo" value="VR" ng-disabled="desabilitado" required/>VENTA PARA RECOJO
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" >
                                    <input type="checkbox" ng-model="datos.f01_distribucion_propia" name="f01_distribucion_propia" value="DP" ng-disabled="desabilitado" required/>DISTRIBUCION CON MOVILIDAD PROPIA
                                <br>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <legend>CROQUIS DE UBICACION: </legend>
                </div>
                <label class="col-sm-4" type ="hidden">UBICACIÓN DE LA ACTIVIDAD ECONÓMICA</label>
                <div class="col-md-12" >
                    <div class="col-md-1" >
                        <br><br><br><br><br><br><br><br><br>
                        <font color="#FF0000" size="4px" align="center"> * </font>
                    </div>
                    <div class="col-md-10">                                    
                        <div id="map_principal" ng-disabled="desabilitado"  style="height: 600px; width:auto; margin: 10px 5px 5px 5px"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input  name="busqueda_p" id="busqueda_p" class="form-control" type="text" placeholder=" INTRODUZCA NOMBRE DE ZONA" ><br>
                            <label id="mensaje_zona" style="display:none;">No se encuentra datos de zona...</label>
                        </div>
                        <div class="col-sm-6">
                            <span class="input-group-btn"><br>
                              <button class="btn btn-info" type="button" id="boton1" name="boton1" ng-click="buscar_ubicacion_p();" ><i class="fa fa-search">Buscar</i></button>
                            </span>
                        </div>
                    </div>
                    
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                </div>

                <input ng-model="datos.INT_AC_latitud" id="INT_AC_latitud" name="INT_AC_latitud" class="form-control" type="hidden" readonly>
                <input ng-model="datos.INT_AC_longitud" id="INT_AC_longitud" name="INT_AC_longitud" class="form-control" type="hidden" readonly>
                <!-- UBICACION DE ACTIVIDADES ECONOMICAS -->
                <div class="col-md-12">
                    <legend>{{translateTitulos.lbl_12_39}}:</legend>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px"> * </font>
                        <label for="url" >MACRODISTRITO:</label>
                        <div class="controls">
                            <select
                                id="f01_macro_act"
                                name="f01_macro_act"
                                placeholder="Macrodistrito" ng-model="datos.f01_macro_act"
                                class="form-control"
                                ng-disabled="desabilitadoO || desabilitado"
                                ng-change="distritoZonas(datos.f01_macro_act);GetValueMacrodistrito(datos.f01_macro_act);"
                                required>
                                <option value="">--Seleccionar--</option>
                                <option ng-repeat="macro in aMacrodistritos | orderBy:['nombre','mcdstt_id']" value="{{macro.mcdstt_id}}">{{macro.mcdstt_macrodistrito}}</option>
                            </select>
                        <input type="hidden" ng-model="datos.f01_idCodigoZona" id="f01_idCodigoZona" name="f01_idCodigoZona" class="form-control" required/>
                        <input type="hidden" ng-model="datos.f01_macro_act_descrip" id="f01_macro_act_descrip" name="f01_macro_act_descrip" class="form-control" style="text-transform:uppercase;"/>                     
                        </div>
                        <span style="color:red" ng-show="signupForm.f01_macro_act.$invalid">
                            <span class="error" ng-show="signupForm.f01_macro_act.$invalid">{{translateMensajes.txt_12_15}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px"> * </font>
                        <label for="url" >ZONA:</label>
                        <div class="controls">
                            <select id="f01_zona_act_descrip"
                                    name="f01_zona_act_descrip"
                                    placeholder="Distrito - Zona"
                                    ng-model="datos.f01_zona_act_descrip"
                                    class="form-control"
                                    ng-options="disZona.dist_nombre as disZona.dist_nombre for disZona in aDistritoZona | orderBy:['nombre','dist_nombre']"
                                    ng-change="actulizarIdDistrito();"
                                    ng-disabled="desabilitado"  required>
                                <option value="">--Seleccionar--</option>
                            </select>
                      
                        <input type="hidden" ng-model="datos.f01_distrito_act" id="f01_distrito_act" name="f01_distrito_act" class="form-control" style="text-transform:uppercase;" width="30%" height="30" ng-disabled="desabilitadoO || desabilitado"  required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px"> * </font>
                        <label for="url" >TIPO DE VIA:</label>
                        <div class="controls">
                            <select id="f01_tip_via_act" class="form-control" ng-model="datos.f01_tip_via_act"  name="f01_tip_via_act" ng-disabled="desabilitado" required  ng-change="cargarNombVia(datos.f01_tip_via_act, datos);">
                                <option value="">--Seleccionar--</option>
                                <option value="AV">AVENIDA</option>
                                <option value="CA">CALLE</option>
                                <option value="CL">CALLEJON</option>
                                <option value="PL">PLAZA</option>
                                <option value="CN">CANCHA</option>
                                <option value="PR">PARQUE</option>
                                <option value="PA">PASAJE</option>
                                <option value="ND">NO DEFINIDO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >V&Iacute;A: <font color="#FF0000"> * </font></label>
                        <div class="controls">
                            <select
                                id="f01_num_act"
                                name="f01_num_act"
                                placeholder="-- Seleccione --"
                                ng-model="datos.f01_num_act"
                                class="form-control"
                                ng-options="dato.nombVia as dato.nombVia for dato in datosNombVia | orderBy:['nombre','nombVia']"
                                ng-change="cargarNombViaTxt(datos.f01_num_act)"
                                ng-disabled="desabilitado"
                                required>
                                <option style="display:none" value="">--Seleccione--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" ng-show="datos.f01_num_act == 'NINGUNO'">
                    <div class="form-group" >
                        <font color="#FF0000" size="4px"> * </font>
                        <label for="url" >NOMBRE DE VIA:</label>
                        <div class="controls">
                          <input type="text" ng-model="datos.f01_num_act_n" id="f01_num_act_n" name="f01_num_act_n" class="form-control" style="text-transform:uppercase;" width="30%" height="30" ng-disabled="desabilitadoO || desabilitado"  required/>
                        </div>
                    </div>
                </div>
                <div ng-show="datos.f01_num_act == 'OTRO'">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="url" >NOMBRE DE VIA :</label>
                            <div class="controls">
                              <input type="text" ng-model="datos.OTRO_VIA" id="OTRO_VIA" name="OTRO_VIA" class="form-control" style="text-transform:uppercase;" width="30%" height="30" ng-disabled="desabilitadoO || desabilitado"  required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <font color="#FF0000" size="4px"> * </font>
                        <label for="url" >NUMERO DE DOMICILIO:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_num_act1" id="f01_num_act1" name="f01_num_act1" class="form-control" style="text-transform:uppercase;" width="30%" height="30" ng-disabled="desabilitado" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <font color="#FF0000" size="4px"></font>
                        <label for="url" >NOMBRE DEL EDIFICIO:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_edificio_act" id="f01_edificio_act" name="f01_edificio_act" class="form-control" style="text-transform:uppercase;" width="30%" height="30" ng-disabled="desabilitado"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="url" >BLOQUE:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_bloque_act" id="f01_bloque_act" name="f01_bloque_act" class="form-control" style="text-transform:uppercase;" width="30%" height="30" ng-disabled="desabilitado"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="url" >PISO:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_piso_act" id="f01_piso_act" name="f01_piso_act" class="form-control" style="text-transform:uppercase;" width="30%" height="30" ng-disabled="desabilitado"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="url" >NUMERO DE DEPARTAMENTO:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_dpto_of_loc" id="f01_dpto_of_loc" name="f01_dpto_of_loc" class="form-control" style="text-transform:uppercase;" width="30%" height="30" ng-disabled="desabilitado"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >TELEFONO:</label>
                        <div class="controls">
                            <input ng-model="datos.f01_tel_act1" id="f01_tel_act1" maxlength="7" name="f01_tel_act1" placeholder="Teléfono ej.22451630" class="form-control"  width="30%" height="30" onkeyUp=" valNumeroTelefono(this);"  ng-disabled="desabilitado"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                        <label for="url" >REFERENCIA DE LA DIRECCION DE LA ACTIVIDAD ECONOMICA CON MAYOR PRECISION:</label>                        
                        <div class="controls">
                            <input ng-model="datos.f01_casilla" id="f01_casilla" name="f01_casilla"  class="form-control"  width="30%" height="30" ng-disabled="desabilitadoO || desabilitado" required onchange="document.signupForm.btnFormLicencia.disabled=true;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" >
                       
                        <label for="url" >DESCRIPCION DEL SERIVICIO PRESTADO:</label>
                        <div class="controls">
                            <input type="text" ng-model="datos.f01_productosElaborados" id="f01_productosElaborados" name="f01_productosElaborados" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30" ng-disabled="desabilitado" required/>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >CORREO ELECTRONICO:</label>
                        <div class="controls">
                            <input type="text" ng-model="datos.f01_correo_electronico_ae" id="f01_correo_electronico_ae" name="f01_correo_electronico_ae" class="form-control" value=""  width="30%" height="30" ng-disabled="desabilitado" required/>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group" >
                        <label for="url" >SELECCIONE EL TIPO DE ACTIVIDAD ECONOMICA:</label>
                        <div class="controls">
                            <select id="f01_tipo_act_ae" class="form-control" ng-model="datos.f01_tipo_act_ae"  name="f01_tipo_act_ae"  ng-disabled="desabilitado" required>
                                    <option value="">--Seleccionar--</option>
                                    <option value="EXPALI"> EXPENDIO DE ALIMENTOS </option>
                                    <option value="SERDEL"> SERVICIOS DE DELIVERY </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-show="datos.f01_tipo_act_ae == 'EXPALI'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="url" >ACTIVIDAD PRINCIPAL:</label>
                            <div class="controls">
                                <input type="text" ng-model="datos.f01_categoria_agrupada_descripcion" id="f01_categoria_agrupada_descripcion" name="f01_categoria_agrupada_descripcion" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30"  ng-disabled="desabilitado" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="url" >CANTIDAD DE PERSONAL DEPENDIENTE QUE PRESTARA EL SERVICIO EN EL ESTABLECIMIENTO LOS CUALES DEBEN CONTAR CON SU CARNET DE MANIPULACION GAMLP:</label>
                            <div class="controls">
                                <input type="text" ng-model="datos.f01_cantidad_personal" id="f01_cantidad_personal" name="f01_cantidad_personal" class="form-control" style="text-transform:uppercase;" value=""  width="30%" height="30"  ng-disabled="desabilitado" required/>
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6">
                        <div class="form-group">
                            <label for="url" >ESTABLECER LAS MODALIDADES DE PAGO HABILITADAS:</label>
                            <div class="controls">
                                <select id="f01_modalidad_pago" class="form-control" ng-model="datos.f01_modalidad_pago"  name="f01_modalidad_pago"  ng-disabled="desabilitado" required>
                                    <option value="">--Seleccionar--</option>
                                    <option value="EFECTIVO"> EFECTIVO </option>
                                    <option value="PAGOELEC"> PAGO ELECTRONICO </option>
                                    <option value="AMBOS"> AMBOS </option>
                                    <option value="OTROS"> OTROS </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <legend>DATOS VEHICULO(S): </legend>
                </div>
                <div class="col-md-12" id="">
                    <div class="ng-binding">
                        <div class="col-md-12">
                            <div class="form-group" >
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="url"> CARGAR FOTOGRAFÍA(S) FRONTAL Y LATERAL DE LOS VEHÍCULO(S) (Fotografías con buena resolución en un solo archivo formato PDF o DOC):</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group custom-upload">
                                            <input type="file" id="FILE_VEHICULO_FOTO" name="FILE_VEHICULO_FOTO" uploader-model="FILE_VEHICULO_FOTO" accept="image/*" style="display: none;">
                                            <div class="input-group">                   
                                                <input id="txt_FILE_VEHICULO_FOTO" name="txt_FILE_VEHICULO_FOTO" ng-model="datos.FILE_VEHICULO_FOTO" type="text" ng-disabled="true" class="form-control input-lg" required>
                                                    <span class="input-group-btn">
                                                        <a id="href_FILE_VEHICULO_FOTO" target="_blank"  href="">
                                                            <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover != null" ng-click="mostrarimg('FILE_VEHICULO_FOTO');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                          </a>
                                                          <button id="btn_FILE_VEHICULO_FOTO" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_VEHICULO_FOTO');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                                    </span>
                                            </div>                      
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                       <label for="url">CARGAR EL PERMISO DE CIRCULACIÓN VEHICULAR OTORGADO POR EL VICEMINISTERIO DE GOBIERNO DE TODOS LOS VEHÍCULOS (En un solo documento en formato PDF):</label>
                                    </div>
                                      <div class="col-md-8">
                                          <div class="form-group custom-upload">
                                              <input type="file" id="FILE_VEHICULO_PERMISO" name="FILE_VEHICULO_PERMISO" uploader-model="FILE_VEHICULO_PERMISO" accept="image/*" style="display: none;">
                                              <div class="input-group">
                                                  <input id="txt_FILE_VEHICULO_PERMISO" name="txt_FILE_VEHICULO_PERMISO" ng-model="datos.FILE_VEHICULO_PERMISO" type="text" ng-disabled="true" class="form-control input-lg" required>
                                                  <span class="input-group-btn">
                                                      <a id="href_FILE_VEHICULO_PERMISO" target="_blank"  href="">
                                                          <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('FILE_VEHICULO_PERMISO');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                      </a>
                                                      <button id="btn_FILE_VEHICULO_PERMISO" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_VEHICULO_PERMISO');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                                  </span>
                                              </div>
                                              
                                          </div>
                                      </div>
                                  </div>
                            </div>
                           
                            <br>
                            <div class="form-group" >
                                <div class="row">
                                    <div class="col-md-4">
                                       <label for="url">CARGAR DOCUMENTO(S) RUAT DE LOS VEHÍCULO(S) (Los documentos deben estar en solo archivo en formato PDF o DOC.):</label>
                                    </div>
                                      <div class="col-md-8">
                                          <div class="form-group custom-upload">
                                              <input type="file" id="FILE_RUAT_VEHICULO" name="FILE_RUAT_VEHICULO" uploader-model="FILE_RUAT_VEHICULO" accept="image/*" style="display: none;">
                                              <div class="input-group">
                                                  <input id="txt_FILE_RUAT_VEHICULO" name="txt_FILE_RUAT_VEHICULO" ng-model="datos.FILE_RUAT_VEHICULO" type="text" ng-disabled="true" class="form-control input-lg" required>
                                                  <span class="input-group-btn">
                                                      <a id="href_FILE_RUAT_VEHICULO" target="_blank"  href="">
                                                          <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('FILE_RUAT_VEHICULO');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                      </a>
                                                      <button id="btn_FILE_RUAT_VEHICULO" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_RUAT_VEHICULO');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                                  </span>
                                              </div>
                                              
                                          </div>
                                      </div>
                                  </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <br>
                <div class="col-md-12">
                    <label for="url">DEBE LLENAR EL FORMULARIO N° 1.1 PARA LOS VEHÍCULOS UTILIZADOS COMO DELIVERY: </label>
                    <p><a href="https://drive.google.com/open?id=1aqwUm2Kje-DIh5Z4WZxm86GNVYb9vC6p" target="_blank">Descargue Aquí FORM. N° 1.1</a></p>
                </div>
                <div class="col-md-12" id="">
                    <div class="ng-binding">
                            <div class="form-group" >
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                           <label for="url">CARGAR ARCHIVO EXCEL FORMULARIO N° 1.1 (DEBIDAMENTE LLENADO) *:</label>
                                        </div>
                                          <div class="col-md-8">
                                              <div class="form-group custom-upload">
                                                  <input type="file" id="FILE_FORMVH_EXCEL" name="FILE_FORMVH_EXCEL" uploader-model="FILE_FORMVH_EXCEL" accept="image/*" style="display: none;">
                                                  <div class="input-group">
                                                      <input id="txt_FILE_FORMVH_EXCEL" name="txt_FILE_FORMVH_EXCEL" ng-model="datos.FILE_FORMVH_EXCEL" type="text" ng-disabled="true" class="form-control input-lg" required>
                                                      <span class="input-group-btn">
                                                          <a id="href_FILE_FORMVH_EXCEL" target="_blank" href="">
                                                              <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('FILE_FORMVH_EXCEL');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                          </a>
                                                          <button id="btn_FILE_FOTOCOPIA_CI" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_FORMVH_EXCEL');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group" >
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                           <label for="url">EN EL CASO DE ACTIVIDADES ECONÓMICAS QUE ADQUIEREN LOS SERVICIOS DE EMPRESAS DE DELIVERY, DEBE CARGAR EL CONTRATO VIGENTE EN FORMATO PDF (LA EMPRESA DELIVERY DEBE CONTAR CON LAS AUTORIZACIONES PARA OPERAR Y ESTAR REGISTRADO EN EL GAMLP):</label>
                                        </div>
                                          <div class="col-md-8">
                                              <div class="form-group custom-upload">
                                                  <input type="file" id="FILE_CONTRATO_DELIVERY" name="FILE_CONTRATO_DELIVERY" uploader-model="FILE_CONTRATO_DELIVERY" accept="image/*" style="display: none;">
                                                  <div class="input-group">
                                                      <input id="txt_FILE_CONTRATO_DELIVERY" name="txt_FILE_CONTRATO_DELIVERY" ng-model="datos.FILE_CONTRATO_DELIVERY" type="text" ng-disabled="true" class="form-control input-lg" required>
                                                      <span class="input-group-btn">
                                                          <a id="href_FILE_CONTRATO_DELIVERY" target="_blank"  href="">
                                                              <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('FILE_CONTRATO_DELIVERY');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                          </a>
                                                          <button id="btn_FILE_CONTRATO_DELIVERY" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_CONTRATO_DELIVERY');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group" >
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                           <label for="url">CARGAR FOTOGRAFÍA DE FRENTE Y NÍTIDA DEL ROSTRO DEL SOLICITANTE SUJETANDO SU CÉDULA DE IDENTIDAD DEL LADO ANVERSO (CARILLA DE LA FIRMA Y FOTO), SIN LENTES, NI GORRA *:</label>
                                        </div>
                                          <div class="col-md-8">
                                              <div class="form-group custom-upload">
                                                  <input type="file" id="FILE_FOTO_SOLICITANTE" name="FILE_FOTO_SOLICITANTE" uploader-model="FILE_FOTO_SOLICITANTE" accept="image/*" style="display: none;">
                                                  <div class="input-group">
                                                      <input id="txt_FILE_FOTO_SOLICITANTE" name="txt_FILE_FOTO_SOLICITANTE" ng-model="datos.FILE_FOTO_SOLICITANTE" type="text" ng-disabled="true" class="form-control input-lg" required>
                                                      <span class="input-group-btn">
                                                          <a id="href_FILE_FOTO_SOLICITANTE" target="_blank"  href="">
                                                              <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('FILE_FOTO_SOLICITANTE');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                          </a>
                                                          <button id="btn_FILE_FOTO_SOLICITANTE" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_FOTO_SOLICITANTE');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group" >
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                           <label for="url">CARGAR FOTOGRAFÍAS DE LA LICENCIA DE CONDUCIR Y CÉDULA DE IDENTIDAD DEL (DE LOS) CONDUCTORES DE LOS VEHÍCULOS (En un solo documento en formato PDF) *:</label>
                                        </div>
                                          <div class="col-md-8">
                                              <div class="form-group custom-upload">
                                                  <input type="file" id="FILE_FOTO_LICENCIA_CI" name="FILE_FOTO_LICENCIA_CI" uploader-model="FILE_FOTO_LICENCIA_CI" accept="image/*" style="display: none;">
                                                  <div class="input-group">
                                                      <input id="txt_FILE_FOTO_LICENCIA_CI" name="txt_FILE_FOTO_LICENCIA_CI" ng-model="datos.FILE_FOTO_LICENCIA_CI" type="text" ng-disabled="true" class="form-control input-lg" required>
                                                      <span class="input-group-btn">
                                                          <a id="href_FILE_FOTO_LICENCIA_CI" target="_blank" href="">
                                                              <button id="" class="browse btn btn-primary input-lg" type="button" ng-show="btover1 != null" ng-click="mostrarimg('FILE_FOTO_LICENCIA_CI');" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                          </a>
                                                          <button id="btn_FILE_FOTOCOPIA_CI" class="btnupload browse btn btn-primary input-lg" type="button" ng-click="ejecutarFile('FILE_FOTO_LICENCIA_CI');"><i class="glyphicon glyphicon-upload" ></i> Subir</button>
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                </div>
                            </div>
                            <br>

                            <div class="modal fade" id="fo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{translateTitulos.lbl_05_05_05}}</span></button>
                                              <h4 class="modal-title" id="myModalLabel">{{translateTitulos.lbl_09_03_1}} (Anverso)</h4>
                                          </div>
                                          <img id="imgSalida" ng-src="{{archivoCI}}" width="100%" height="100%">
                                          <div class="modal-footer">
                                              <button id="{{translateTitulos.lbl_05_05_05}}" name="{{translateTitulos.lbl_05_05_05}}" type="button" class="btn btn-default" data-dismiss="modal">{{translateTitulos.lbl_05_05_05}}</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                        </div>
                    </div>
                    <input type="hidden" ng-model="datos.f01_tipo_act_ae_descrip" id="f01_nro_frm" name="f01_nro_frm" class="form-control">
                    <input type="hidden" ng-model="datos.f01_modalidad_pago_descrip" id="f01_nro_frm" name="f01_nro_frm" class="form-control">

                    <input type="hidden" ng-model="datos.f01_venta_productos_domicilio" id="f01_venta_productos_domicilio" name="f01_venta_productos_domicilio" class="form-control">
                    <input type="hidden" ng-model="datos.f01_venta_para_recojo" id="f01_venta_para_recojo" name="f01_venta_para_recojo" class="form-control">
                    <input type="hidden" ng-model="datos.f01_distribucion_movilidad_propia" id="f01_distribucion_movilidad_propia" name="f01_distribucion_movilidad_propia" class="form-control">

                
                    

            </div>

            <div class="col-md-12" align="right" ng-show = "botones != null">
                <button id="miFormGuardar"  ng-click="verificarCamposInternet(datos);" type="button" class="btn btn-success1 fa fab fa-save shake-little" name="formEnviar" ng-disabled="" tooltip="Guardar Formulario">
                <button id="btnFormLicencia"  ng-click="validarEnvio(datos);" data-dismiss="modal" type="button" class="btn btn-success1 fa fab fa-mail-forward shake-little" ng-disabled="" tooltip="Enviar Formulario" >
            </div> 
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
