
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        
        <script type="text/javascript" src="../../view/registro_ciudadano/productos/appProductos.js"></script>
        <script src="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.js"></script>
        <link rel="stylesheet" href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.core.css" />
        <link rel="stylesheet" href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.default.css" id="toggleCSS" />
        <style type="text/css">
            .main1
            {
                padding-bottom: 20px;
                padding-top: 20px;
                background: rgba(49, 212, 200, 0.15);
                padding-left: 15px;
                padding-right: 15px;
                /*color: #fff;*/
                border-radius: 10px;
            }
        </style>
        <script type="text/javascript">
            $('.custom-upload input[type=file]').change(function(){
                $(this).next().find('input').val($(this).val());
                angular.element(this).scope().cambiarFile(this, $(this).val());
            });
            function iniciarLoadFyle(){
                $('.custom-upload input[type=file]').change(function(){
                $(this).next().find('input').val($(this).val());
                angular.element(this).scope().cambiarFile(this, $(this).val());
                });
            }
            //$('.clockpicker').clockpicker();
        </script>

    </head>
    <div class="col-md-12" ng-controller="productosController" ng-init="inicioDocumentosArchivados();">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>MIS PRODUCTOS</h5>
                <button type="button" class="close" style="color: #222831; opacity: 1 !important"  data-dismiss="modal" ng-click="refrescar();">
                    <span class="fa fa-refresh fa-spin"></span>
                </button>
            </div>
            <br>
            <!--div class="col-md-12">En esta seccion encontrara los productos que esta ofreciendo en el sistema de ventas del GAMLP<br><br></div>
            <div --> <!--ng-show="valida == 0"-->
                <!--div class="col-sm-12" id="divMsj" style="padding: 20px 27px 9px 25px; display: none;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="main1" id="main1" style="font-size: 20px;">
                            <center><i class="fa fa-warning" style="color: #4bafb4;"></i> Usted no tiene ningun producto para la venta.</center>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>                     
                </div>
            </div-->
            <div > <!--ng-show="valida == 1"-->
              <!--label class="col-md-2 control-label">{{translateTitulos.lbl_022_13}}:</label>
              <div class="col-md-10">
                <input ng-model = "query1" id ="busca2" class="form-control" placeholder="" >
              </div-->
              <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Añadir producto" ng-click="nuevaAsigSglUsr();" data-target="#producto"> <i class="glyphicon glyphicon-plus"></i> Añadir Producto </a>
              <br>
              <div class="ibox-content">
                  <div class="table-responsive">
                    <table ng-table="tablaDocumentos" class="table table-striped responsive">
                        <thead>
                        </thead>
                        <tbody>
                            <tr class="column" ng-repeat="documento in $data | filter:query1">
                                <!--td data-title="'#'" class="text-center">&nbsp; {{$index+1}}</td-->

                                <!--button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only ng-binding">Cerrar</span></button>
                                <h4 class="modal-title ng-binding" id="myModalLabel">Añadir producto vvvvv</h4-->




                                <td data-title="'Opciones'" class="text-center">&nbsp; 
                                    <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Modificar producto" ng-click="updProducto(documento);" data-target="#producto"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Eliminar producto" ng-click="confirmarEliminar(documento);" data-target="#registroLotus"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                                <td data-title="'Producto'" class="text-left">&nbsp; {{documento.prd_nombrec}}</td>
                                <td data-title="'Descripción'" class="text-left">&nbsp; {{documento.prd_descripcionc}}</td>
                                <td data-title="'Precio'" class="text-left">&nbsp; {{documento.prd_precioc}}</td>
                                <td data-title="'Marca'" class="text-center">&nbsp; {{documento.prd_marcac}}</td>
                                <td data-title="'Categoria'" class="text-center">&nbsp; {{documento.prd_categoriac}}</td>
                                <td data-title="'Imagen'" class="text-center">&nbsp; <img src="{{documento.prd_imagen_pc}}" style="width:64px;"></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
            </div>
        </div>

        <div class="modal fade in" id="producto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only ng-binding">Cerrar</span></button>
                        <h4 class="modal-title ng-binding" id="myModalLabel">{{titulo}}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="product_name">Producto</label>  
                                  <div class="col-md-8">
                                  <input id="f01_producto" name="f01_producto" placeholder="Nombre del producto" ng-model="datos.f01_producto" class="form-control input-md" required="" type="text">
                                  </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="product_categorie">Categoria</label>
                                  <div class="col-md-8">
                                    <select id="f01_categoria" name="f01_categoria" ng-model="datos.f01_categoria" class="form-control">
                                        <option value="Comida">Comida</option>
                                        <option value="Vehículos">Vehículos</option>
                                        <option value="Prendas de vestir">Prendas de vestir</option>
                                    </select>
                                  </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="product_categorie">Actividad Economica</label>
                                  <div class="col-md-8">
                                    <select id="f01_ae" name="f01_ae" ng-model="datos.f01_ae" class="form-control">
                                        <option value="1">ae1</option>
                                        <option value="2">ae2</option>

                                    </select>
                                  </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="product_categorie">Sucursal</label>
                                  <div class="col-md-8">
                                    <select id="f01_sucursal" name="f01_sucursal" ng-model="datos.f01_sucursal" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>

                                    </select>
                                  </div>
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="product_description">Descripción</label>
                                  <div class="col-md-8">                     
                                    <textarea class="form-control" id="f01_descripcion" name="f01_descripcion" ng-model="datos.f01_descripcion"></textarea>
                                  </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="approuved_by">Precio</label>  
                                    <div class="col-md-8">
                                      <input id="precio" name="precio" ng-model="datos.f01_precio" placeholder="Precio en Bs." class="form-control input-md" required="" type="text">
                                    </div>
                                </div>
                                 <!-- File Button --> 
                                <!--div class="form-group">
                                  <label class="col-md-4 control-label" for="filebutton">Imagen Auxiliar 2</label>
                                  <div class="col-md-4">
                                    <input id="filebutton" name="filebutton" class="input-file" type="file">
                                  </div>
                                </div-->
                                <div class="form-group">
                                    <label id="lbl_f01_upload" class="col-md-4 control-label">Imagen Principal</label>
                                    <div class="col-md-8">
                                        <div class="form-group custom-upload">
                                            <input type="file" id="f01_upload1" name="f01_upload1" accept="image/*"  style="display: none;">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                                <input id="txt_f01_upload1" name="txt_f01_upload1"  ng-model="datos['txt_f01_upload1']"  type="text" placeholder="" class="form-control input-lg" disabled required>
                                                <span class="input-group-btn">
                                                    <a id="href_f01_upload1" ng-show="fileArRequisitos['f01_upload1'].url || data.idnro == 1 || data.idnro == 2" href="{{fileArRequisitos['f01_upload1'].url}}" target="_blank">
                                                    {{rmostrarviae}}
                                                        <button id="btn_f01_upload1" class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                    </a>
                                                    <button id="btn_f01_upload1" ng-disabled="data.idnro == 1 || data.idnro == 2 || desabilitado" ng-click="ejecutarFile('f01_upload1', 'data' + $data.resvalor)" class="btnupload browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label id="lbl_f01_upload2" class="col-md-4 control-label">Imagen Auxiliar 1</label>
                                    <div class="col-md-8">
                                        <div class="form-group custom-upload">
                                            <input type="file" id="f01_upload2" name="f01_upload2" accept="image/*"  style="display: none;">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                                <input id="txt_f01_upload2" name="txt_f01_upload2"  ng-model="datos['txt_f01_upload2']"  type="text" placeholder="" class="form-control input-lg" disabled required>
                                                <span class="input-group-btn">
                                                    <a id="href_f01_upload2" ng-show="fileArRequisitos['f01_upload2'].url || data.idnro == 1 || data.idnro == 2" href="{{fileArRequisitos['f01_upload2'].url}}" target="_blank">
                                                    {{rmostrarviae}}
                                                        <button id="btn_f01_upload2" class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                    </a>
                                                    <button id="btn_f01_upload2" ng-disabled="data.idnro == 1 || data.idnro == 2 || desabilitado" ng-click="ejecutarFile('f01_upload2', 'data' + $data.resvalor)" class="btnupload browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label id="lbl_f01_upload" class="col-md-4 control-label">Imagen Auxiliar 2</label>
                                    <div class="col-md-8">
                                        <div class="form-group custom-upload">
                                            <input type="file" id="f01_upload3" name="f01_upload3" accept="image/*"  style="display: none;">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                                <input id="txt_f01_upload3" name="txt_f01_upload3"  ng-model="datos['txt_f01_upload3']"  type="text" placeholder="" class="form-control input-lg" disabled required>
                                                <span class="input-group-btn">
                                                    <a id="href_f01_upload3" ng-show="fileArRequisitos['f01_upload3'].url || data.idnro == 1 || data.idnro == 2" href="{{fileArRequisitos['f01_upload3'].url}}" target="_blank">
                                                    {{rmostrarviae}}
                                                        <button id="btn_f01_upload3" class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                    </a>
                                                    <button id="btn_f01_upload3" ng-disabled="data.idnro == 1 || data.idnro == 2 || desabilitado" ng-click="ejecutarFile('f01_upload3' + data.resid, 'data' + $data.resvalor)" class="btnupload browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-upload"></i> Subir</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-show="nuevo" type="button" name="singlebutton" class="btn btn-primary ng-binding" ng-click="registrarProducto(datos)">Registrar</button>
                        <button ng-show="update" ng-click="actualizarProducto(datos)" type="button" class="btn btn-primary" data-dismiss="modal">Modificar</button>
                        <!--button ng-show="update" ng-click="modificarProducto(datos)" type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="formularioUsuarios.user.$invalid || formularioUsuarios.uo.$invalid" >Modificar</button-->

                        <button type="button" class="btn btn-default ng-binding" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>