
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        
        <script type="text/javascript" src="../../view/registro_ciudadano/productos/appProductos.js"></script>
        <script src="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.js"></script>
        <link rel="stylesheet" href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.core.css" />
        <link rel="stylesheet" href="../../../app/view/servicios/varios/formularios/solicitudLotus/moustache/alertify/alertify.default.css" id="toggleCSS" />
        <style type="text/css">
            .main1
            {
                padding-bottom: 20px;
                padding-top: 20px;
                background: rgba(49, 212, 200, 0.15);
                padding-left: 15px;
                padding-right: 15px;
                /*color: #fff;*/
                border-radius: 10px;
            }
        </style>
    </head>
    <div class="col-md-12" ng-controller="productosController" ng-init="inicioDocumentosArchivados();">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>MIS PRODUCTOS</h5>
                <button type="button" class="close" style="color: #222831; opacity: 1 !important"  data-dismiss="modal" ng-click="refrescar();">
                    <span class="fa fa-refresh fa-spin"></span>
                </button>
            </div>
            <br>
            <!--div class="col-md-12">En esta seccion encontrara los productos que esta ofreciendo en el sistema de ventas del GAMLP<br><br></div>
            <div --> <!--ng-show="valida == 0"-->
                <!--div class="col-sm-12" id="divMsj" style="padding: 20px 27px 9px 25px; display: none;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="main1" id="main1" style="font-size: 20px;">
                            <center><i class="fa fa-warning" style="color: #4bafb4;"></i> Usted no tiene ningun producto para la venta.</center>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>                     
                </div>
            </div-->
            <div > <!--ng-show="valida == 1"-->
              <!--label class="col-md-2 control-label">{{translateTitulos.lbl_022_13}}:</label>
              <div class="col-md-10">
                <input ng-model = "query1" id ="busca2" class="form-control" placeholder="" >
              </div-->
              <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Añadir producto" ng-click="clsRegistrarNuevo();" data-target="#producto"> <i class="glyphicon glyphicon-plus"></i> Añadir Producto </a>

              <br><br><br><br><br>
              <div class="ibox-content">
                  <div class="table-responsive">
                    <table ng-table="tablaDocumentos" class="table table-striped responsive">
                        <thead>
                        </thead>
                        <tbody>
                            <!--tr class="column" ng-repeat="documento in $data | filter:query1 " ng-style="documento.vtiempo=='VENCIDO' && {'background-color':'#EDDADA','font-color':'#EDDADA'} || documento.vtiempo=='HOY' && {'background-color':'rgb(0, 185, 194 ,0.2)','font-color':'##E5A21D'}">
                                <td data-title="'#'" class="text-center">&nbsp; {{$index+1}}</td>
                                <td data-title="'Actividad Económica'" class="text-left">&nbsp; {{documento.vdoc_id_codigo}}</td>
                                <td data-title="'Sucursal'" class="text-left">&nbsp; {{documento.vdoc_proceso}}</td>
                                <td data-title="'Descripción'" class="text-left">&nbsp; {{documento.vdoc_nombre}}</td>
                                <td data-title="'Precio'" class="text-center">&nbsp; {{documento.vdoc_registro}}</td>
                                <td data-title="'Imagen'" class="text-center">&nbsp; {{documento.vfechafinpublicacion}}</td>
                            </tr-->
                            <tr class="column">
                                <td data-title="'Opciones'" class="text-center">&nbsp; 
                                    <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Modificar producto" ng-click="updProducto();" data-target="#registroLotus"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Eliminar producto" ng-click="updProducto();" data-target="#registroLotus"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                                <td data-title="'Actividad Económica'" class="text-left">&nbsp; Manaco</td>
                                <td data-title="'Sucursal'" class="text-left">&nbsp; Obrajes</td>
                                <td data-title="'Descripción'" class="text-left">&nbsp; Zapato escolar talla 36</td>
                                <td data-title="'Precio'" class="text-center">&nbsp; Bs.- 150</td>
                                <td data-title="'Imagen'" class="text-center">&nbsp; <img src=""> </td>
                            </tr>
                            <tr class="column">
                                <td data-title="'Opciones'" class="text-center">&nbsp; 
                                    <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Modificar producto" ng-click="updProducto();" data-target="#registroLotus"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Eliminar producto" ng-click="updProducto();" data-target="#registroLotus"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                                <td data-title="'Actividad Económica'" class="text-left">&nbsp; Manaco</td>
                                <td data-title="'Sucursal'" class="text-left">&nbsp; Obrajes</td>
                                <td data-title="'Descripción'" class="text-left">&nbsp; Zapato escolar talla 37</td>
                                <td data-title="'Precio'" class="text-center">&nbsp; Bs.- 150</td>
                                <td data-title="'Imagen'" class="text-center">&nbsp; <img src=""> </td>
                            </tr>
                            <tr class="column">
                                <td data-title="'Opciones'" class="text-center">&nbsp; 
                                    <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Modificar producto" ng-click="updProducto();" data-target="#registroLotus"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="btn btn-success ng-binding" data-toggle="modal" tooltip="Eliminar producto" ng-click="updProducto();" data-target="#registroLotus"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                                <td data-title="'Actividad Económica'" class="text-left">&nbsp; Manaco</td>
                                <td data-title="'Sucursal'" class="text-left">&nbsp; Calacoto</td>
                                <td data-title="'Descripción'" class="text-left">&nbsp; Zapato escolar talla 36</td>
                                <td data-title="'Precio'" class="text-center">&nbsp; Bs.- 150</td>
                                <td data-title="'Imagen'" class="text-center">&nbsp; <img src=""> </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
            </div>
        </div>

        <div class="modal fade in" id="producto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only ng-binding">Cerrar</span></button>
                        <h4 class="modal-title ng-binding" id="myModalLabel">Añadir producto</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label"></label>
                                <label class="col-sm-3 control-label">Actividad Económica:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="asunto">
                                        <option value="1" text="Zapateria Manaco" selected="selected">Zapateria Manaco</option>
                                        <option value="2" text="Venta de Vehiculos Nissan">Venta de Vehiculos Nissan</option>  
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label"></label>
                                <label class="col-sm-3 control-label">Sucursal:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="asunto">
                                        <option value="1" text="1" selected="selected">1</option>
                                        <option value="2" text="2">2</option>  
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label"></label>
                                <label class="col-sm-3 control-label">Categoria:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="asunto">
                                        <option value="1" text="Vehiculos" selected="selected">Vehiculos</option>
                                        <option value="2" text="Prendas de vestir">Prendas de vestir</option>  
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label"></label>
                                <label class="col-sm-3 control-label">Producto:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="producto" class="form-control">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label"></label>
                                <label class="col-sm-3 control-label">Descripción:</label>
                                <div class="col-sm-6">
                                    <textarea type="text" class="form-control" id="detalleDenuncia" placeholder="Detalle Denuncia" onkeypress="noVacio()"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label"></label>
                                <label class="col-sm-3 control-label">Precio:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="precio" class="form-control">
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default ng-binding" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>